<!--FH Button-->
<a id="bookNowLink" class="fareharbour button" href="https://fareharbor.com/embeds/book/scotlandscanyons/?full-items=yes">Book online</a>  
    
<script>
    document.getElementById("bookNowLink").addEventListener("click", function(event) {
        event.preventDefault(); // Prevent the default action of the link

        // Function to open the Lightframe
        function openFareHarborLightframe() {
            FH.open({
                shortname: 'scotlandscanyons', // Replace with your company's FareHarbor shortname
                fallback: 'simple'
            });
        }

        // Check if the script is already loaded
        if (!window.FH) {
            // Create the script element for FareHarbor Lightframe API
            var script = document.createElement('script');
            script.src = "https://fareharbor.com/embeds/api/v1/?autolightframe=yes";
            script.onload = function() {
                // Set up FH methods and open the Lightframe
                setupFareHarborMethods();
                openFareHarborLightframe();
            };
            document.body.appendChild(script);
        } else {
            // If the script is already loaded, just open the Lightframe
            openFareHarborLightframe();
        }
    });

    function setupFareHarborMethods() {
        FH.autoLightframe({
            className: 'fareharbour', // Activates Lightframe only for links with class 'fareharbour'
            callback: function(linkElement){
                console.log('FareHarbor link was clicked');
            }
        });

        // Function to close the Lightframe
        function closeFareHarborLightframe() {
            if (FH.close()) {
                console.log('Lightframe closed');
            } else {
                console.log('Lightframe was not open');
            }
        }
    }
</script>