<section class="textbox nobottompad">
    <div class="icon"></div>  
        <h2 class="heading">Photos from Dollar Glen</h2>
        <p class="heading">Explore the captivating beauty of Dollar Glen through our photo's from recent adventures, featuring some of the most picturesque and thrilling moments from one of our favorite canyons. Perfect for first-timers, these images showcase the accessible yet exhilarating world of canyoning.</p>
        <br>
</section>

<!--Gallery-->
<div class="elfsight-app-8515b55c-38ed-4744-a837-6a45749ba2b6" data-elfsight-app-lazy></div>
<p class="subtitle">Scroll through using the arrows and click on the photo to expand</p>