 <section class="textbox">
    <div class="icon"></div>
    <h3 class="heading">Photos From Our Recent Adventures</h3>
    <br>
    <div class="container">
        <p class="content">Our photos illustrate why canyoning is one of the best adventure activities in Scotland. Whether it's your first time or if you are a seasoned adventurer, Scotland has an ideal canyoning location for everyone. 
            <input type="checkbox" id="toggle-main" class="learn-more-checkbox">
            <label for="toggle-main" class="learn-more-btn">Read&nbsp;More&nbsp;&darr;</label>
            <span class="hidden-content"><br><br>Discover the excitement through these recent action shots from our adventures inlcuding...<br>
                <br><br>
                &#9733; Beginner group canyoning experiences near Edinburgh, Glasgow, and Fife,
                <br><br>
                &#9733; Fun family canyoning adventures in Dollar Glen and across Scotland,
                <br><br>
                &#9733; Wild, adrenaline-filled adventures in Perthshire and the Highlands,
                <br><br>
                &#9733; Skills training and team building for all levels in Scotland's canyoning classroom,
                <br> <br>
                &#9733; Private trips for solo travellers, couples, or families, 
                <br><br>
                &#9733; Ideal adventure activity experiences for groups, team building, stag, and hen parties.
                <br><br>
                On your adventure we'll happily take as many photos for you as you like, sharing them straight after the trip.
            <label for="toggle-main" class="collapse-btn">Show Less &uarr;</label></span>
        </p>
        <br>
    </div>

</section>
 
<div class="elfsight-app-7d68714f-e79c-42da-bc34-31c00f1ef9f7" data-elfsight-app-lazy></div>
<p class="subtitle">Scroll through using the arrows and click on the photo to expand</p>