---
layout: default
scripts: 
  - fh
  - gtm
date: 2023-12-21
title: "Canyoning in Scotland: Our Unique Adventure Experiences" 
permalink: /about-us
redirect_from:
  - /aboutus
  - /aboutus.html
css_file: "page-nav-2.css"
canonical_url: https://www.scotlandscanyons.com/about-us
priority: 0.8
changefreq: weekly 
context: "https://schema.org"
type: "Organization"
name: "Scotland's Canyons"
url: "https://www.scotlandscanyons.com"
logo: "https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/8c86e5da-8b2c-48bf-302d-617f6d0afd00/w=300,fit=scale-down"
sameAs:
  - "https://www.youtube.com/@scotlandscanyons"
  - "https://www.facebook.com/scotlandscanyons/"
  - "https://www.instagram.com/scotlandscanyons/"
  - "https://www.tiktok.com/@scotlandscanyons"
  - "https://www.visitscotland.com/info/see-do/scotlands-canyons-p2831561" #home
  - "https://business.google.com/n/5753756304371722257/searchprofile?hl=en-GB" #home
  - "https://business.google.com/n/14575729591246117293/searchprofile?hl=en-GB" #dollar
  - "https://www.visitscotland.com/info/see-do/scotlands-canyons-p2831561" #dollar
  - "https://www.visitscotland.com/info/see-do/scotlands-canyons-p2838501" #alva
  - "https://www.visitscotland.com/info/see-do/discover-canyoning-p2542171"
  - "https://www.visitscotland.com/info/see-do/private-canyoning-the-bruar-water-p2838531"
  - "https://www.visitscotland.com/info/tours/the-ultimate-canyoning-experience-9b13b3c4"
  - "https://www.visitscotland.com/info/tours/private-canyoning-in-alva-glen-561884a9"
  - "https://www.visitscotland.com/info/tours/discover-canyoning-in-dollar-glen-bd8c6112"
  - "https://www.visitscotland.com/info/tours/private-canyoning-bruar-ac6cc74d"
contactPoint:
  type: "ContactPoint"
  telephone: "+44 7868 367180"
  contactType: "customer service"
address:
  type: "PostalAddress"
  addressCountry: "Scotland"
schema_image:
  context: "https://schema.org"
  type: "ImageObject"
  name: "canyoning-in-scotland-best-small-group-adventure-activity"
  author:
    type: "Person"
    name: "Ross Murray"
  copyrightHolder:
    type: "Organization"
    name: "Scotland's Canyons"
  uploadDate: "2023-12-15"  
image: "https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/69251f4f-c4e6-4174-81f0-aaa01f1f6b00/w=1200,fit=scale-down"
description: "Experience the thrill of canyoning in Scotland's stunning natural landscapes with our small-group tours. Led by experienced guides, you'll explore waterfalls, gorges, and rapids in a safe and fun environment."
imagewidth: 3600
imageheight: 2880
meta_description: "Our family business is passionate about canyoning in Scotland. We are dedicated to running unique and personal adventure experiences in the best locations."
---

  {% include topbox.html %}
<main>

  

                <section class="textbox">

                    {% include _images/logo.html %}
                    <h2>Experience the Best of Scottish Canyoning: with Diana and Ruaridh</h2>

                 
                            <p>Join Diana and Ruaridh, seasoned canyoning enthusiasts with decades of global experience, for an unforgettable adventure in Scotland's breathtaking canyons. Their journey through diverse canyons and cultures has fuelled a passion for creating personalised and memorable experiences for each guest. Are you ready to dive into the exhilarating world of canyoning?
                            <a href="tel:07868367180"><i class="fas fa-phone"></i>Call us</a> or <a class="whatsapp" href="https://wa.me/447868367180?text=My%20Question%20is" rel="noopener" target="_blank">WhatsApp us</a> today to learn more.</p>
                          
                            <img loading="lazy" width="300" height="450" class="logo portrait" src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/6a9f83bf-95ca-4c04-2b71-2ec1ef45e200/w=400,fit=scale-down" 
                            srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/6a9f83bf-95ca-4c04-2b71-2ec1ef45e200/w=400,fit=scale-down 350w,
                            https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/6a9f83bf-95ca-4c04-2b71-2ec1ef45e200/w=300,fit=scale-down 250w,
                            https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/6a9f83bf-95ca-4c04-2b71-2ec1ef45e200/w=100,fit=scale-down 150w"
                            sizes="(max-width: 768px) 100vw, (max-width: 1024px) 50vw, 25vw"
                            alt="Rauridh and Diana Friendly and Expert Professionals">
                            <p class="subtitle">Ruaridh and Diana</p>
                            
                            <h2>Scotland's Canyons: A Natural Playground for Adventure</h2>
                            <blockquote>
                                <p>
                                    <span class="subtitle">"Each of our adventures is tailor-made to fit our guests, and that's what we find most engaging - meeting new people and facing new challenges. Among all the activities we've guided over the years, canyoning stands out as the quickest path to a true adventure. By teaching a few simple skills, our guests quickly find themselves immersed in a magical world of hidden waterfalls and serene wild swimming pools. It's a privilege to guide these incredible personal journeys and a joy to unlock authentic adventures for our guests. Whether you're seeking a challenge, eager to learn a new skill, or just looking for a fun day out in the stunning Scottish nature, canyoning here offers something for everyone." </span>
                                </p>
                                <p>
                                    - Diana and Ruaridh, 24th November 2023
                                </p>
                            </blockquote>
               

                </section>
            
                   {% include _gallery/main.html %}
            
            <!--Our Service-->
            
            <section class="textbox">
                <div class="icon"></div>
                <h2><span class="star bigstar">&#9733;&#9733;&#9733;&#9733;&#9733;</span><br>Our Five Star Service</h2>
                

                    <div class="container">
                        <p class="content">
                            <span class="star">&#9733;</span>&nbsp;<span class="headline">Personalised Advice and Support:</span>&nbsp;Before you book we like to offer personalised advice and answer any questions you may have. Our information and booking office can be contacted every day for any request. We want to make sure that you are going to book the experience that is right for you.
                            <input type="checkbox" id="learn-more-toggle-1" class="learn-more-checkbox">
                            <label for="learn-more-toggle-1" class="learn-more-btn">Contact&nbsp;Us&nbsp;&darr;</label>
                            <span class="hidden-content">We'd love to hear from you! Give us a <a href="tel:07868367180">call</a>, send us an <a href="mailto:info@scotlandscanyons.com">email</a> or message us on <a class="whatsapp" href="https://wa.me/447868367180?text=My%20Question%20is" rel="noopener" target="_blank">whatsapp.</a>
                                <label for="learn-more-toggle-1" class="collapse-btn">Show Less &uarr;</label></span>
                        </p>
                    </div>    
                   
                    <div class="container">
                        <p class="content">
                            <span class="star">&#9733;</span>&nbsp;<span class="headline">Premium Equipment:</span>&nbsp;We place utmost importance on your safety and comfort.That's why we provide only the highest quality equipment for all our adventures. 
                            <input type="checkbox" id="learn-more-toggle-2" class="learn-more-checkbox">
                            <label for="learn-more-toggle-2" class="learn-more-btn">Read&nbsp;More&nbsp;&darr;</label>
                            <span class="hidden-content">Our gear, is meticulously maintained and regularly updated to ensure the best possible experience. By using premium equipment, we enhance your safety, comfort, and enjoyment, allowing you to focus fully on the thrill and beauty of your canyoning adventure in Scotland.
                            <label for="learn-more-toggle-2" class="collapse-btn">Show Less &uarr;</label></span>
                        </p>
                    </div>
                 
                    <div class="container">
                        <p class="content">
                            <span class="star">&#9733;</span>&nbsp;<span class="headline">Our Commitment to Safety:</span>&nbsp;If it isn't safe we won't do it. We practise regularly to maintain the highest standards, first aid training and incident management. 
                            <input type="checkbox" id="learn-more-toggle-3" class="learn-more-checkbox">
                            <label for="learn-more-toggle-3" class="learn-more-btn">Read&nbsp;More&nbsp;&darr;</label>
                            <span class="hidden-content">We understand that every adventure is unique, and our approach to safety reflects that. Heightened awareness and skillful observations are fundamental to our operations, skills honed through years of experience. We prioritise constant vigilance, as safety is a non-negotiable aspect of all our activities. To ensure the highest safety standards, our guides regularly undergo specialised training, tailored to both the specific location and activity. This commitment to safety is grounded in up-to-date and relevant expertise, ensuring the best possible experience for our guests.
                            <label for="learn-more-toggle-3" class="collapse-btn">Show Less &uarr;</label></span>
                        </p>
                    </div>
               
                    <div class="container">
                        <p class="content">
                            <span class="star">&#9733;</span>&nbsp;<span class="headline">How We Measure Success:</span>&nbsp;Our success is gauged by the satisfaction of our guests. This is why we specialize in small groups and private trips. With fewer numbers, we're able to fully focus on planning and executing adventures that are just right for you. Our passion for what we do drives us to ensure you enjoy the experience as much as we do!
                            <input type="checkbox" id="learn-more-toggle-4" class="learn-more-checkbox">
                            <label for="learn-more-toggle-4" class="learn-more-btn">Read&nbsp;More&nbsp;&darr;</label>
                            <span class="hidden-content">By focusing on guest satisfaction, we aim to foster a positive impact across the entire industry. Exceptional service leads to happy guests, enhancing the value of what we offer. This approach benefits all who strive for excellence. We embrace collaborations with other professionals and businesses that share our ethos and are passionate about their work.
                            <label for="learn-more-toggle-4" class="collapse-btn">Show Less &uarr;</label></span>
                        </p>
                 </div>

            </section>

            <!--PAGE NAV-->
 
              {% include page-nav-2.html %}
                
              <br><br><br>

                <div class="icon"></div>
                <p>We think canyoning is the best adventure activity in Scotland. Whether you are new to canyoning or a seasoned adventurer, Scotland has an ideal canyoning location and the perfect experience. From beginner and family canyoning experiences near Edinburgh, Glasgow, and Fife to wild adrenaline-filled action in Perthshire and the Highlands, we offer everything from private trips for couples to team building, stag, and hen parties. Scotland's canyons offer a unique and tailor-made adventure.</p>
<br><br>

</main>
