---
layout: default
title: "Discover Wild Adventures: Canyoning in Scotland Blog"
scripts:
  - fh
  - gtm
date: 2023-12-21
permalink: /blog
css_file: "blog.css"
priority: 0.8
changefreq: weekly
canonical_url: https://www.scotlandscanyons.com/blog
paginate: 5 # posts per page
paginate_path: "/blog/page:num/"
context: "https://schema.org"
type: "Organization"
name: "Scotland's Canyons"
url: "https://www.scotlandscanyons.com"
logo: "https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/8c86e5da-8b2c-48bf-302d-617f6d0afd00/w=300,fit=scale-down"
sameAs:
  - "https://www.youtube.com/@scotlandscanyons"
  - "https://www.facebook.com/scotlandscanyons/"
  - "https://www.instagram.com/scotlandscanyons/"
  - "https://www.tiktok.com/@scotlandscanyons"
  - "https://www.visitscotland.com/info/see-do/scotlands-canyons-p2831561" #home
  - "https://business.google.com/n/5753756304371722257/searchprofile?hl=en-GB" #home
  - "https://business.google.com/n/14575729591246117293/searchprofile?hl=en-GB" #dollar
  - "https://business.google.com/n/10684824274145755497/searchprofile?hl=en-GB" #bruar
  - "https://www.visitscotland.com/info/see-do/scotlands-canyons-p2831561" #dollar
  - "https://www.visitscotland.com/info/see-do/scotlands-canyons-p2838501" #alva
  - "https://www.visitscotland.com/info/see-do/discover-canyoning-p2542171"
  - "https://www.visitscotland.com/info/see-do/private-canyoning-the-bruar-water-p2838531"
  - "https://www.visitscotland.com/info/tours/the-ultimate-canyoning-experience-9b13b3c4"
  - "https://www.visitscotland.com/info/tours/private-canyoning-in-alva-glen-561884a9"
  - "https://www.visitscotland.com/info/tours/discover-canyoning-in-dollar-glen-bd8c6112"
  - "https://www.visitscotland.com/info/tours/private-canyoning-bruar-ac6cc74d"
contactPoint:
  type: "ContactPoint"
  telephone: "+44 7868 367180"
  contactType: "customer service"
address:
  type: "PostalAddress"
  addressCountry: "Scotland"
schema_image:
  context: "http://schema.org"
  type: "ImageObject"
  contentUrl: "https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/b7e2a45c-fa57-4c16-9afe-36e0aee8dc00/w=1200,fit=scale-down"
  description: "Adventurous adventure abseiling in Scottish canyoning waterfall action"
  name: "grey-mares-tail-canyoning-scotland-adventure-abseiling"
  author:
    type: "Person"
    name: "Ross Murray"
  copyrightHolder:
    type: "Organization"
    name: "Scotland's Canyons"
  uploadDate: "2023-12-15"  
image: "https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/b7e2a45c-fa57-4c16-9afe-36e0aee8dc00/w=1200,fit=scale-down"
description: "Experience the thrill of canyoning in Scotland's stunning natural landscapes with our small-group tours. Led by experienced guides, you'll explore waterfalls, gorges, and rapids in a safe and fun environment."
imagewidth: 3600
imageheight: 2880
meta_description: "Canyoning in Scotland Blog: Discover a wild, unique and expert-led outdoor adventure activity. Perfect for a couple, family, team or small group experience"
---


<main>
  {% include topbox.html %}
  <div class="bluebox">
    <br>

    <section class="textbox">
        {% include _images/logo.html %}
        <h2>Scotland's Canyons Blog</h2>
        {% for post in site.posts %}
        <article class="abox">  
          <h2><a href="{{ post.url }}"><strong>{{ post.title | split: ":" | first }}</strong><br><span class="subtitle">{{ post.title | split: ":" | last }}</span></a></h2>

            <!-- Include the image here -->
  {% if post.image %}
  <img loading="lazy" width="{{ post.imagewidth }}" height="{{ post.imageheight}}" class="postimg" src="{{ post.image | relative_url }}" alt="{{ post.title }}">
{% endif %} 
            <p>{{ post.excerpt | strip_html | truncatewords: 50 }}<a href="{{ post.url }}">read&nbsp;full&nbsp;article</a></p>
            
        </article> 
        
        {% endfor %}
    </section>
    </div>
</main>