---
layout: default
scripts:
  - fh
  - gtm
  - dc
title: "Dollar Glen Canyoning: Enchanting Small group Adventure"
permalink: /discover-canyoning
date: 2023-12-21
redirect_from:
  - /discovercanyoning
  - /discovercanyoning.html
canonical_url: https://www.scotlandscanyons.com/discover-canyoning
priority: 0.8
changefreq: weekly
schema_organization:
context: "https://schema.org"
type: "Organization"
name: "Scotland's Canyons"
url: "https://www.scotlandscanyons.com"
logo: "https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/8c86e5da-8b2c-48bf-302d-617f6d0afd00/w=300,fit=scale-down"
sameAs:
  - "https://www.youtube.com/@scotlandscanyons"
  - "https://www.facebook.com/scotlandscanyons/"
  - "https://www.instagram.com/scotlandscanyons/"
  - "https://www.tiktok.com/@scotlandscanyons"
  - "https://www.visitscotland.com/info/see-do/scotlands-canyons-p2831561"
  - "https://business.google.com/n/5753756304371722257/searchprofile?hl=en-GB"
  - "https://business.google.com/n/14575729591246117293/searchprofile?hl=en-GB" #dollar
  - "https://www.visitscotland.com/info/see-do/scotlands-canyons-p2831561" #dollar
  - "https://www.visitscotland.com/info/see-do/discover-canyoning-p2542171"
  - "https://www.visitscotland.com/info/tours/discover-canyoning-in-dollar-glen-bd8c6112"
contactPoint:
  type: "ContactPoint"
  telephone: "+44 7868 367180"
  contactType: "customer service"
address:
  type: "PostalAddress"
  streetAddress: "Glen"
  addressLocality: "Dollar"
  addressRegion: "Clackmannanshire"
  postalCode: "FK14 7PP"
  addressCountry: "Scotland"
schema_image:
  context: "http://schema.org"
  type: "ImageObject"
  contentUrl: "https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/91e6d326-1cff-4968-b5eb-1b0823d93400/w=1200,fit=scale-down"
  description: "Female canyoning guest slides down a wterfall into a deep wild swimming pool, as her friend and guide watch cloely, in Dollar Glen canyon, Clackmannanshire, Scotland"
  name: "beginner-canyoning-gorgewalking-uk-edinburgh-glasgow"
  author:
    type: "Person"
    name: "Diana Harl"
  copyrightHolder:
    type: "Person"
    name: "Diana Harl"
  uploadDate: "2023-12-15"
image: "https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/91e6d326-1cff-4968-b5eb-1b0823d93400/w=1200,fit=scale-down"
imagewidth: 624
imageheight: 370
description: "Experience the thrill of canyoning in Scotland's stunning natural landscapes with our small-group tours. Led by experienced guides, you'll explore waterfalls, gorges, and rapids in a safe and fun environment."
meta_description: "Explore beginner-friendly canyoning at Dollar Glen with Scotland's Canyons. Thrilling, safe adventures in breathtaking scenery. Book your adventure today!"
---

{% include topbox.html %}
<main>

    <section class="textbox">
        {% include _images/logo.html %}
        <h2 class="heading">Discover Canyoning in Scotland</h2>
        <p class="subheading">Join us for an unforgettable journey through the enchanting landscapes of Scotland's Dollar Burn, where each step reveals the timeless beauty of a 400 million-year-old volcanic landscape. Experience canyoning in a magical setting that blends ancient wonders with exhilarating adventure.</p>
    </section>

    <!--Reviews-->
    <section class="textbox nobottompad">
        <div class="icon"></div>
        <h2 class="heading">Discover What Our Guests Are Saying</h2>
        <p class="heading">Explore our latest reviews from our guests across all platforms.</p>
        <br>
    </section>
    <div class="elfsight-app-bef055c2-fa02-4257-a627-ad34cc1de27f" data-elfsight-app-lazy></div>

    
    <section class="textbox nobottompad">
        <div class="icon"></div>
        <h2 class="heading">Discover Dollar Glen: Scotland's Beginner-Friendly Canyoning Paradise</h2>   
        <p class="subheading">Dollar Glen is near Edinburgh, Glasgow and Fife and is the perfect canyoning destination for beginners and enthusiasts alike. With easy access and the option to adjust your experience along the way, it caters to all levels of adventure seekers.<br><span class="subtitle">click on the stamp for directions</span></p>
        <br>
    </section>
    <!--Map-->
    <div class="elfsight-app-19042cc4-2314-4d0f-92da-536dd5b35337" title="Map and directions to Dollar Glen" data-elfsight-app-lazy></div>
    
   {% include _gallery/dollar.html %}
            
    <section class="textbox">
            
        <div class="icon"></div>            
        <h2>Check Live Availability in Dollar Glen</h2>                             
        <p class="subtitle">For other locations, families and groups with more than 6 people please contact us directly for availability</p>
        <br>
        <button id="loadCalendarButton">Load Calendar</button>
        <br>
        <div class="calendar">
            <div id="fareHarborCalendarContainer" style="position: relative">        
            
                <p>Ready to explore? Click a date in the calendar to book your adventure online now!</p>
            
            </div>  
        </div>
    </section>
    
    <!--At a Glance-->
    <section class="textbox">
                        
        <div class="icon"></div>
        <h3 class="heading">Your Adventure at a Glance</h3>               
        <p class="heading">Join us on a 4-hour adventure that will include everything from waterfall abseils and fun jumps to natural slides and wild swimimming pools. Expect an exhilarating descent lasting 2-3 hours, filled with unforgettable moments.</p>

        <article class="abox"> 
            <div class="icon"></div> 
            <h4>Learning and Exploring Safely</h4>     
            <br>
            <p><span class="star">&#9733;</span><span class="headline">A Warm Welcome:</span> Begin your canyoning adventure at the Dollar Glen Car Park. Here, you'll meet your guide and group, and gear up with quality shoes, harnesses, and helmets.</p>                    
            <br>
            <p><span class="star">&#9733;</span><span class="headline">Smart Preparation:</span> Learn and practise essential canyoning skills in a safe environment before descending the Dollar Burn. We will take the time to learn basic skills that will boost confidence and help us enjoy the action</p>. 
            <br>
            <p><span class="star">&#9733;</span><span class="headline">The Action:</span> We'll set off to descend the canyon at your pace. Small groups mean that we can focus our attention on leading an adventure that fits. We'll be clear about the challenges ahead and, when appropriate, offer a choice of action. Dollar Glen is the ideal location because you can get in and out along the way.</p>        
            <br>
            <p><span class="star">&#9733;</span><span class="headline"> Relax and Reflect:</span> Conclude your journey with a delightful touch. After descending, we gather back at the meeting point for home-baked snacks and drinks. It's a chance to relax, share stories, and enjoy the camaraderie of fellow canyoners.</p>       
            <br>
            <div class="icon"></div>
            <h4>Staying Safe</h4>
            <br>
            <div class="container">
            <p><span class="star">&#9733;</span><span class="headline">Our Commitment to Safety:</span> If it isn't safe, we won't do it. We practise regularly to maintain the highest standards. We understand that every adventure is unique, and our approach to safety reflects that.
                <input type="checkbox" id="learn-more-toggle-1" class="learn-more-checkbox">
                <label for="learn-more-toggle-1" class="learn-more-btn">Learn&nbsp;More&nbsp;&darr;</label>
                <span class="hidden-content"><br><br>Heightened awareness and skillful observations are fundamental to our operations, skills honed through years of experience. We prioritize constant vigilance, as safety is a non-negotiable aspect of all our activities. To ensure the highest safety standards, our guides regularly undergo specialised training, tailored to both the specific location and activity. This commitment to safety is grounded in up-to-date and relevant expertise, ensuring the best possible experience for our guests.
                <label for="learn-more-toggle-1" class="collapse-btn">Show Less &uarr;</label></span>
            </p>
            </div>
            <br>        
            <div class="icon"></div>
            <h4>Before You Book</h4>
            <br>   
            <div class="container">
                <p class="content">
                    <span class="star">&#9733;</span>&nbsp;<span class="headline">Personalised Advice and Support:</span>&nbsp;Before you book, we like to offer personalised advice and answer any questions you may have. Our information and booking office can be contacted every day for any request. We want to make sure that you are going to book the experience that is right for you.
                    <input type="checkbox" id="learn-more-toggle-2" class="learn-more-checkbox">
                    <label for="learn-more-toggle-2" class="learn-more-btn">Contact&nbsp;Us&nbsp;&darr;</label>
                    <span class="hidden-content">We'd love to hear from you! Give us a <a href="tel:07868367180">call</a>, send us an <a href="mailto:info@scotlandscanyons.com">email</a> or message us on <a href="https://wa.me/447868367180?text=My%20Question%20is" rel="noopener" target="_blank">WhatsApp.</a>
                    <label for="learn-more-toggle-2" class="collapse-btn">Show Less &uarr;</label></span>
                </p>
            </div>    
        </article>    
                
    </section>        

</main>