---
layout: "no-topbox"
scripts:
  - fh
  - gtm
title: "Canyon Map: Find the best Scottish canyoning locations!"
date: 2024-26-01
permalink: /map
css_file: "page-nav-2.css"
canonical_url: https://www.scotlandscanyons.com/map
priority: 0.5
changefreq: weekly
context: "https://schema.org"
type: "Organization"
name: "Scotland's Canyons"
url: "https://www.scotlandscanyons.com"
logo: "https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/8c86e5da-8b2c-48bf-302d-617f6d0afd00/w=300,fit=scale-down"
sameAs:
  - "https://www.youtube.com/@scotlandscanyons"
  - "https://www.facebook.com/scotlandscanyons/"
  - "https://www.instagram.com/scotlandscanyons/"
  - "https://www.tiktok.com/@scotlandscanyons"
  - "https://www.visitscotland.com/info/see-do/scotlands-canyons-p2831561" #home
  - "https://business.google.com/n/5753756304371722257/searchprofile?hl=en-GB" #home
  - "https://business.google.com/n/14575729591246117293/searchprofile?hl=en-GB" #dollar
  - "https://www.visitscotland.com/info/see-do/scotlands-canyons-p2831561" #dollar
  - "https://www.visitscotland.com/info/see-do/scotlands-canyons-p2838501" #alva
  - "https://www.visitscotland.com/info/see-do/discover-canyoning-p2542171"
  - "https://www.visitscotland.com/info/see-do/private-canyoning-the-bruar-water-p2838531"
  - "https://www.visitscotland.com/info/tours/the-ultimate-canyoning-experience-9b13b3c4"
  - "https://www.visitscotland.com/info/tours/private-canyoning-in-alva-glen-561884a9"
  - "https://www.visitscotland.com/info/tours/discover-canyoning-in-dollar-glen-bd8c6112"
  - "https://www.visitscotland.com/info/tours/private-canyoning-bruar-ac6cc74d"
contactPoint:
  type: "ContactPoint"
  telephone: "+44 7868 367180"
  contactType: "customer service"
address:
  type: "PostalAddress"
  addressCountry: "Scotland"
schema_image:
  context: "http://schema.org"
  type: "ImageObject"
  contentUrl: "https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/8ea34cb1-fcc0-467e-c32b-6abae9704e00/w=1200,fit=scale-down"
  description: "Map of Scotland showing the best and most adventurous canyoning locations."
  name: "Best Canyoning in Scotland MAp"
  uploadDate: "2023-12-15"  
image: "https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/8ea34cb1-fcc0-467e-c32b-6abae9704e00/w=1200,fit=scale-down"
description: "Experience the thrill of canyoning in Scotland's stunning natural landscapes with our small-group tours. Led by experienced guides, you'll explore waterfalls, gorges, and rapids in a safe and fun environment."
meta_description: "Discover the best canyoning destinations in Scotland with our interactive map. Explore unique adventures near Edinburgh, Glasgow, The Highlands, Perthshire"
  
---

<main>
           
    <section class="textbox">
        
        {% include _images/logo.html %}
        <br>
        <h1>{{ page.title }}</h1>
        <br>
        <p>Our interactive map guides you through the most stunning canyoning locations Scotland has to offer. Each spot is handpicked for its unique blend of natural beauty and exhilarating challenges, and, along with our expert guidance, ensures an unforgettable experience.</p>    
        <br><br> 
             
        <p style="font-size: .9rem;"><img style="position: relative; top: 0.3rem; max-width: 3vh; height: auto;" height="32" width="32" src="greenstamp.webp" alt="Green Stamp that Indicates the Best Location for beginners">&nbsp;= Recommended for Beginners</p>
     
    </section>

    <div class="elfsight-app-a2bae3e4-0f86-4389-984e-f94f27fd6849" data-elfsight-app-lazy></div>
<!--{% include map-button.html %} 
{% include page-nav-2.html %}    -->
  
        {% include why-scot-can.html %}
        {% include book-today.html %}

    {% include featured-post.html %}
  </main>