---
layout: default
scripts:
  - fh
  - gtm
title: "Scotland's Canyons Reviews: What Our Guests Say About Us"
date: 2023-12-23
permalink: /reviews
css_file: "page-nav.css"
canonical_url: https://www.scotlandscanyons.com/reviews
priority: 0.5
changefreq: weekly 
context: "https://schema.org"
type: "Organization"
name: "Scotland's Canyons"
url: "https://www.scotlandscanyons.com"
logo: "https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/8c86e5da-8b2c-48bf-302d-617f6d0afd00/w=300,fit=scale-down"
sameAs:
  - "https://www.youtube.com/@scotlandscanyons"
  - "https://www.facebook.com/scotlandscanyons/"
  - "https://www.instagram.com/scotlandscanyons/"
  - "https://www.tiktok.com/@scotlandscanyons"
  - "https://business.google.com/n/5753756304371722257/searchprofile?hl=en-GB" #home
  - "https://business.google.com/n/14575729591246117293/searchprofile?hl=en-GB" #dollar
  - "https://business.google.com/n/10684824274145755497/searchprofile?hl=en-GB" #bruar
  - "https://www.visitscotland.com/info/see-do/scotlands-canyons-p2831561" #dollar
  - "https://www.visitscotland.com/info/see-do/scotlands-canyons-p2838501" #alva
  - "https://www.visitscotland.com/info/see-do/discover-canyoning-p2542171"
  - "https://www.visitscotland.com/info/see-do/private-canyoning-the-bruar-water-p2838531"
  - "https://www.visitscotland.com/info/tours/the-ultimate-canyoning-experience-9b13b3c4"
  - "https://www.visitscotland.com/info/tours/private-canyoning-in-alva-glen-561884a9"
  - "https://www.visitscotland.com/info/tours/discover-canyoning-in-dollar-glen-bd8c6112"
  - "https://www.visitscotland.com/info/tours/private-canyoning-bruar-ac6cc74d"
contactPoint:
  type: "ContactPoint"
  telephone: "+44 7868 367180"
  contactType: "customer service"
address:
  type: "PostalAddress"
  addressCountry: "Scotland"
schema_image:
  context: "http://schema.org"
  type: "ImageObject"
  contentUrl: "https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/69251f4f-c4e6-4174-81f0-aaa01f1f6b00/w=1200,fit=scale-down"
  description: "Canyoning guide abseils down a beautiful waterfall on an epic adventure at The Birks of Aberfeldy, Scotland"  
  name: "canyoning-in-scotland-best-small-group-adventure-activity"
  author:
    type: "Person"
    name: "Ross Murray"
  copyrightHolder:
    type: "Organization"
    name: "Scotland's Canyons"
  uploadDate: "2023-12-15"  
image: "https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/69251f4f-c4e6-4174-81f0-aaa01f1f6b00/w=1920,fit=scale-down"
description: "Canyoning guide abseils down a beautiful waterfall on an epic adventure at The Birks of Aberfeldy, Scotland"
meta_description: "Your reviews are really important to us!  Thank you to our guests for the honest opinions that help us deliver unforgettable five-star canyoning adventures."
---

<div class="textbox">
  <br><br><br>
    {% include _images/logo.html %}
    <h1>{{ page.title }}</h1>
    <p>{{ page.meta_description }}</p>
</div>

<div class="elfsight-app-ac722f22-51a7-434a-a5fb-b763b3a27953" data-elfsight-app-lazy></div>
<br><br><br>
{% include page-nav.html %}
<br><br><br>