---
layout: default
scripts:
  - fh
title: "Sustainable Adventure: Keeping Scotland's Canyons Clean"
date: 2024-03-19
permalink: /sustainability
css_file: "gallery.css"
canonical_url: https://www.scotlandscanyons.com//sustainability
priority: 1
changefreq: weekly 
context: "https://schema.org"
type: "LocalBusiness"
name1: "Scotland's Canyons"
url: "https://www.scotlandscanyons.com"
logo: "https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/8c86e5da-8b2c-48bf-302d-617f6d0afd00/w=300,fit=scale-down"
sameAs:
  - "https://www.youtube.com/@scotlandscanyons"
  - "https://www.facebook.com/scotlandscanyons/"
  - "https://www.instagram.com/scotlandscanyons/"
  - "https://www.tiktok.com/@scotlandscanyons"
  - "https://business.google.com/n/5753756304371722257/searchprofile?hl=en-GB" #home
  - "https://business.google.com/n/14575729591246117293/searchprofile?hl=en-GB" #dollar
  - "https://www.visitscotland.com/info/see-do/scotlands-canyons-p2831561" #dollar
  - "https://www.visitscotland.com/info/see-do/scotlands-canyons-p2838501" #alva
  - "https://www.visitscotland.com/info/see-do/discover-canyoning-p2542171"
  - "https://www.visitscotland.com/info/see-do/private-canyoning-the-bruar-water-p2838531"
  - "https://www.visitscotland.com/info/tours/the-ultimate-canyoning-experience-9b13b3c4"
  - "https://www.visitscotland.com/info/tours/private-canyoning-in-alva-glen-561884a9"
  - "https://www.visitscotland.com/info/tours/discover-canyoning-in-dollar-glen-bd8c6112"
  - "https://www.visitscotland.com/info/tours/private-canyoning-bruar-ac6cc74d"
contactPoint:
  type: "ContactPoint"
  telephone: "+44 7868 367180"
  contactType: "customer service"
address:
  type: "PostalAddress"
  streetAddress: "Hartridge"
  addressLocality: "Cupar"
  addressRegion: "Fife"
  postalCode: "ky157up"
  addressCountry: "Country"
  addressCountry: "Scotland"
schema_image:
  context: "https://schema.org"
  type: "ImageObject"
  name: "canyoning-in-scotland-best-small-group-adventure-activity"
  author:
    type: "Person"
    name: "Ross Murray"
  copyrightHolder:
    type: "Organization"
    name: "Adventure Logic Ltd"
  uploadDate: "2024-03-17"  
image: "https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/aefacd4f-48da-40c2-53af-99ec4ce6fc00/w=1200,fit=scale-down" 
description: "Canyoning guest jumps into an ancient glen on a sustainable adventure experience in Scotland"
imagewidth: 800
imageheight: 533
meta_description: "Canyoning in Scotland: Our commitment to sustainable adventures that protect & preserve the ancient natural spaces we share. Keep Scotland's Canyons Clean!"
---      
{% include topbox-50-30.html %}
      
    <main>
      <div class="textbox">
      {% include _images/logo.html %}
      <p>
        Scotland's Canyons, a part of Adventure Logic Ltd, specialises in canyoning adventures in some of Scotland's most stunning and secluded locations. 
        Our activities adhere to the Adventure Logic Ltd Sustainability Policy, ensuring the protection and respect of the unique geology, ecology, and beauty of these areas. 
        Discover more about our dedication to sustainability and conservation in our <a href="sustainability-policy.pdf" target="_blank" rel="noopener noreferrer">Sustainability Policy</a>
        .
        <br><br>
        <p>With profound respect for the local community, wildlife, and habitats, we are committed to making every adventure sustainable. 
          By educating our team and guests on conservation practices and collaborating with like-minded businesses, we are devoted to minimising our environmental footprint, removing rubbish we encounter, and preserving these wonders for future generations.</p>
        <br><br>
       <div id="lightgallery" class="gallery-container">
        <div class="gallery-img-container">
      <img loading="lazy" src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/93b12c71-e933-4583-edf8-7e201ab45900/w=800,fit=cover" 
           srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/93b12c71-e933-4583-edf8-7e201ab45900/w=320,fit=cover 320w,
                   https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/93b12c71-e933-4583-edf8-7e201ab45900/w=480,fit=cover 480w,
                   https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/93b12c71-e933-4583-edf8-7e201ab45900/w=800,fit=cover 800w"
           sizes="(max-width: 320px) 280px,
                  (max-width: 480px) 440px,
                  800px"
           alt="Description of image 1">
        </div>
        <div class="gallery-img-container">
      <img loading="lazy" src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/f6be5a82-4a9b-4bc9-5fbd-d89322d25900/w=800,fit=cover" 
           srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/f6be5a82-4a9b-4bc9-5fbd-d89322d25900/w=320,fit=cover 320w,
                   https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/f6be5a82-4a9b-4bc9-5fbd-d89322d25900/w=480,fit=cover 480w,
                   https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/f6be5a82-4a9b-4bc9-5fbd-d89322d25900/w=800,fit=cover 800w"
           sizes="(max-width: 320px) 280px,
                  (max-width: 480px) 440px,
                  800px"
           alt="Description of image 2">
        </div>
        <div class="gallery-img-container">
      <img loading="lazy" src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/7eff2f67-36d5-4518-8033-8d1d24448d00/w=800,fit=cover" 
           srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/7eff2f67-36d5-4518-8033-8d1d24448d00/w=320,fit=cover 320w,
                   https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/7eff2f67-36d5-4518-8033-8d1d24448d00/w=480,fit=cover 480w,
                   https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/7eff2f67-36d5-4518-8033-8d1d24448d00/w=800,fit=cover 800w"
           sizes="(max-width: 320px) 280px,
                  (max-width: 480px) 440px,
                  800px"
           alt="Description of image 3">
        </div>
    </div>   
  </div>  

       <article class="textbox">
        <div class="icon"> </div>
          <h2>Implementation and Action</h2>
          <p>This section describes some of the key actions we undertake to adhere to the Adventure Logic Ltd sustainability policy and core principles.</p>
          <br>
            <div class="icon"></div>
            <h2>Eliminating Single Use Plastic</h2>
            <p>We have eliminated the use of single-use plastic in all areas except essential first aid supplies. Actions taken include replacing plastic bottles with water containers and cups, and using reusable food containers.
            </p>
            <br>
            <div class="icon"></div>
            <h2>Operating Paper Free</h2>
            <p>Our operations are paper-free. We utilise QR codes for our acknowledgment of risk waivers and activity reports, with all paperwork available online for guides and customers.
            </p>
            <br>
            <div class="icon"></div>
            <h2>Implementing Leave No Trace</h2> 
            <a href="https://lnt.org/" target="_blank" rel="noopener noreferrer">
              <img class="img white"
                  srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/1b264fb7-8a34-4a33-9150-93bd347c6b00/w=400 400w,
                          https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/1b264fb7-8a34-4a33-9150-93bd347c6b00/w=300 300w,
                          https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/1b264fb7-8a34-4a33-9150-93bd347c6b00/w=200 200w"
                  sizes="(max-width: 600px) 200px,
                         (max-width: 900px) 300px,
                         400px"
                  src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/1b264fb7-8a34-4a33-9150-93bd347c6b00/w=200"
                  alt="Leave No Trace proud partner badge and logo"
                  width="200"
                  height="186"
                  >
                  
      
          </a> 
            <p>We not only adhere to but also champion the Leave No Trace principles, ensuring that all our activities have a minimal environmental footprint. Canyons, being a particularly fragile environment, necessitate that we remove everything we bring in, stick to paths wherever possible on access routes, and walk on durable areas.
            </p>
            <br>
            <div class="icon"></div>
            <h2>Showing Respect for Wildlife</h2>
            <p>The unique microclimate found in Scotland's canyons supports a rich assortment of ferns, mosses, and lichens, contributing to increased biodiversity and often hosting rare and endangered species. 
              We take care to pass over rocks below the waterline that are scoured by the flow, thus avoiding damage to plant life.
            <br>
            Although the rocks below the waterline are often scoured by the flowing water and free from plant life, we take care not to disturb wildlife, 
            with particular attention to nesting birds such as the white-throated dipper, which sometimes builds its nest behind waterfalls. 
            We actively record wildlife sightings, as well as changes in behaviour or habitats, in our activity log. Contibute what you see and Learn more on out dedicated wild life page<br><a href="/wildlife">go to wildlife page</a>
          </p>
          <br>
          <div class="icon"></div>
            <h2>Building Ethical Anchor Points</h2>
            <p>Operating within the essential parameters of safety, we use minimal equipment to build our anchor points and remove it wherever possible. Furthermore, we rig anchors in such a way as to minimise the impact on plant life, with particular care taken to protect moss- and lichen-covered rocks and trees. Where permanent anchor points already exist, we contribute to their monitoring and maintenance to ensure they can be shared with other canyoning groups without the need for further drilling.
            <br>
            Although on some of our remote adventures we carry a bolting kit, we endeavour to avoid drilling holes into the ancient rocks unless it is the only way to mitigate unacceptable risk.
            </p>
            <br>
            <div class="icon" id="coco-loco"></div>
            <h2>Using Non-toxic cleaning product</h2>
            
            <a href="https://www.coco-loco.co/" target="_blank" rel="noopener noreferrer">
              <img class="img white"
                  srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/53b3b970-17cc-4bdc-d414-9515f9f9e200/w=400 300w,
                          https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/53b3b970-17cc-4bdc-d414-9515f9f9e200/w=300 200w,
                          https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/53b3b970-17cc-4bdc-d414-9515f9f9e200/w=200 100w"
                  sizes="(max-width: 600px) 100px,
                         (max-width: 900px) 200px,
                         300px"
                  src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/1b264fb7-8a34-4a33-9150-93bd347c6b00/w=200"
                  alt="Coco-Loco natural wet suite cleaner"
                  width="200"
                  height="186"
                  ></a>
            <p> We collaborate with suppliers who provide environmentally friendly products, such as Coco-Loco, to ensure that all our neoprene gear is cleaned with non-toxic and environmentally friendly products that are harmless to marine life. This practice not only reduces the presence of unnecessary chemicals in our wastewater at the base but also minimises the potential impact of introducing toxic chemicals into rivers.
            </p>
            <br>
            <div class="icon"></div>
            <h2>Minimising Impact of Human Waste</h2>
            <p>On our longer adventures, we ensure that our guests are informed of the nearest facilities to the designated meeting points and encourage them to use these before we start. If a toilet stop becomes unavoidable during the trip, we aim to leave the canyon, when possible, and advise our guests on best practices.
            </p>
            <br>
            <div class="icon" id="community"></div>
            <h2>Engaging with Local Communities</h2>
            <iframe width="300" height="160" src="https://www.youtube.com/embed/CWHkN97MBDM?si=-Vm4qx0hrcP9i4Wj" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen loading="lazy"></iframe>
            <br>
            <p>We actively collaborate with local communities and organisations that share our passion for preserving Scotland's canyons. Our partnerships help support cleanup efforts and other conservation activities. A prime example of our commitment is the annual spring cleanup of Alva Glen, undertaken in collaboration with the Alva Glen Heritage Trust, along with other ongoing efforts as part of our Keep Scotland’s Canyons Clean initiative.
            </p>
            <br>
            <div class="icon"></div>
            <h2>Integrating Education</h2>
            <p>Our Adventure Leadership Training Courses are designed not only to align with our core principles but also to incorporate sustainable habits throughout the curriculum. We are committed to consistently refreshing our knowledge and understanding of best practices and local challenges, ensuring our operations remain both contemporary and eco-conscious. Notable initiatives include requiring Adventure Leaders to complete the 'Leave No Trace 101' course and to submit local sustainability reports. These elements are crucial components of our internal assessment process, reflecting our dedication to environmental stewardship. In addition to informing our guests during the experience, the information sent out with booking confirmations includes advice and insights on sustainable practices and local wildlife.
            </p>
       
          </article>
          <br><br><br>
           
        
    </main>


