---
layout: default
featured: true
lightgal: true
title: "Why Clackmannanshire?: Canyoning and Biking Adventures!"
permalink: /testblog
canonical_url: https://www.scotlandscanyons.com/testblog
css_file: gallery.css
priority: 0.8
changefreq: monthly
context: "https://schema.org"
type: "LocalBusiness"
name: "Scotland's Canyons"
logo: "https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/0d5290d7-792d-49af-88fb-76cf13f89800/w=300,fit=scale-down"
sameAs:
  - "https://www.youtube.com/@scotlandscanyons"
  - "https://www.facebook.com/scotlandscanyons/"
  - "https://www.instagram.com/scotlandscanyons/"
  - "https://www.tiktok.com/@scotlandscanyons"
  - "https://business.google.com/n/5753756304371722257/searchprofile?hl=en-GB" #home
  - "https://business.google.com/n/14575729591246117293/searchprofile?hl=en-GB" #dollar
  - "https://www.visitscotland.com/info/see-do/scotlands-canyons-p2831561" #dollar
  - "https://www.visitscotland.com/info/see-do/scotlands-canyons-p2838501" #alva
  - "https://www.visitscotland.com/info/see-do/discover-canyoning-p2542171"
  - "https://www.visitscotland.com/info/tours/the-ultimate-canyoning-experience-9b13b3c4"
  - "https://www.visitscotland.com/info/tours/private-canyoning-in-alva-glen-561884a9"
  - "https://www.visitscotland.com/info/tours/discover-canyoning-in-dollar-glen-bd8c6112"
contactPoint:
  type: "ContactPoint"
  telephone: "+44 7868 367180"
  contactType: "customer service"
address:
  type: "PostalAddress"
  streetAddress: "Glen"
  addressLocality: "Dollar"
  addressRegion: "Clackmannanshire"
  postalCode: "FK14 7PP"
  addressCountry: "Scotland"
schema_image:
  context: "http://schema.org"
  type: "ImageObject"
  name: "Alva and Dollar Glen Canyoning Adventure"
  author:
    type: "Person"
    name: "Ross Murray"
  copyrightHolder:
    type: "Organization"
    name: "Scotland's Canyons"
  uploadDate: "2023-12-15"  
image: "https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/d2d084d2-7b07-4410-5c86-032911b2fc00/w=1200,fit=cover"
imagewidth: 1200
imageheight: 1500 
description: "Canyoning adventure holiday in Clackmannanshire, Scotland, near Edinburhg and Glasgow"
meta_description: "Two of the Best Canyoning experiences in Scotland: Near Edinburgh and Glasgow these Unique and tailor-made adventures are perfect for couples and families."
---

{% include topbox.html %}

<main>

  <article class="textbox">

  {% include _images/logo.html %}

  <h2>Why Clacks?<br><span class="subtitle">Guest Article: By Steve MacKenzie <a href="https://realworldriding.co.uk" target="_blank"></a>(Real World Riding)</span> </h2>

  <p>Why Clacks?
    It's quite incredible what you can find in Scotland's "Wee County" - the smallest county in the Country.
    Nestled at the foot of the Ochil hills along the banks of the river Forth, Clackmannanshire sits around an hour from Edinburgh and Glasgow Airports, ancient centres of rule and commerce for Scotland, and right in the shadow of Stirling and it's strategically and historically important Castle.
    In terms of transport links, as well as the ease of flying in, the railway station at Stirling is on the main line from the West Coast, and connects to the East Coast line, and there's even a branch line to Alloa, right into the middle of the county, and the M9 passes just 2 miles from the county border across the Clackmannanshire Bridge: it really couldn't be easier to get here.
    Once in the county, visitors find that most of Scotland is within grasp from a base in Clackmannanshire, but many don't venture far due to the unexpected finds within or close to the county. Staying in the area and not venturing further north is a thing though - even the Romans decided to stay once they'd made it into the Ochil hills.
    Clackmannanshire, much like the ancient Castle Campbell nestled in the hills above the picturesque village of Dollar, hides itself and its treasures well. <a href="/locations/dollar-glen.">Learn more about Dollar Glen</a></p>
<br><br>
    <div id="lightgallery" class="gallery-container">
        
      <div class="gallery-img-container">
        <img loading="lazy" src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/69901d0c-8a29-478b-28e9-56a859138900/w=800,fit=cover" 
       srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/69901d0c-8a29-478b-28e9-56a859138900/w=320,fit=cover 320w,
               https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/69901d0c-8a29-478b-28e9-56a859138900/w=480,fit=cover 480w,
               https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/69901d0c-8a29-478b-28e9-56a859138900/w=800,fit=cover 800w"
       sizes="(max-width: 320px) 280px,
              (max-width: 480px) 440px,
              800px"
       alt="Description of image 2">  
      </div>

      <div class="gallery-img-container">
        <img loading="lazy" src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/131ec36b-e2cb-4d9f-eef8-c48d95204800/w=800,fit=cover" 
         srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/131ec36b-e2cb-4d9f-eef8-c48d95204800/w=320,fit=cover 320w,
                 https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/131ec36b-e2cb-4d9f-eef8-c48d95204800/w=480,fit=cover 480w,
                 https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/131ec36b-e2cb-4d9f-eef8-c48d95204800/w=800,fit=cover 800w"
         sizes="(max-width: 320px) 280px,
                (max-width: 480px) 440px,
                800px"
         alt="Description of image 1">
      </div>
  
      <div class="gallery-img-container">
          <img loading="lazy" src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/b1f0e003-7244-4e70-8c98-958c07748900/w=800,fit=cover" 
         srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/b1f0e003-7244-4e70-8c98-958c07748900/w=320,fit=cover 320w,
                 https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/b1f0e003-7244-4e70-8c98-958c07748900/w=480,fit=cover 480w,
                 https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/b1f0e003-7244-4e70-8c98-958c07748900/w=800,fit=cover 800w"
         sizes="(max-width: 320px) 280px,
                (max-width: 480px) 440px,
                800px"
         alt="Description of image 3">
      </div>
    
  </div>
<br><br>
    <p>For those leading an active lifestyle, or seeking an active break, not only are there plenty of things to spend your valuable time on without spending it on long drives, but most of the county is well served by a network of cycle trails accessing all corners so you can do without the car at all if you wish. On these tracks you can access ancient towers, quiet RSPB Wetlands, revolutionary battlefields, historic monuments, quiet hillsides….and if that all sounds a little tame for you: some of the best Canyoning in Scotland, and a huge variety of off-road cycling from quiet roads, to family friendly trails and gravel trails and steep and technical mountain bike trails in the woods, or even down some of the steeper glens and gullies falling off the Ochils down to the waiting villages (and teashops) below in the Hillfoot Villages.
    The mountain biking in Clackmannanshire offers something for everyone. Looking at what's available from West to East along the Ochil hills we start just out of the county in University and Mine woods with their multiple techy trails and steep lines. We can venture up onto Dumyat (our mini Mountain) with its multiple descents from fun and flowy to very steep and from here east, the trails and hills get quieter away from the bustle of Stirling and Bridge of Allen. Climb up mighty Coalsnaur with its classic descent, around the Jerah estate and the gravel trails across it, and further east toward the highest point Ben Cleuch and the classic skyline ridges. These give access to gully and remote hill and valley descents as you head toward Dollar and the huge Kings-seat descents into Dollar Glen. From here there are trails once again trending toward steep tree dodging, to out and back trails with pubs at either end through the hills and out to Glen Devon toward Gleneagles.
    Out on these trails you'll find historic railway routes, castles, mills and in some cases even outlet shopping areas, spa's and cafes as well, while you travel around the county. For those wanting to travel further by bike, then there are NCR routes "Round The Forth" which can loop out to Stirling in the West, and The Forth Bridges in the East, and on to the Fife Coastal Path if you have the energy to ride all the way to Dundee, or maybe just along the Forth on the Fife Coast.
    Stopping in Clackmannanshire, many people return for a second trip, because there's so much to do and see here, that they hardly left the county. Family Holidays, leisure trips, adventure seekers; there's something here for all of you - when are you coming?</p>
<br><br>
    <div id="lightgallery" class="gallery-container">
        
      <div class="gallery-img-container">
        <img loading="lazy" src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/116858f2-1085-4358-c6c3-451265041f00/w=800,fit=cover" 
       srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/116858f2-1085-4358-c6c3-451265041f00/w=320,fit=cover 320w,
               https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/116858f2-1085-4358-c6c3-451265041f00/w=480,fit=cover 480w,
               https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/116858f2-1085-4358-c6c3-451265041f00/w=800,fit=cover 800w"
       sizes="(max-width: 320px) 280px,
              (max-width: 480px) 440px,
              800px"
       alt="Description of image 2">  
      </div>
  
      <div class="gallery-img-container">
          <img loading="lazy" src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/39dcd6ed-254a-4d1c-671a-d60d6ff88500/w=800,fit=cover" 
         srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/39dcd6ed-254a-4d1c-671a-d60d6ff88500/w=320,fit=cover 320w,
                 https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/39dcd6ed-254a-4d1c-671a-d60d6ff88500/w=480,fit=cover 480w,
                 https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/39dcd6ed-254a-4d1c-671a-d60d6ff88500/w=800,fit=cover 800w"
         sizes="(max-width: 320px) 280px,
                (max-width: 480px) 440px,
                800px"
         alt="Description of image 3">
      </div>

      <div class="gallery-img-container">
        <img loading="lazy" src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/b084b872-f0d5-4eaa-be44-66b26f2feb00/w=800,fit=cover" 
         srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/b084b872-f0d5-4eaa-be44-66b26f2feb00/w=320,fit=cover 320w,
                 https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/b084b872-f0d5-4eaa-be44-66b26f2feb00/w=480,fit=cover 480w,
                 https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/b084b872-f0d5-4eaa-be44-66b26f2feb00/w=800,fit=cover 800w"
         sizes="(max-width: 320px) 280px,
                (max-width: 480px) 440px,
                800px"
         alt="Description of image 1">
      </div>
    
  </div>
   <br><br>
   <p> Obviously you'll want to make the most of your time here, <a href="mailto:realworldriding@fastmail.net">so get in touch with real world riding</a> to talk about biking in the area, and our partners at <a href="/" target="_blank">Scotland's Canyons for Vertical Adventure</a> and <a href="https://www.brucefieldestate.scot/" target="_blank">Brucefield Estate for quality quiet accommodation</a> in the woods of one of our local estates (which you can cycle to from Alloa Station by the way; so no need for the car at all!).
    You can also <a href="https://www.discoverclackmannanshire.com/">jump onto the @discoverclackmannanshire website</a> for some of the other offers in the area to create your perfect trip to the wee county that has it all.
    </p>
<br><br>
    <a class="button" href="https://realworldriding.co.uk" target="_blank">Visit realworldriding.co.uk</a>
    <br><br>

  </article>

</main>