---
layout: default
scripts:
  - fh
title: "Unique Biodiversity: Scotland's Canyons <br>Wildlife Haven"
date: 2024-03-19
permalink: /wildlife
css_file: "page-nav.css"
css_file2: gallery.css
canonical_url: https://www.scotlandscanyons.com/wildlife
priority: 1
changefreq: weekly 
context: "https://schema.org"
type: "LocalBusiness"
name1: "Scotland's Canyons"
url: "https://www.scotlandscanyons.com"
logo: "https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/8c86e5da-8b2c-48bf-302d-617f6d0afd00/w=300,fit=scale-down"
sameAs:
  - "https://www.youtube.com/@scotlandscanyons"
  - "https://www.facebook.com/scotlandscanyons/"
  - "https://www.instagram.com/scotlandscanyons/"
  - "https://www.tiktok.com/@scotlandscanyons"
  - "https://business.google.com/n/5753756304371722257/searchprofile?hl=en-GB" #home
  - "https://business.google.com/n/14575729591246117293/searchprofile?hl=en-GB" #dollar
  - "https://www.visitscotland.com/info/see-do/scotlands-canyons-p2831561" #dollar
  - "https://www.visitscotland.com/info/see-do/scotlands-canyons-p2838501" #alva
  - "https://www.visitscotland.com/info/see-do/discover-canyoning-p2542171"
  - "https://www.visitscotland.com/info/see-do/private-canyoning-the-bruar-water-p2838531"
  - "https://www.visitscotland.com/info/tours/the-ultimate-canyoning-experience-9b13b3c4"
  - "https://www.visitscotland.com/info/tours/private-canyoning-in-alva-glen-561884a9"
  - "https://www.visitscotland.com/info/tours/discover-canyoning-in-dollar-glen-bd8c6112"
  - "https://www.visitscotland.com/info/tours/private-canyoning-bruar-ac6cc74d"
contactPoint:
  type: "ContactPoint"
  telephone: "+44 7868 367180"
  contactType: "customer service"
address:
  type: "PostalAddress"
  streetAddress: "Hartridge"
  addressLocality: "Cupar"
  addressRegion: "Fife"
  postalCode: "ky157up"
  addressCountry: "Country"
  addressCountry: "Scotland"
schema_image:
  context: "https://schema.org"
  type: "ImageObject"
  name: "canyoning-in-scotland-best-small-group-adventure-activity"
  author:
    type: "Person"
    name: "Ross Murray"
  copyrightHolder:
    type: "Organization"
    name: "Adventure Logic Ltd"
  uploadDate: "2024-03-17"  
image: "https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/194edfb8-eac7-46f9-e587-c32a7a12de00/w=1200,fit=scale-down" 
description: "Canyoning guide sustainably explores a unique habtat for wildlife in Scotland's Canyons"
imagewidth: 800
imageheight: 533
meta_description: "The Wildlife found in and around Scotland's canyons is unique and precious. Discover the magnificent ecology that can be seen on our canyoning adventures"
---      
{% include topbox-top.html %}
      
    <main>
      <article>
        
        <!--Intro-->
        <div class="textbox">
          {% include _images/logo.html %}
          <h2>The Precious Wildlife of Scotland's Canyons.</h2>
          <p>As part of our everyday operations, we record sightings of wildlife, as well as any unusual behaviour or changes to their habitats. Within every one of Scotland's canyons, a unique and rich biodiversity can be found. 
            As we discover more about each one, we can be better prepared to minimise disturbance and care for the wildlife and its home.
          </p>
          <br><br><br>
          <div class="icon"></div>
          <h2>Discover and Contribute</h2>
          <p>Explore the wildlife of Scotland's canyons and find out how you can help safeguard these incredible spaces for future generations. 
            We strive to be accurate and up-to-date with the information we provide and warmly welcome all contributions to the content on this page. 
            <a href="mailto:sustainability@scotlandscanyons.com">Email us now</a> or <a href="#contact">Submit a contribution</a>
          </p>
        
        </div>

        <!--Page Nav-->
        <nav class="page-menu textbox" id="page-menu">
            <div class="icon"></div>
            <h2>Page Menu</h2>
            <ul>
                <li><a href="#birds">Birds</a></li>
                <li><a href="#mammals">Mammals</a></li>
                <li><a href="#insects">Insects</a></li>
                <li><a href="#reptiles-and-amphibians">Reptiles and Amphibians</a></li>
                <li><a href="#fish-and-freshwater-crustaceans">Fish and Crustaceans</a></li>
                <li><a href="#other-imporant-forms-of-life">Other Life Forms</a></li>
                <li><a href="#invasive-species">Invasive Species</a></li>
                <li><a href="#contribute">Contribute</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#online-resources">Online Resources</a></li>
            </ul>
        </nav>
           
        <!--Birds-->
        <div class="container textbox">
            <div class="icon" id="birds"></div>
          <h2>Birds</h2>
            <p class="content"><span class="headline">Nesting Birds to look out for:</span>&nbsp;Several species of birds can be found nesting in close proximity to flowing waters and are often hard to spot, 
              burrowed into sandy banks or nestled amidst gravel and stony beaches. 
              By knowing what to look out for and which habitats to avoid, we can enable species such as these to thrive in the shelter of Scotland's Canyons.
                <br>
                <input type="checkbox" id="learn-more-toggle-1" class="learn-more-checkbox">
                <label for="learn-more-toggle-1" class="learn-more-btn">Show&nbsp;Species&nbsp;&darr;</label>
                <span class="hidden-content">
                  <img class="wildlife-img" loading="lazy" src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/9f7aae5a-e253-4de1-ffc8-c1a40de3f400/w=800,fit=cover" 
        
                  srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/9f7aae5a-e253-4de1-ffc8-c1a40de3f400/w=320,fit=cover 320w,
                         https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/9f7aae5a-e253-4de1-ffc8-c1a40de3f400/w=480,fit=cover 480w,
                         https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/9f7aae5a-e253-4de1-ffc8-c1a40de3f400/w=800,fit=cover 800w"
                 sizes="(max-width: 320px) 280px,
                        (max-width: 480px) 440px,
                        800px"
                 alt="White Throated Dipper Perched on Log near river">
                <br><br>
                <span class="headline">White-throated Dippers (Cinclus cinclus):</span>&nbsp;A common sight in suitable habitats across Scotland, their nesting behaviour is a testament to their adaptation to living in and around fast-flowing waters. 
                Their presence is also often an indicator of the health of freshwater systems, as they thrive in clean, pollution-free waters. We love to see these dynamic and quirky wee birds bobbing up and down on rocks with their characteristic knee bends and dipping in and out of the pools.
                <br><br>
                <img class="wildlife-img" loading="lazy" src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/b4911d26-7d18-408e-0882-6d035e664300/w=800,fit=cover" 
                 srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/b4911d26-7d18-408e-0882-6d035e664300/w=320,fit=cover 320w,
                         https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/b4911d26-7d18-408e-0882-6d035e664300/w=480,fit=cover 480w,
                         https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/b4911d26-7d18-408e-0882-6d035e664300/w=800,fit=cover 800w"
                 sizes="(max-width: 320px) 280px,
                        (max-width: 480px) 440px,
                        800px"
                 alt="Grey wagtail diving near water">
                <br> <br> 
                <span class="headline">Grey Wagtail (Motacilla cinerea):</span>&nbsp;Grey Wagtails are easily identified by their long tails and distinctive yellow underparts. 
                They often breed near fast-flowing streams and rivers in Scotland, building their nests in crevices in rocks or walls, and sometimes under bridges, close to the water. A special sight we often see is the Wagtails and Dippers engaging in a magical tail-wagging, knee-bending canyon ceilidh.
                <br><br>
                <span class="headline">Common Sandpiper (Actitis hypoleucos):</span>&nbsp;These birds are often found along rivers, lakes, and lochs in Scotland. Common Sandpipers prefer to nest on the ground near freshwater, using vegetation for concealment. They feed on insects and invertebrates found in the mud and shallow water.
                <br><br>
                <img class="wildlife-img" loading="lazy" src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/9e78b2ff-d57f-4df2-7d35-4d5867ff6500/w=800,fit=cover" 
                 srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/9e78b2ff-d57f-4df2-7d35-4d5867ff6500/w=320,fit=cover 320w,
                         https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/9e78b2ff-d57f-4df2-7d35-4d5867ff6500/w=480,fit=cover 480w,
                         https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/9e78b2ff-d57f-4df2-7d35-4d5867ff6500/w=800,fit=cover 800w"
                 sizes="(max-width: 320px) 280px,
                        (max-width: 480px) 440px,
                        800px"
                 alt="Kingfisher perched on branch">  
                <br><br>
                <span class="headline">Kingfisher (Alcedo atthis):</span>&nbsp;Kingfishers are vibrant birds known for their electric blue and orange plumage. In Scotland, they nest in burrows excavated along the banks of rivers, streams, or lakes. The burrow's entrance is typically close to water, with a tunnel leading to a nesting chamber. 
                <br><br>
                <span class="headline">Sand Martin (Riparia riparia):</span>&nbsp;Sand Martins are small, social birds that excavate nesting tunnels in sandy riverbanks. These colonies can be quite large and are typically located close to water, where the birds catch flying insects.
                <br><br>
                Have you seen a nesting bird in Scotland's canyons?
                <a href="mailto:sustainability@scotlandscanyons.com">Email us now</a> or <a href="#contact">submit a contribution</a>
                
                <br><br>
                <label for="learn-more-toggle-1" class="collapse-btn">Hide section &uarr;</label></span>

            </p>
          
        </div>  
    
        <!-- Other Bords-->
        <div class="container textbox" id="other-birds">
            <p class="content"><span class="headline">Other Birds We See:</span>&nbsp;A huge variety of birds can be spotted visiting and residing in Scotland's Canyons. 
              Here are some exciting species that we have been fortunate enough to spot in the canyons and on our approaches.      
              <br>
              <input type="checkbox" id="learn-more-toggle-2" class="learn-more-checkbox">       
              <label for="learn-more-toggle-2" class="learn-more-btn">Show&nbsp;Species&nbsp;&darr;</label>
                <span class="hidden-content">
                  <br>
                <img class="wildlife-img" loading="lazy" src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/4ea715cf-f0e4-4030-1ae0-1d27f99a9300/w=800,fit=cover" 
                 srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/4ea715cf-f0e4-4030-1ae0-1d27f99a9300/w=320,fit=cover 320w,
                         https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/4ea715cf-f0e4-4030-1ae0-1d27f99a9300/w=480,fit=cover 480w,
                         https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/4ea715cf-f0e4-4030-1ae0-1d27f99a9300/w=800,fit=cover 800w"
                 sizes="(max-width: 320px) 280px,
                        (max-width: 480px) 440px,
                        800px"
                 alt="Golden eagle soars high over Scotland's Canyons">  
                <br><br>
                <span class="headline">Golden Eagles (Aquila chrysaetos):</span>&nbsp;These majestic birds of prey can be seen soaring high above the canyons, especially in the Highlands. 
                They are one of Scotland's most iconic species, known for their impressive wingspan and hunting prowess.
               <br><b></b>
                <span class="headline">Buzzards (Buteo buteo):</span>&nbsp;Buzzards are one of the most common birds of prey in Scotland and can often be seen circling above looking for their next meal.
                <br><br>
                Have you seen an interesting bird in Scotland's canyons?
                <a href="mailto:sustainability@scotlandscanyons.com">Email us now</a> or <a href="#contact">submit a contribution</a>
               
                <br>
                <br>
                <label for="learn-more-toggle-2" class="collapse-btn">Hide section &uarr;</label></span>
  
            </p>
            <br><br><br>

            <a href="#page-menu">Back to page menu</a>
        </div>

        <!--MAmmals-->
        <div class="container textbox">
            <div class="icon" id="mammals"></div>
            <h2>Mammals</h2>
            <p class="content"><span class="headline">Mammals We Look Out For:</span>&nbsp;Sheltered, peaceful spaces, along with a water source, often attract an array of mammals to live in or visit Scotland's canyons. Although many are highly elusive and nocturnal, we remain ever hopeful of spotting some of the animals on this list.
            <br>
            <input type="checkbox" id="learn-more-toggle-3" class="learn-more-checkbox">       
              <label for="learn-more-toggle-3" class="learn-more-btn">Show&nbsp;Species&nbsp;&darr;</label>
                <span class="hidden-content">
            <br><br>
                  <span class="headline">Otters (Lutra lutra):</span>&nbsp;Otters are skilled swimmers that can be spotted along rivers and streams within canyons, often at dawn or dusk. They are known for their playful nature and are a joy to watch as they hunt for fish.
            <br><br>
            <img class="wildlife-img" loading="lazy" src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/6c908d6e-118e-49ac-0ac1-9b723c293500/w=800,fit=cover" 
             srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/6c908d6e-118e-49ac-0ac1-9b723c293500/w=320,fit=cover 320w,
                     https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/6c908d6e-118e-49ac-0ac1-9b723c293500/w=480,fit=cover 480w,
                     https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/6c908d6e-118e-49ac-0ac1-9b723c293500/w=800,fit=cover 800w"
             sizes="(max-width: 320px) 280px,
                    (max-width: 480px) 440px,
                    800px"
             alt="Red Deer Stag amongst purple heather in Scotland">  
            <br><br>
            <span class="headline">Red Deer (Cervus elaphus scoticus):</span>&nbsp;The red deer is Scotland's largest land mammal and can often be seen grazing in the vicinity of canyons, especially in more remote and wooded areas.
            <br><br>

            <span class="headline">Pine Martens (Martes martes):</span>&nbsp;These elusive and agile creatures are making a comeback in Scotland and can sometimes be spotted in forested canyon areas, where they hunt and make their dens.
            <br><br> 
            <img class="wildlife-img" loading="lazy" src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/61966367-ea28-4911-b7b9-7b64b61df500/w=800,fit=cover" 
             srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/61966367-ea28-4911-b7b9-7b64b61df500/w=320,fit=cover 320w,
                     https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/61966367-ea28-4911-b7b9-7b64b61df500/w=480,fit=cover 480w,
                     https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/61966367-ea28-4911-b7b9-7b64b61df500/w=800,fit=cover 800w"
             sizes="(max-width: 320px) 280px,
                    (max-width: 480px) 440px,
                    800px"
             alt="Scottish Red Squirrel leaps through the air"> 
            <br><br>
            <span class="headline">Red Squirrels:</span>&nbsp;The acrobat of the forest, red squirrels can often be seen in the forests around Scotland's Canyons. A spectacular sight is to catch a flash of colour leaping between branches as they perform daring trapeze acts high above the canyon floor.
            <br><br>
            <img class="wildlife-img" loading="lazy" src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/245f2684-3cd9-4b96-6bd9-517b7635fc00/w=800,fit=cover" 
             srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/245f2684-3cd9-4b96-6bd9-517b7635fc00/w=320,fit=cover 320w,
                     https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/245f2684-3cd9-4b96-6bd9-517b7635fc00/w=480,fit=cover 480w,
                     https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/245f2684-3cd9-4b96-6bd9-517b7635fc00/w=800,fit=cover 800w"
             sizes="(max-width: 320px) 280px,
                    (max-width: 480px) 440px,
                    800px"
             alt="Scottish Wildcat stretches on tree">  
            <br><br>
             <span class="headline">Scottish Wildcat (Felis silvestris grampia):</span>&nbsp;Extremely rare and elusive, the Scottish wildcat resembles a domestic cat but with a much bulkier build and distinctive striped coat. They inhabit remote areas, and spotting one in the wild would be an exceptional and fortunate experience. We remain ever hopeful.
            <br><br>
             <span class="headline">Bats:</span>&nbsp;Bats are commonly found in the more shaded and secluded areas of canyons, using caves and crevices for roosting during the day. They can sometimes be seen zigzagging across the canyon in a high-octane chase of flying insects. There are ten species of bat found in Scotland, including the Common Pipistrelle (Pipistrellus pipistrellus), Soprano Pipistrelle (Pipistrellus pygmaeus), and Daubenton's bat (Myotis daubentonii), among others.
           <br><br>
             <span class="headline">Rabbits and Hares:</span>&nbsp;Both are common in the countryside and may be seen in open areas near canyons, especially during early morning approaches.
            <br><br>
             <span class="headline">Foxes (Vulpes vulpes):</span>&nbsp;Foxes are adaptable and can be found in a wide range of habitats, including near canyons, where they hunt for small mammals, birds, and insects.
            <br><br>
             <span class="headline">Badgers (Meles meles):</span>&nbsp;Badgers are nocturnal and more difficult to spot, but they inhabit woodland areas and may be found near canyons, especially where there is a mixture of woodland and open country.
            <br><br>
             <img class="wildlife-img" loading="lazy" src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/e7b3e063-1483-4d71-1ab4-cd760acc0100/w=800,fit=cover" 
             srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/e7b3e063-1483-4d71-1ab4-cd760acc0100/w=320,fit=cover 320w,
                     https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/e7b3e063-1483-4d71-1ab4-cd760acc0100/w=480,fit=cover 480w,
                     https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/e7b3e063-1483-4d71-1ab4-cd760acc0100/w=800,fit=cover 800w"
             sizes="(max-width: 320px) 280px,
                    (max-width: 480px) 440px,
                    800px"
             alt="Beaver builds a dam">  
            <br><br>
             <span class="headline">Beavers (Castor fiber):</span>&nbsp;Recently reintroduced to Scotland, beavers are ecosystem engineers that can create new habitats by building dams. While their activity is more common in some areas than others, it's possible to see signs of beavers near waterways in canyons.
            <br><br>
             Have you seen an interesting mammals in Scotland's canyons? 
             <a href="mailto:sustainability@scotlandscanyons.com">Email us now</a> or <a href="#contact">submit a contribution</a> 
            
            <br>
            <label for="learn-more-toggle-3" class="collapse-btn">Hide section &uarr;</label></span>
          </p>
          <br><br></br>
          <a href="#page-menu">Back to page menu</a>  
        </div>

        <!--Insects-->
        <div class="container textbox">
            <div class="icon" id="insects"></div>
            <h2>Insects</h2>
              <p class="content"><span class="headline">Vital to supporting our canyons' biodiversity:</span> Insect life can also provide a spectacular encounter or a glimpse into a micro-world of wondrous beasts. 
              Here are some of the insects we can expect to come across in Scotland's canyons.
              <br>
            <input type="checkbox" id="learn-more-toggle-4" class="learn-more-checkbox">       
              <label for="learn-more-toggle-4" class="learn-more-btn">Show&nbsp;Species&nbsp;&darr;</label>
              <span class="hidden-content">
                <br>
                <img class="wildlife-img" loading="lazy" src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/2d8650f3-6920-4ec7-30d8-abb927cb6c00/w=800,fit=cover" 
             srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/2d8650f3-6920-4ec7-30d8-abb927cb6c00/w=320,fit=cover 320w,
                     https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/2d8650f3-6920-4ec7-30d8-abb927cb6c00/w=480,fit=cover 480w,
                     https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/2d8650f3-6920-4ec7-30d8-abb927cb6c00/w=800,fit=cover 800w"
             sizes="(max-width: 320px) 280px,
                    (max-width: 480px) 440px,
                    800px"
             alt="Magnified photo of a Mayfly">  
            <br><br>
             <span class="headline">Mayflies (Ephemeroptera):</span>&nbsp;These insects are often seen in large numbers around streams and rivers. They play a crucial role in the aquatic food web, serving as a major food source for fish and other wildlife.
            <br><br>
             <span class="headline">Caddisflies (Trichoptera):</span>&nbsp;Like mayflies, caddisflies are important to stream and river ecosystems. Their larvae build protective cases from materials found in the water, contributing to the biodiversity of the stream bed.
            <br><br>
             <span class="headline">Stoneflies (Plecoptera):</span>&nbsp;Stonefly larvae are found in clean, cold streams and rivers, making them indicators of water quality. They are an essential part of the aquatic ecosystem, feeding on algae and detritus.
            <br><br>
             <img class="wildlife-img" loading="lazy" src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/98748cb1-6249-40f0-300d-18e1addcab00/w=800,fit=cover" 
             srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/98748cb1-6249-40f0-300d-18e1addcab00/w=320,fit=cover 320w,
                     https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/98748cb1-6249-40f0-300d-18e1addcab00/w=480,fit=cover 480w,
                     https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/98748cb1-6249-40f0-300d-18e1addcab00/w=800,fit=cover 800w"
             sizes="(max-width: 320px) 280px,
                    (max-width: 480px) 440px,
                    800px"
             alt="Colourful Draginfly perched on twig">  
            <br><br>
             <span class="headline">Dragonflies and Damselflies (Odonata):</span>&nbsp;An enchanting and spectacular sight, these predators are often seen flying swiftly over water bodies, hunting for other insects. Dragonflies occasionally land on our helmets, offering a fleeting thrill of connection with nature. Their larvae, known as nymphs, are aquatic and prey on a variety of aquatic organisms.
            <br><br>
             <span class="headline">Aquatic Beetles (Coleoptera):</span>&nbsp;A wide variety of beetles are adapted to life in and around water. Both adults and larvae are predators of other insects and small aquatic organisms.
             <br><br>
          Have you seen any interesting insects in Scotland's canyons?
             <a href="mailto:sustainability@scotlandscanyons.com">Email us now</a> or <a href="#contact">submit a contribution</a> 
            
            <br><br>
            <label for="learn-more-toggle-4" class="collapse-btn">Hide section &uarr;</label></span>
          </p>
          <br><br></br>  
          <a href="#page-menu">Back to page menu</a>
        
        </div>

        <!--Reptiles and Amphibians-->  
        <div class="container textbox">
              <div class="icon" id="reptiles-and-amphibians"></div>
            <h2>Reptiles and Amphibians</h2>
            
              <p class="content"><span class="headline">A rare yet special sight:</span> amphibians can usually be found in Scotland's canyons if you know where to look. Often hiding under fragile rotting logs or piles of muddy detritus, amphibian life is a great example of why we must pass through Scotland's canyons with as little disturbance as possible.
             <br>
                <input type="checkbox" id="learn-more-toggle-5" class="learn-more-checkbox">       
              <label for="learn-more-toggle-5" class="learn-more-btn">Show&nbsp;Species&nbsp;&darr;</label>
              <span class="hidden-content">
              <br>  
            <img class="wildlife-img" loading="lazy" src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/b4a63007-a237-4913-7ffd-febe2cb81600/w=800,fit=cover" 
            srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/b4a63007-a237-4913-7ffd-febe2cb81600/w=320,fit=cover 320w,
                    https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/b4a63007-a237-4913-7ffd-febe2cb81600/w=480,fit=cover 480w,
                    https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/b4a63007-a237-4913-7ffd-febe2cb81600/w=800,fit=cover 800w"
            sizes="(max-width: 320px) 280px,
                   (max-width: 480px) 440px,
                   800px"
            alt="Common frog half submerged in water surounded by spawn"> 
            <br><br>
            <span class="headline">Frogs and Toads:</span>&nbsp;In the damp environments near water sources of Scotland's canyons, common frogs (Rana temporaria) and common toads (Bufo bufo) are a familiar sight. Especially in spring, their spawning activities in still pools and marshlands are crucial for their lifecycle. We tread carefully to avoid disturbing these vital breeding grounds. 
            Observing these amphibians offers a glimpse into the delicate balance of canyon ecosystems, where they play key roles in controlling insect populations and serving as prey for other wildlife. Their presence underscores the importance of minimally invasive exploration to protect the natural cycle of life in these rich habitats.
           <br><br>
            <span class="headline">Adder (Vipera berus):</span>&nbsp;Scotland's only venomous snake, basking on a sunny rock. They are shy and usually avoid human contact.
            <br><br>
            <img class="wildlife-img" loading="lazy" src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/2e6bb81e-042a-4a02-ac60-d8359bffaa00/w=800,fit=cover" 
             srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/2e6bb81e-042a-4a02-ac60-d8359bffaa00/w=320,fit=cover 320w,
                     https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/2e6bb81e-042a-4a02-ac60-d8359bffaa00/w=480,fit=cover 480w,
                     https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/2e6bb81e-042a-4a02-ac60-d8359bffaa00/w=800,fit=cover 800w"
             sizes="(max-width: 320px) 280px,
                    (max-width: 480px) 440px,
                    800px"
             alt="Common lizerds basking in the sun ontop of a log">  
            <br><br>
             <span class="headline">Common Lizard (Zootoca vivipara):</span>&nbsp;The most widespread reptile in Scotland, common lizards are small, typically reaching lengths of up to 15 cm. They are particularly fond of basking on rocks, logs, or dry stone walls when the sun is out. We often catch a glimpse of these sleekit wee beasties on sunny days whilst approaching the canyons.
            <br><br>
             <span class="headline">Slow Worm (Anguis fragilis):</span>&nbsp;Prefer areas with plenty of cover and can often be found under logs, stones. Slow worms have a shiny, smooth body, and can grow up to 50 cm in length.
         <br><br>
            Have you seen any interesting reptiles or amphibians in Scotland's canyons?
             <a href="mailto:sustainability@scotlandscanyons.com">Email us now</a> or <a href="#contact">submit a contribution</a>    
             <br><br>
             <label for="learn-more-toggle-5" class="collapse-btn">Hide section &uarr;</label></span>

            </p>
            <br><br><br>
            <a href="#page-menu">Back to page menu</a>
          <br><br><br>  
        </div>

        <!--Fish and Crustaceans-->  
        <div class="container textbox">
              <div class="icon" id="fish-and-freshwater-crustaceans"></div>
              <h2>Fish and Freshwater Crustaceans:</h2>
            <p><span class="headline">"How did they get here?"</span>It's a truly remarkable thing to find fish high up in a canyon pool above giant, vertical waterfalls and ponder over how they came to be there. 
              We like to leave that to the imagination, making aquatic life one of the most exciting things to spot in a tiny wee pool high in the hills.
              <br>
              <input type="checkbox" id="learn-more-toggle-6" class="learn-more-checkbox">       
            <label for="learn-more-toggle-6" class="learn-more-btn">Show&nbsp;Species&nbsp;&darr;</label> 
            <span class="hidden-content">
              <br>
            <span class="headline">Atlantic Salmon (Salmo salar):</span>&nbsp;Scotland is famous for its salmon rivers. The Atlantic salmon is an anadromous fish, meaning it migrates from the sea into fresh water to spawn. Some of Scotland's canyons and gorges are crucial for their migration and breeding.
            <br><br>
            <span class="headline">Brown Trout (Salmo trutta):</span>&nbsp;Found in many of Scotland's clean rivers and streams, brown trout are a native species that thrive in cool, oxygen-rich waters.
            <br><br>
            <span class="headline">Sea Trout (Salmo trutta morpha trutta):</span>&nbsp;Sea trout are anadromous like salmon, spending part of their life in the sea before returning to fresh water to spawn. They are often found in the same habitats as salmon.
            <br><br>
            <span class="headline">Freshwater Pearl Mussel (Margaritifera margaritifera):</span>&nbsp;These mussels are filter feeders, cleaning the water as they feed, and are found in clean, fast-flowing rivers. They are critically endangered and protected in Scotland.
            <br><br>
            <img class="wildlife-img" loading="lazy" src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/3778d01c-835f-45af-7207-192f557fff00/w=800,fit=cover" 
            srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/3778d01c-835f-45af-7207-192f557fff00/w=320,fit=cover 320w,
                    https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/3778d01c-835f-45af-7207-192f557fff00/w=480,fit=cover 480w,
                    https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/3778d01c-835f-45af-7207-192f557fff00/w=800,fit=cover 800w"
            sizes="(max-width: 320px) 280px,
                   (max-width: 480px) 440px,
                   800px"
            alt="Native white clawed crayfish"> 
            <br><br>
            <span class="headline">Freshwater Crayfish (Austropotamobius pallipes):</span>&nbsp;The native white-clawed crayfish is extremely rare or even absent in Scotland, primarily due to the invasive American signal crayfish or Pacifastacus leniusculus (to identify see photo in invasive species section below). 
            The signal crayfish has become established in some areas and can have significant negative impacts on local ecosystems, outcompeting native species for food and habitat. 
            They are larger and more aggressive than the native species and can cause erosion problems on riverbanks due to their burrowing activities.
            <br><br>
            <img class="wildlife-img" loading="lazy" src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/5b258d5d-bc80-4d16-6607-8cc6c855b500/w=800,fit=cover" 
            srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/5b258d5d-bc80-4d16-6607-8cc6c855b500/w=320,fit=cover 320w,
                    https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/5b258d5d-bc80-4d16-6607-8cc6c855b500/w=480,fit=cover 480w,
                    https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/5b258d5d-bc80-4d16-6607-8cc6c855b500/w=800,fit=cover 800w"
            sizes="(max-width: 320px) 280px,
                   (max-width: 480px) 440px,
                   800px"
            alt="Fresh water flea under a microscope"> 
            <br><br>
            <span class="headline">Water Fleas (Daphnia spp.):</span>&nbsp;These tiny crustaceans are found in various freshwater habitats, including ponds, lakes, and slow-moving parts of rivers and streams. They are a crucial part of the aquatic food web, feeding on algae and being a primary food source for many fish species, amphibians, and aquatic insects.
            <br><br>
            <span class="headline">Gammarus (Freshwater Shrimp):</span>&nbsp;Gammarus species are small, shrimp-like crustaceans found in a wide range of freshwater habitats, including rivers and streams in canyon areas. They are an important part of the ecosystem, breaking down organic matter and serving as food for various fish species, newts, and aquatic insects.
       <br><br>
       Have you seen any interesting fish or crustaceans in Scotland's canyons?
       <a href="mailto:sustainability@scotlandscanyons.com">Email us now</a> or <a href="#contact">submit a contribution</a> 
       <br><br>
       <label for="learn-more-toggle-6" class="collapse-btn">Hide section &uarr;</label></span>
       </p>
            <br><br><br>
            <a href="#page-menu">Back to page menu</a>  
        </div>
    
        <!--Other Lifeforms-->
        <div class="container textbox">
              <div class="icon" id="other-imporant-forms-of-life"></div>
              <h2>Other Important Forms of Life</h2>
            <p class="content">Intricate and vibrant landscapes: One of the reasons Scotland's canyons are such beautiful and alluring places is the rich diversity of plant life thriving in the sheltered, damp environments. This includes a variety of mosses, lichens, and ferns, all integral to the ecosystem. 
              These species contribute significantly to the biodiversity of the area and play critical roles in habitat formation, soil stabilisation, and water retention. Many of them are sensitive to environmental changes, thus serving as indicators of ecological health.
              <br>
              <input type="checkbox" id="learn-more-toggle-7" class="learn-more-checkbox">       
              <label for="learn-more-toggle-7" class="learn-more-btn">Show&nbsp;Species&nbsp;&darr;</label> 
              <span class="hidden-content">
              <br>
                <span class="headline">Mosses:</span>&nbsp;Mosses thrive in the damp, shaded environments of canyons and gorge woodlands. They are crucial for preventing soil erosion, retaining moisture, and providing habitat for microfauna. Species like Sphagnum moss are particularly important for bog habitats, contributing to peat formation and water retention.
            <br><br>
                <span class="headline">Lichens:</span>&nbsp;Lichens are symbiotic organisms made up of fungi and algae living together. They are known for their ability to survive in harsh, nutrient-poor environments and are often found on rocks, trees, and soil surfaces in canyon areas. 
                Lichens are sensitive to air quality and can be used as bioindicators for monitoring environmental health. They play a crucial role in ecosystem processes, such as soil formation and nutrient cycling.
            <br><br>
                <span class="headline">Ferns:</span>&nbsp;Ferns, with their preference for moist, shaded areas, are commonly found in Scotland's canyons. Species like the Lady Fern (Athyrium filix-femina) and the Hard Fern (Blechnum spicant) add to the understory's diversity. Ferns help stabilise soil and provide habitat and food for various insects and other wildlife.
           <br><br>
                <span class="headline">Liverworts:</span>&nbsp;Similar to mosses, liverworts are non-vascular plants that thrive in moist, shaded areas along streams and in damp woodlands. They contribute to the biodiversity of canyon ecosystems and play roles in soil stabilisation and moisture retention.
            <br><br>
                <span class="headline">Fungi:</span>&nbsp;Fungi, including mushrooms and other fungi forms, are vital components of canyon ecosystems. They decompose organic matter, recycling nutrients back into the soil, and form mycorrhizal relationships with plants, enhancing nutrient uptake.
                
                <br><br>
       Have you seen any other interesting forms of life in Scotland's canyons?
       <a href="mailto:sustainability@scotlandscanyons.com">Email us now</a> or <a href="#contact">submit a contribution</a> 
       <br><br>
       <label for="learn-more-toggle-7" class="collapse-btn">Hide section &uarr;</label></span>
      </p>
       <br><br><br>
                <a href="#page-menu">Back to page menu</a>
        </div>

        <!--Invasive Species-->
        <div class="container textbox">
              <div class="icon" id="invasive-species"></div>
            <h2>Invasive Species</h2>
            <p class="content"><span class="negheadline">Scotland's canyons are not immune to the challenges posed by invasive species</span> which include both plants and wildlife, have the potential to significantly alter natural ecosystems. 
              It's crucial to maintain awareness of these issues and support conservation efforts to mitigate the impact of invasive species on Scotland's natural heritage. Sightings of non-native species can be recorded at environment.gov.scot.
            <br>
              <input type="checkbox" id="learn-more-toggle-8" class="learn-more-checkbox">       
            <label for="learn-more-toggle-8" class="learn-more-btn">Show&nbsp;Species&nbsp;&darr;</label> 
            <span class="hidden-content">
            <br><br>
            <img class="wildlife-img" loading="lazy" src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/bf25dbd0-db05-45ed-72ff-4cebed701a00/w=800,fit=cover" 
             srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/bf25dbd0-db05-45ed-72ff-4cebed701a00/w=320,fit=cover 320w,
                     https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/bf25dbd0-db05-45ed-72ff-4cebed701a00/w=480,fit=cover 480w,
                     https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/bf25dbd0-db05-45ed-72ff-4cebed701a00/w=800,fit=cover 800w"
             sizes="(max-width: 320px) 280px,
                    (max-width: 480px) 440px,
                    800px"
             alt="Rhododendron ponticum"> 
            <br><br>

             <span class="negheadline">Rhododendron ponticum:</span>&nbsp;Known for its dense growth, it can overwhelm native plants and reduce biodiversity.
            <br><br>
             <img class="wildlife-img" loading="lazy" src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/1624550c-dd87-484d-3784-c6afce085f00/w=800,fit=cover" 
             srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/1624550c-dd87-484d-3784-c6afce085f00/w=320,fit=cover 320w,
                     https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/1624550c-dd87-484d-3784-c6afce085f00/w=480,fit=cover 480w,
                     https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/1624550c-dd87-484d-3784-c6afce085f00/w=800,fit=cover 800w"
             sizes="(max-width: 320px) 280px,
                    (max-width: 480px) 440px,
                    800px"
             alt="Japanese Knotweed (Fallopia japonica)"> 
             <br>
            <span class="negheadline">Japanese Knotweed (Fallopia japonica):</span>&nbsp;A highly invasive plant that can damage buildings, flood defences, and natural habitats.
           <br><br>
            <img class="wildlife-img" loading="lazy" src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/7d6283b6-b9a2-45a8-2910-d628f991c100/w=800,fit=cover" 
             srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/7d6283b6-b9a2-45a8-2910-d628f991c100/w=320,fit=cover 320w,
                     https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/7d6283b6-b9a2-45a8-2910-d628f991c100/w=480,fit=cover 480w,
                     https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/7d6283b6-b9a2-45a8-2910-d628f991c100/w=800,fit=cover 800w"
             sizes="(max-width: 320px) 280px,
                    (max-width: 480px) 440px,
                    800px"
             alt="Giant Hogweed (Heracleum mantegazzianum)"> 
             <br><br>
            <span class="negheadline">Giant Hogweed (Heracleum mantegazzianum):</span>&nbsp;Poses a threat not only to native biodiversity but also to human health, as its sap can cause severe skin burns.
            <br><br>
            <span class="negheadline">American Mink (Neovison vison):</span>&nbsp;A predator affecting native birds, particularly waterfowl, and small mammals.
            <br><br>
            <img class="wildlife-img" loading="lazy" src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/4c8eab76-878d-4e2a-2646-227bf76bb700/w=800,fit=cover" 
             srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/4c8eab76-878d-4e2a-2646-227bf76bb700/w=320,fit=cover 320w,
                     https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/4c8eab76-878d-4e2a-2646-227bf76bb700/w=480,fit=cover 480w,
                     https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/4c8eab76-878d-4e2a-2646-227bf76bb700/w=800,fit=cover 800w"
             sizes="(max-width: 320px) 280px,
                    (max-width: 480px) 440px,
                    800px"
             alt="Signal Crayfish (Pacifastacus leniusculus)"> 
            <br><br>
             <span class="negheadline">Signal Crayfish (Pacifastacus leniusculus):</span>&nbsp;Outcompetes native crayfish species for food and habitat, leading to their decline.
            <br><br>
             <span class="negheadline">Grey Squirrel (Sciurus carolinensis):</span>&nbsp;Outcompetes native red squirrels for food and habitat and can carry squirrelpox virus, which is lethal to red squirrels.
            These species are just a few examples of the invasive plants and animals posing a threat to Scotland's native ecosystems, including its canyons. Efforts to control these species are vital for protecting and preserving the natural biodiversity of these areas.
          
          <br><br>
       Have you seen the damaging effects of invasive species in Scotland's canyons? 
       <a href="mailto:sustainability@scotlandscanyons.com">Email us now</a> or <a href="#contact">submit a contribution</a> 
       <br><br>
       <label for="learn-more-toggle-8" class="collapse-btn">Hide section &uarr;</label></span>
        </p>        
        <br><br><br>
        <a href="#page-menu">Back to page menu</a>     
        </div>
           
        <!--contribut and Collaborate-->
        <div class="container textbox">
              <div class="icon" id="contribute"></div>
            
            <h2>Contribute and Collaborate</h2>
            <p>This is by no means an exhaustive list. We are continuously learning and discovering more about the amazing biodiversity in Scotland's canyons and how to protect it. We feel privileged to visit these unique and majestic landscapes and would warmly welcome collaboration and contributions towards understanding how to safeguard them for future generations and wildlife. Here's how you can help and get involved:
            <br>
              <input type="checkbox" id="learn-more-toggle-9" class="learn-more-checkbox">       
            <label for="learn-more-toggle-9" class="learn-more-btn">Read&nbsp;More&nbsp;&darr;</label> 
            <span class="hidden-content">
            <br><br>
            <span class="headline">Stick to the path:</span>&nbsp;Stick to the Path: When you visit a glen, gorge, or waterfall, stay safe and respectful by sticking to the paths and designated viewing platforms, unless accompanied by an expert guide. Keep your distance and do not disturb any animal life you encounter. We adhere to the 7 Leave No Trace principles. You can find out more at lnt.org.
            <br><br>
            <span class="headline">Join a or organise a canyon clean up near you:</span>&nbsp;Sadly, Scotland's canyons can become traps for rubbish, blown in by the wind or carried down by rivers. Occasionally, thoughtless criminals may dump larger items, which should be reported to the police. Careless hikers, campers, and wild swimmers can also unwittingly contribute to the accumulation of rubbish in our canyons. 
              We regularly organise litter picks and clean-up operations in the canyons we visit. Furthermore, we would be excited to assist local communities in removing unsightly rubbish that can harm wildlife. 
              Please get in touch to find out how we can work together to keep Scotland's Canyons clean! Call or <a href="mailto:sustainability@scotlandscanyons.com">Email us</a> of fill out the form below
              <br><br>
              <span class="headline">Record Wildlife Sightings and Non Native Species: </span>&nbsp;Use the contribution form below to tell us what you have seen. There are a number of public participation surveys through which you can contribute directly to the data pool. Below are some <a href="resources">resources</a> where you can learn more and find out how to contribute your observations.
              <br><br>
              <label for="learn-more-toggle-9" class="collapse-btn">Hide section &uarr;</label></span>
            </p>
            <br><br><br>
            <a href="#page-menu">Back to page menu</a>  
        </div>

        <!--Contact-->
        <div class="container textbox">
        <div class="icon" id="contact"></div>
          <h2>Contact us</h2>
          <a href="mailto:sustainability@scotlandscanyons.com">Email us</a>
          <br><br>
          <a href="tel:07828282558">Call Us</a>
          <div class="elfsight-app-5b1c91b0-5af5-4cbd-8e17-cc20f6a5a16f" data-elfsight-app-lazy></div>
          <br><br><br>
          <a href="#page-menu">Back to page menu</a> 
        </div>

        <!--Resources-->
        <div class="container textbox">
              <div class="icon" id="online-resources"></div>

              <h2>Online Resources</h2>
            <p><span class="headline">Non-native species of concern:</span>&nbsp;Learn about invasive species in Scotland and how to submit your data. <a href="environment.gov.scot/get-involved/submit-your-data/invasive-non-native-species">environment.gov.scot/get-involved/submit-your-data/invasive-non-native-species</a></p>
            <br><br>
            <p><span class="headline">Invasive Species Scotland:</span>&nbsp;A resource by Scottish Natural Heritage focusing on invasive species. <a href="invasivespecies.scot/scottish-natural-heritage">invasivespecies.scot/scottish-natural-heritage</a></p>
            <br><br>
            <br><br>
            <p><span class="headline">NatureScot:</span>&nbsp;Scotland's nature agency offers resources on wildlife and conservation. <a href="nature.scot">nature.scot</a></p>
            <br><br>
            <p><span class="headline">RSPB (Royal Society for the Protection of Birds):</span>&nbsp;Find information on bird conservation and how to report sightings. <a href="rspb.org.uk">rspb.org.uk</a></p>
            <br><br>
            <p><span class="headline">Scottish Wildlife Trust:</span>&nbsp;Learn about wildlife conservation efforts across Scotland. <a href="scottishwildlifetrust.org.uk">scottishwildlifetrust.org.uk</a></p>
            <br><br>
            <p><span class="headline">iRecord:</span>&nbsp; A site for recording and sharing wildlife sightings across the UK. <a href="irecord.org.uk">irecord.org.uk</a></p>
          <br><br><br>
          <a href="#page-menu">Back to page menu</a>  
        </div>
           
          
      </article>
            
      <br><br><br>
        
    </main>