---
layout: default
title: "Wild Scotland Meet Up: April 15th 2024 9.30am"
permalink: /wild-scotland-meet-up
robots: noindex
date: 2024-02-02
css_file: "page-nav-2.css" 
canonical_url: https://www.scotlandscanyons.com/wild-scotland-meet-up
priority: 0.8
changefreq: weekly
schema_organization:
context: "https://schema.org"
type: "LocalBusiness"
name: "Scotland's Canyons"
url: "https://www.scotlandscanyons.com"
logo: "https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/8c86e5da-8b2c-48bf-302d-617f6d0afd00/w=300,fit=scale-down"
sameAs:
  - "https://www.youtube.com/@scotlandscanyons"
  - "https://www.facebook.com/scotlandscanyons/"
  - "https://www.instagram.com/scotlandscanyons/"
  - "https://www.tiktok.com/@scotlandscanyons"
  - "https://www.visitscotland.com/info/see-do/scotlands-canyons-p2831561"
  - "https://business.google.com/n/5753756304371722257/searchprofile?hl=en-GB"
  - "https://business.google.com/n/14575729591246117293/searchprofile?hl=en-GB" #dollar
  - "https://www.visitscotland.com/info/see-do/scotlands-canyons-p2831561" #dollar
  - "https://www.visitscotland.com/info/see-do/discover-canyoning-p2542171"
  - "https://www.visitscotland.com/info/tours/discover-canyoning-in-dollar-glen-bd8c6112"
contactPoint:
  type: "ContactPoint"
  telephone: "+44 7868 367180"
  contactType: "customer service"
address:
  type: "PostalAddress"
  addressCountry: "Scotland"
schema_image:
  context: "http://schema.org"
  type: "ImageObject"
  contentUrl: "https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/91e6d326-1cff-4968-b5eb-1b0823d93400/w=1200,fit=scale-down"
  description: "Female canyoning guest slides down a wterfall into a deep wild swimming pool, as her friend and guide watch cloely, in Dollar Glen canyon, Clackmannanshire, Scotland"
  name: "beginner-canyoning-gorgewalking-uk-edinburgh-glasgow"
  author:
    type: "Person"
    name: "Diana Harl"
  copyrightHolder:
    type: "Person"
    name: "Diana Harl"
  uploadDate: "2023-12-15"
image: "https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/770d5e6f-aa10-442c-1a5e-dc6ef1aa9a00/w=1200,fit=scale-down"
imagewidth: 624
imageheight: 370
description: "Experience the thrill of canyoning in Scotland's stunning natural landscapes with our small-group tours. Led by experienced guides, you'll explore waterfalls, gorges, and rapids in a safe and fun environment."
meta_description: "Book onto your canyoning event with Scotland's Canyons"
---
{% include topbox.html %}

<main>
    <div class="textbox">
        <div class="icon"></div>
        <h2>Please fill out the form below to book onto this canyoning event.</h2>
        <p>April 15th 2024 09:30</p>
        
      </div>  
      <div class="elfsight-app-87bf0aae-7331-4afb-aec0-b9e2c4f8661f" data-elfsight-app-lazy></div>
    <div class="abox"><h2>Next Steps</h2>
        <p>Once you submit this form, you will shortly receive a confirmation email from us with directions to the meeting point and some handy information attached. Please send us your questions, We will be excited to help you plan for a fun and memorable adventure.</p>
      </div>
  
  <article class="abox">
    <div class="icon"></div>
    <h2>Staying Safe</h2>
    <br>
    <div class="container">
    <p><span class="star">&#9733;</span><span class="headline">Our Commitment to Safety:</span> If it isn't safe, we won't do it. We practise regularly to maintain the highest standards. We understand that every adventure is unique, and our approach to safety reflects that.
        <input type="checkbox" id="learn-more-toggle-1" class="learn-more-checkbox">
        <label for="learn-more-toggle-1" class="learn-more-btn">Learn&nbsp;More&nbsp;&darr;</label>
        <span class="hidden-content"><br><br>Heightened awareness and skillful observations are fundamental to our operations, skills honed through years of experience. We prioritize constant vigilance, as safety is a non-negotiable aspect of all our activities. To ensure the highest safety standards, our guides regularly undergo specialised training, tailored to both the specific location and activity. This commitment to safety is grounded in up-to-date and relevant expertise, ensuring the best possible experience for our guests.
        <label for="learn-more-toggle-1" class="collapse-btn">Show Less &uarr;</label></span>
    </p>
    </div>
  </article>
    <article class="abox">       
    <div class="icon"></div>
    <h2>Before You Book</h2>
    <br>   
    <div class="container">
        <p class="content">
            <span class="star">&#9733;</span>&nbsp;<span class="headline">Personalised Advice and Support:</span>&nbsp;Before you book, we like to offer personalised advice and answer any questions you may have. Our information and booking office can be contacted every day for any request. We want to make sure that you are going to book the experience that is right for you.
            <input type="checkbox" id="learn-more-toggle-2" class="learn-more-checkbox">
            <label for="learn-more-toggle-2" class="learn-more-btn">Contact&nbsp;Us&nbsp;&darr;</label>
            <span class="hidden-content">We'd love to hear from you! Give us a <a href="tel:07868367180">call</a>, send us an <a href="mailto:info@scotlandscanyons.com">email</a> or message us on <a href="https://wa.me/447868367180?text=My%20Question%20is" rel="noopener" target="_blank">WhatsApp.</a>
            <label for="learn-more-toggle-2" class="collapse-btn">Show Less &uarr;</label></span>
        </p>
    </div>    
</article>
{% include canyon-menu-full.html %}
<br><br><br><br>
</main>