<div class="textbox">
<div class="icon"></div>
        <h2>Book Your Canyoning Adventure Today</h2>
        <p>Ready for an unforgettable Scottish adventure? Browse our map, select your ideal canyoning location, and book your journey with us. Experience the thrill of Scotland's canyons, all while under the guidance of our canyoning experts.<br><br> Would you like to speak with us directly?<br> We'd love to hear from you! Give us a <a href="tel:07868367180">call</a>, send us an <a href="mailto:info@scotlandscanyons.com">email</a> or message us on <a class="whatsapp" href="https://wa.me/447868367180?text=My%20Question%20is" rel="noopener" target="_blank">whatsapp.</a></p>
        <a class="fareharbour button bookNowLink" href="https://fareharbor.com/embeds/book/scotlandscanyons/?full-items=yes">Book online</a>  
</div>