<section class="textbox">
            
    <div class="icon"></div>            
    <h2>Check Live Availability in Dollar Glen</h2>                             
    <p class="subtitle">For other locations, families and groups with more than 6 people please contact us directly for availability</p>
    
    <button id="loadCalendarButton">Load Calendar</button>
    <br>
    <div class="calendar">               
    
        <div id="fareHarborCalendarContainer" style="position: relative">        
        
            <p>Ready to explore? Click a date in the calendar to book your adventure online now!</p>
        
        </div>  
</section>

