<section class="featured-post-content textbox">
  <!-- Featured Post -->
  {% assign featured_post = site.posts | where: "featured", true | first %}
  {% if featured_post %}
      <article class="featured-post">
          <div class="icon"></div>
          <h2><a href="{{ featured_post.url }}">{{ featured_post.title | split: ':' | first }}<br><span class="subtitle">{{ featured_post.title | split: ':' | last }}</span></a></h2>
          <br>
          <div class="featured-post-image-container">
              {% if featured_post.image %}
              <img width="{{ featured_post.imagewidth }}" height="{{ featured_post.imageheight }}" src="{{ featured_post.image | relative_url }}" alt="{{ featured_post.title }}" class="featured-post-image">
              {% endif %}
          </div>
          <br>
          <p>{{ featured_post.excerpt | strip_html | truncatewords: 20 }}<a href="{{ featured_post.url }}">Read Full Article</a></p>
      </article>
  {% endif %}
</div>


</section>
