<!--{% assign featured_post = site.posts | where: "featured", true | first %}
{% if featured_post %}
<br><br>
<div class="featured-post">
  <div class="icon"></div> 
  <h2><a href="{{ featured_post.url }}">{{ featured_post.title }}</a></h2>
  <p>{{ featured_post.content | strip_html | truncatewords: 50 }}<a class="middle" href="{{ featured_post.url }}">go to full blog article...</a></p>
  
</div>
{% endif %}-->

{% assign featured-post = site.posts | where: "featured", true | first %}
{% if featured-post %}
<br><br>
<div class="featured-post">
  <div class="icon"></div> 
  <h2><a href="{{ featured-post.url }}"><strong>{{ featured-post.title | split: ":" | first }}</strong><br><span class="subtitle">{{ featured-post.title | split: ":" | last }}</span></a></h2>
  <br>
  <!-- Include the image here -->
  {% if featured-post.image %}
    <img loading="lazy" width="{{ featured-post.imagewidth}}" height="{{ featured-post.imageheight }}" class="postimg" src="{{ featured-post.image | relative_url }}" alt="{{ featured-post.title }}">
  {% endif %}
  <br>
  
  <p>{{ featured-post.content | strip_html | truncatewords: 50 }}<a class="middle" href="{{ featured-post.url }}">go to full blog article...</a></p>
  
</div>
{% endif %}



