 <footer>
            
    <div  class="ftcontainer">
        
        <nav class="ftbox">       
            
            <div class="contact">
                {% include _images/logo.html %}
                <p>Scotland's&nbsp;Canyons is operated&nbsp;by&nbsp;Adventure&nbsp;Logic&nbsp;Ltd
                <br>Registerd in Scotland No.&nbsp;784544</p>
            </div>

            
            <h3>Contact</h3>
            <ul>
                <li><a href="mailto:info@scotlandscanyons.com">info@scotlandscanyons.com</a></li>            
                <li><a href="tel:07868367180">+44 7868 367180</a></li>
            </ul>

            <h3>Information</h3>
            <ul>
                <li><a href="/terms-and-conditions.pdf">Terms and Conditions</a></li>
                <li><a href="/privacy-policy.pdf">Privacy Policy</a></li>
                <li><a href="/cookie-policy.pdf">Cookie Policy</a></li>
            </ul>
        
                
        </nav>    
        
         
            <nav class="ftbox">

                <h3>Explore</h3>
                <ul>
                    <li><a href="/about-us">About Us</a></li>
                    <li><a href="/discover-canyoning">Beginners Canyoning</a></li>
                    <li><a href="/private-canyoning">Private Canyoning</a></li>
                    <li> <a href="https://connect.studentbeans.com/v4/hosted/scotland-s-canyons/uk ">Student Beans</a></li>
                    <li><a href="/map">Map</a></li>
                    <li><a href="/calendar">Availability Calendar</a></li>
                    <li><a href="/adventure-pathway">Skills Training</a></li>
                    <li><a href="/gift-vouchers">Gift Vouchers</a></li>
                   
                </ul>

                <h3>Connect</h3>
                <ul>
                    <li><a href="https://www.youtube.com/@scotlandscanyons">Youtube</a></li>
                    <li><a href="https://www.facebook.com/scotlandscanyons/">Facebook</a></li>
                    <li><a href="https://www.instagram.com/scotlandscanyons/">Instagram</a></li>
                    <li><a href="https://www.tiktok.com/@scotlandscanyons">Tiktok</a></li>
                </ul>
            </nav>
            
         
            
            <!--PDF dowload
            <div class="elfsight-app-afc2f680-0b3c-4537-a6c6-c7570e06f5d2" data-elfsight-app-lazy></div>-->
        
                
       
        <div class="ftbox">
            <!-- Image 1 -->
            <a href="https://connect.studentbeans.com/v4/hosted/scotland-s-canyons/uk">
            <img width="172" height="19" loading="lazy" class="logo" src="/resources/images/sb_dark_logo.webp"></a><a>Member&nbsp;of&nbsp;Student&nbsp;Beans?
            </a>
            <br>
            <img loading="lazy" class="logo" width="250" height="101"
                 srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/2c4a3f28-21c4-4512-cabd-d5f7b48d1f00/w=400,fit=scale-down 400w,
                         https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/2c4a3f28-21c4-4512-cabd-d5f7b48d1f00/w=800,fit=scale-down 800w"
                 sizes="(max-width: 768px) 100vw, 250px"
                 src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/2c4a3f28-21c4-4512-cabd-d5f7b48d1f00/w=400,fit=scale-down"
                 alt="Working With Visit Scotland Stamp">
            <br>
            <!-- Image 2 -->
            <img loading="lazy" class="logo" width="250" height="101"
                 srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/e9c4e4bc-506a-4205-0b96-c13d27b6ee00/w=400,fit=scale-down 400w,
                         https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/e9c4e4bc-506a-4205-0b96-c13d27b6ee00/w=800,fit=scale-down 800w"
                 sizes="(max-width: 768px) 100vw, 250px"
                 src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/e9c4e4bc-506a-4205-0b96-c13d27b6ee00/w=400,fit=scale-down"
                 alt="Wild Scotland Member Stamp">
            <br>
            <!-- Image 3 -->
            <img loading="lazy" class="logo" width="250" height="101"
                 srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/d9437d79-5c02-4a3e-b8bd-d8b5efab0900/w=400,fit=scale-down 400w,
                         https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/d9437d79-5c02-4a3e-b8bd-d8b5efab0900/w=800,fit=scale-down 800w"
                 sizes="(max-width: 768px) 100vw, 250px"
                 src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/d9437d79-5c02-4a3e-b8bd-d8b5efab0900/w=400,fit=scale-down"
                 alt="Activities Industry Mutual Member Stamp">
        </div>
        
    
    </div>     

</footer>

<!--Bottom Footer-->
<div class="bottom-footer">
    <p>© 2024 Adventure Logic Ltd. All Rights Reserved.</p>
</div>  