 <!--Footer-->
 <footer>
            
    <div  class="ftcontainer">
        
        <div class="ftbox">       
            
            {% include _images/logo.html %}
            <a href="mailto:info@scotlandscanyons.com">&#9993; info@scotlandscanyons.com</a>                
            <a  href="tel:07868367180">&#9742; 07868367180</a>
            
            <!--PDF dowload-->
            <div class="elfsight-app-afc2f680-0b3c-4537-a6c6-c7570e06f5d2" data-elfsight-app-lazy></div>
        
        </div>          
       
        <div class="ftbox">
            <!-- Image 1 -->
            <img class="logo" width="250" height="101"
                 srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/2c4a3f28-21c4-4512-cabd-d5f7b48d1f00/w=400,fit=scale-down 400w,
                         https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/2c4a3f28-21c4-4512-cabd-d5f7b48d1f00/w=800,fit=scale-down 800w"
                 sizes="(max-width: 768px) 100vw, 250px"
                 src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/2c4a3f28-21c4-4512-cabd-d5f7b48d1f00/w=400,fit=scale-down"
                 alt="Working With Visit Scotland Stamp">
            <br>
            <!-- Image 2 -->
            <img class="logo" width="250" height="101"
                 srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/e9c4e4bc-506a-4205-0b96-c13d27b6ee00/w=400,fit=scale-down 400w,
                         https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/e9c4e4bc-506a-4205-0b96-c13d27b6ee00/w=800,fit=scale-down 800w"
                 sizes="(max-width: 768px) 100vw, 250px"
                 src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/e9c4e4bc-506a-4205-0b96-c13d27b6ee00/w=400,fit=scale-down"
                 alt="Wild Scotland Member Stamp">
            <br>
            <!-- Image 3 -->
            <img class="logo" width="250" height="101"
                 srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/d9437d79-5c02-4a3e-b8bd-d8b5efab0900/w=400,fit=scale-down 400w,
                         https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/d9437d79-5c02-4a3e-b8bd-d8b5efab0900/w=800,fit=scale-down 800w"
                 sizes="(max-width: 768px) 100vw, 250px"
                 src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/d9437d79-5c02-4a3e-b8bd-d8b5efab0900/w=400,fit=scale-down"
                 alt="Activities Industry Mutual Member Stamp">
        </div>
        
    
    </div>     

</footer>

<!--Bottom Footer-->
<div class="bottom-footer">
    <p>© 2023 Scotland's Canyons. All Rights Reserved.</p>
</div>  