    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">        
    <title>{% if page.title %}{{ page.title }}{% else %}Canyoning in Scotland, Adventure Beyond The Ordinary{% endif %}</title>
       
    {% if page.meta_description %}
    <meta name="description" content="{{ page.meta_description | escape }}">
    {% endif %}
    
    <link rel="preload" href="{{ '/resources/css/fcp.css?v=2' | relative_url }}" as="style">
    <link href="{{ '/resources/css/fcp.css?v=2' | relative_url }}" rel="stylesheet">
    <link rel="preload" href="{{ '/resources/css/' | append: page.css_file | relative_url }}" as="style">
    <link rel="preload" href="{{ '/resources/css/style.css?v=3' | relative_url }}" as="style">
    <link href="{{ '/resources/css/' | append: page.css_file | relative_url }}" rel="stylesheet">
    <link href="{{ '/resources/css/style.css?v=3' | relative_url }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
   
    <meta name="google-site-verification" content="SmiIQK02nRN_UFDt9mY7i-rpNHM7erbARga6XHgvH4g">
    <meta name="facebook-domain-verification" content="pq7zxgqfpa77apy53oqmjlfbp28c37">   
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="canyoning Scotland, adventure tours, Scotland canyons, outdoor activities, nature experiences">
    <meta name="author" content="Scotland's Canyons Team">
    <meta name="publisher" content="Adventure Logic Ltd">     
   
    <meta property="og:site_name" content="Scotland's Canyons">
    <meta property="fb:app_id" content="1664968410589846">
    <meta property="og:type" content="website">
    
    <meta property="og:url" content="{{ page.url | absolute_url }}">
    <meta property="og:title" content="{{ page.title | escape }}">
    <meta property="og:description" content="{{ page.meta_description | escape }}">
    <meta property="og:image" content="{{ page.og_image | absolute_url }}">
    <meta property="og:locale" content="en_GB">
     
    <link rel="icon" type="image/x-icon" href="../favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">
    <link rel="manifest" href="../manifest.json">
    {% if page.canonical_url %}
    <link rel="canonical" href="{{ page.canonical_url }}" />
    {% endif %}       

    <script type="application/ld+json">
      {
        "@context": "{{ page.context }}",
        "@type": "{{ page.type }}",
        "name": "{{ page.name }}",
        "url": "{{ page.url }}",
        "logo": "{{ page.logo }}",
        "sameAs": {{ page.sameAs | jsonify }},
        "contactPoint": {
          "@type": "{{ page.contactPoint.type }}",
          "telephone": "{{ page.contactPoint.telephone }}",
          "contactType": "{{ page.contactPoint.contactType }}"
        },
        "address": {
          "@type": "{{ page.address.type }}",
          "streetAddress": {{ page.address.streetAddress }}
          "addressLocality": {{ page.address.addressLocality }}
          "addressRegion": {{ page.address.addressRegion }}
          "postalCode": {{ page.address.postalCode }}
          "addressCountry": "{{ page.address.addressCountry }}"
        },
        "image": {
          "@context": "{{ page.schema_image.context }}",
          "@type": "{{ page.schema_image.type }}",
          "contentUrl": "{{ page.schema_image.contentUrl }}",
          "description": "{{ page.schema_image.description }}",
          "name": "{{ page.schema_image.name }}",
          "author": {
            "@type": "{{ page.schema_image.author.type }}",
            "name": "{{ page.schema_image.author.name }}"
          },
          "copyrightHolder": {
            "@type": "{{ page.schema_image.copyrightHolder.type }}",
            "name": "{{ page.schema_image.copyrightHolder.name }}"
          },
          "uploadDate": "{{ page.schema_image.uploadDate }}"
        }
      }
      </script>

    <!--Elfsight Apps-->
    <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>