<!--Main Menu--> 
<header class="header">   
    <nav class="nav">
        
        <input type="checkbox" id="nav-check">
    
        <div class="nav-header">      
            <div class="nav-title">     
                <a href="/">{% include _images/logo-portrait.html %}</a>
            </div>    
        </div>
        
        <div class="nav-btn">
            <label for="nav-check" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>     

        <menu class="nav-links">
            <li><a {% if page.url == '/' %}class="active"{% endif %} href="/">Home<br><span class="sublink">Canyoning in Scotland</span></a></li>
            <li><a {% if page.url == '/about-us' %}class="active"{% endif %} href="/about-us">About us<br><span class="sublink">Friendly & professional</span></a></li>
            <li><a {% if page.url == '/discover-canyoning' %}class="active"{% endif %} href="/discover-canyoning">Discover<br><span class="sublink">First time canyoning?</span></a></li>
            <li><a {% if page.url == '/private-canyoning' %}class="active"{% endif %} href="/private-canyoning">Private<br><span class="sublink">Groups & families</span></a></li>
            <li><a {% if page.url == '/gift-vouchers' %}class="active"{% endif %} href="/gift-vouchers">Gift certificate<br><span class="sublink">Gift experiences</span></a></li>
            <li><a {% if page.url == '/adventure-pathway' %}class="active"{% endif %} href="/adventure-pathway">Training<br><span class="sublink">The adventure pathway</span></a></li>
            <li><a {% if page.url == '/calendar' %}class="active"{% endif %} href="/calendar">Calendar<br><span class="sublink">Live availability</span></a></li>
            <li><a {% if page.url == '/map' %}class="active"{% endif %} href="/map">Map<br><span class="sublink">Find a location</span></a></li>
            <li><a {% if page.url == '/blog' %}class="active"{% endif %} href="/blog">Blog<br><span class="sublink">Discover more</span></a></li>
            <li><a {% if page.url == '/reviews' %}class="active"{% endif %} href="/reviews">Reviews<br><span class="sublink">What Our Guests Say</span></a></li>
        </menu>
    
    </nav>
</header>