<div class="icon"></div>
                <h2 class="heading">Learn more about our extraordinary canyoning experiences</h2>
<nav class="link-container">
                    
    <a class="toplink" href="/about-us">
        <div class="image-container">  
            <img loading="lazy" src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/69251f4f-c4e6-4174-81f0-aaa01f1f6b00/w=400,fit=scale-down" 
            srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/69251f4f-c4e6-4174-81f0-aaa01f1f6b00/w=350,fit=scale-down 300w,
            https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/69251f4f-c4e6-4174-81f0-aaa01f1f6b00/w=250,fit=scale-down 200w,
            https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/69251f4f-c4e6-4174-81f0-aaa01f1f6b00/w=100,fit=scale-down 100w"
            sizes="(max-width: 768px) 100vw, (max-width: 1024px) 50vw, 25vw" alt="Canyoning guide descends stunning waterfall at the birks of aberfeldy in scotland"> <!--srcset="Resources/Images/canyoning-adventure-experience-in-aberfeldy-scotland-the-birks.webp 400w, Resources/Images/canyoning-adventure-experience-in-aberfeldy-scotland-the-birks-200.webp 150w, Resources/Images/canyoning-adventure-experience-in-aberfeldy-scotland-the-birks-150.webp 100w" sizes="(max-width: 660px) 150px, 350px"-->
            <div class="overlay"></div>
            <div class="link-title">About</div>
        </div>
    </a>
    <a class="toplink" href="/discover-canyoning">
        <div class="image-container">
            <img loading="lazy" src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/91e6d326-1cff-4968-b5eb-1b0823d93400/w=400,fit=scale-down"
            srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/91e6d326-1cff-4968-b5eb-1b0823d93400/w=350,fit=scale-down 300w,
            https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/91e6d326-1cff-4968-b5eb-1b0823d93400/w=250,fit=scale-down 200w,
            https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/91e6d326-1cff-4968-b5eb-1b0823d93400/w=100,fit=scale-down 100w"
            sizes="(max-width: 768px) 100vw, (max-width: 1024px) 50vw, 25vw" 
            alt="guest slides into dollar glen on canyoning and gorgewalking experience near edinburgh and glasgow">
            <div class="overlay"></div>
            <div class="link-title">Beginner</div>
        </div>
    </a>
    <a class="toplink" href="/private-canyoning">
        <div class="image-container">
            <img loading="lazy" src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/1df7efac-fc74-4d67-d891-39616a080400/w=400,fit=scale-down"
            srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/1df7efac-fc74-4d67-d891-39616a080400/w=350,fit=scale-down 300w,
            https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/1df7efac-fc74-4d67-d891-39616a080400/w=250,fit=scale-down 200w,
            https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/1df7efac-fc74-4d67-d891-39616a080400/w=150,fit=scale-down 100w" 
            sizes="(max-width: 768px) 100vw, (max-width: 1024px) 50vw, 25vw" 
            alt="Canyoning guide jumps into falls of bruar on privtae canyoning adventure in perthshire scotland uk">
            <div class="overlay"></div>
            <div class="link-title">Exclusive</div>
        </div>
    </a>
    <a class="toplink" href="/map">
        <div class="image-container">
            <img loading="lazy" src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/8ea34cb1-fcc0-467e-c32b-6abae9704e00/w=400,fit=scale-down" 
            srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/8ea34cb1-fcc0-467e-c32b-6abae9704e00/w=350,fit=scale-down 300w,
            https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/8ea34cb1-fcc0-467e-c32b-6abae9704e00/w=250,fit=scale-down 200w,
            https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/8ea34cb1-fcc0-467e-c32b-6abae9704e00/w=150,fit=scale-down 100w" 
            sizes="(max-width: 768px) 100vw, (max-width: 1024px) 50vw, 25vw" 
            alt="Map that shows the best canyoning locations in scotland">
            <div class="overlay"></div>
            <div class="link-title">Map</div>
        </div>
    </a> 
    <a class="toplink" href="/gift-vouchers">
        <div class="image-container">
            <img loading="lazy" src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/b252687c-8af5-4254-c08d-8f638cebe600/w=400,fit=scale-down" 
            srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/b252687c-8af5-4254-c08d-8f638cebe600/w=350,fit=scale-down 300w,
            https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/b252687c-8af5-4254-c08d-8f638cebe600/w=250,fit=scale-down 200w,
            https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/b252687c-8af5-4254-c08d-8f638cebe600/w=100,fit=scale-down 100w"
            sizes="(max-width: 768px) 100vw, (max-width: 1024px) 50vw, 25vw"
            alt="Guest smiles on the best gift experience adventure in scotland">
            <div class="overlay"></div>
            <div class="link-title">Gifts</div>
        </div>
    </a>
    <a class="toplink" href="/adventure-pathway">
        <div class="image-container">
            <img loading="lazy" src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/5067fff4-a427-40d0-29b7-e798e0728300/w=400,fit=scale-down" 
            srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/5067fff4-a427-40d0-29b7-e798e0728300/w=300,fit=scale-down 300w,
            https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/5067fff4-a427-40d0-29b7-e798e0728300/w=250,fit=scale-down 200w,
            https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/5067fff4-a427-40d0-29b7-e798e0728300/w=100,fit=scale-down 100w"
            sizes="(max-width: 768px) 100vw, (max-width: 1024px) 50vw, 25vw"
            alt="Guide abseils down waterfall at falls of bruar canyon in scotland uk">
            <div class="overlay"></div>
            <div class="link-title">Training</div>
        </div>
    </a>
</nav>