<div class="topbox"><div class="titlebox content">
       <div class="icon"></div>  
        <h1><strong>{{ page.title | split: ":" | first }}
        </strong><br><span class="subtitle">{{ page.title | split: ":" | last }}
        </span></h1> 
   </div>    </div>
   <img class="fixed-image" src="{{ page.image | split: 'w=' | first }}w=1200,fit=cover"
   srcset="
   {{ page.image | split: 'w=' | first }}w=480,fit=scale-down 480w,
   {{ page.image | split: 'w=' | first }}w=720,fit=scale-down 720w,
   {{ page.image | split: 'w=' | first }}w=960,fit=scale-down 960w,
   {{ page.image | split: 'w=' | first }}w=1200,fit=scale-down 1200w,
   {{ page.image | split: 'w=' | first }}w=1440,fit=scale-down 1440w,
   {{ page.image | split: 'w=' | first }}w=1920,fit=scale-down 1920w"
   sizes="(max-width: 480px) 480px,
      (max-width: 720px) 720px,
      (max-width: 960px) 960px,
      (max-width: 1200px) 1200px,
      (max-width: 1440px) 1440px,
      100vw"
alt="{{ page.description }}">

   
