<section class="topbox">
    
    <img class="fixed-image" style="vertical-align: top;" height="3600" width="2880" src="{{ page.image | split: 'w=' | first }}w=1200,fit=scale-down"
    srcset="
        {{ page.image | split: 'w=' | first }}w=480,fit=scale-down 480w,
        {{ page.image | split: 'w=' | first }}w=720,fit=scale-down 720w,
        {{ page.image | split: 'w=' | first }}w=1080,fit=scale-down 1080w,
        {{ page.image | split: 'w=' | first }}w=1440,fit=scale-down 1440w,
        {{ page.image | split: 'w=' | first }}w=1920,fit=scale-down 1920w,
        {{ page.image | split: 'w=' | first }}w=2880,fit=scale-down 2880w"
    sizes="(max-width: 480px) 480px,
           (max-width: 720px) 720px,
           (max-width: 1080px) 1080px,
           (max-width: 1440px) 1440px,
           (max-width: 1920px) 1920px,
           100vw" alt="{{ page.description }}"> 
    
    <div class="titlebox content">
        
            <div class="icon"></div>
            <h1><strong>{{ page.title | split: ":" | first }}
         </strong><br><span class="subtitle">{{ page.title | split: ":" | last }}
         </span></h1>
        
    </div>    
 </section>