<picture class="topbox">
   <!-- Mobile image for screens smaller than 768px -->
   <source media="(max-width: 768px)" srcset="{{ site.baseurl }}{{ page.mob-image }}">
   <!-- Default image for screens larger than 768px -->
   <img src="{{ site.baseurl }}{{ page.image }}" alt="Descriptive text">
</picture>
 
 <!--Box 1 HEADELINE IMAGE-->
<section class="topbox" style="background-image: url('{{ site.baseurl }}{{ page.image }}');">
    <div class="titlebox">
       
           <div class="icon"></div>
           <h1><strong>{{ page.title | split: ":" | first }}
        </strong><br><span class="subtitle">{{ page.title | split: ":" | last }}
        </span></h1>
       
   </div>    
</section>