<!--Box 1 HEADELINE IMAGE-->
<div class="topbox"><div class="titlebox content">  
        <h1><strong>{{ page.title | split: ":" | first }}
        </strong><br><span class="subtitle">{{ page.title | split: ":" | last }}
        </span></h1> 
   </div>    </div>
   <img class="fixed-image" width="{{ page.imagewidth }}"height="{{ page.imageheight }}" src="{{ page.image | split: 'w=' | first }}w=1200,fit=scale-down"
   srcset="
{{ page.image | split: 'w=' | first }}w=400,fit=scale-down 400w,
{{ page.image | split: 'w=' | first }}w=640,fit=scale-down 640w,
{{ page.image | split: 'w=' | first }}w=800,fit=scale-down 800w,
{{ page.image | split: 'w=' | first }}w=1000,fit=scale-down 1000w,
{{ page.image | split: 'w=' | first }}w=1280,fit=scale-down 1280w,
{{ page.image | split: 'w=' | first }}w=1600,fit=scale-down 1600w"
sizes="(max-width: 400px) 400px,
       (max-width: 640px) 640px,
       (max-width: 800px) 800px,
       (max-width: 1000px) 1000px,
       (max-width: 1280px) 1280px,
       100vw"
alt="{{ page.description }}">
   
   


<!-- srcset="
       {{ page.image | split: 'w=' | first }}w=480,fit=scale-down 480w,
       {{ page.image | split: 'w=' | first }}w=720,fit=scale-down 720w,
       {{ page.image | split: 'w=' | first }}w=960,fit=scale-down 960w,
       {{ page.image | split: 'w=' | first }}w=1200,fit=scale-down 1200w,
       {{ page.image | split: 'w=' | first }}w=1440,fit=scale-down 1440w,
       {{ page.image | split: 'w=' | first }}w=1920,fit=scale-down 1920w"
   sizes="(max-width: 480px) 480px,
          (max-width: 720px) 720px,
          (max-width: 960px) 960px,
          (max-width: 1200px) 1200px,
          (max-width: 1440px) 1440px,
          100vw"-->
   