<!--Box 1 HEADELINE IMAGE-->
<div class="titlebox">
   <div class="icon"></div>  
    <h1><strong>{{ page.title | split: ":" | first }}
    </strong><br><span class="subtitle">{{ page.title | split: ":" | last }}
    </span></h1> 
</div>

<img class="fixed-image" src="{{ page.image | split: 'w=' | first }}w=1200,fit=cover"
   srcset="
   {{ page.image | split: 'w=' | first }}w=400,fit=cover 400w,
   {{ page.image | split: 'w=' | first }}w=640,fit=cover 640w,
   {{ page.image | split: 'w=' | first }}w=800,fit=cover 800w,
   {{ page.image | split: 'w=' | first }}w=1000,fit=cover 1000w,
   {{ page.image | split: 'w=' | first }}w=1280,fit=cover 1280w,
   {{ page.image | split: 'w=' | first }}w=1600,fit=cover 1600w"
sizes="(max-width: 400px) 100vw,
       (max-width: 640px) 100vw,
       (max-width: 800px) 100vw,
       (max-width: 1000px) 100vw,
       (max-width: 1280px) 100vw,
       (max-width: 1600px) 100vw,
       100vw"
alt="{{ page.description }}">

<div class="topbox"></div>
