@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

* {
    box-sizing: border-box;
  }

/*-------Global---------*/

html, body {
        font-family: 'Roboto', sans-serif;
        outline-style: hidden;
        border-style: hidden;
        width: 100%;
        margin: 0px; 
        padding: 0px;
        overflow-x: hidden; 
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #000925;
}

h1 {
    padding: 0 10px;
    border-radius: 5px;
    color: #fff; /* White color for the text */
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);; /* Text shadow for legibility */
}

.h1 {
    padding: 0 10px;
    border-radius: 5px;
    color: #fff; /* White color for the text */
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);; /* Text shadow for legibility */
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h1 {
    font-weight: 700; 
    color: white;
    text-align: center;
}

h2 {

    text-align: center; 
    font-weight: 500;
    font-size: 2rem;
    color: white;
}
    
h3 {
    font-size: 2rem;
    font-weight: 500;
   
    text-align: center;
    color: white;
}
    
h4 {
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;

}

    
p {
    text-align: center;
    font-size: 1.5rem;
    color: white;
    padding: 0 2rem;
    line-height: 1.5;
}

@media screen and (max-width: 1000px) {

    p {
        padding: 0 10px;
    }
}

li {
    text-align: center;
    font-size: 1.5rem;
}
    
a {
    color: limegreen;
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;
    text-align: center;
    
}
    
a:hover {
    text-shadow: none;
    color: aquamarine;
}

/*---------header-------------*/

header {
    position: fixed;
    top: 45px;
    z-index: 1001;
    display: flex;
    justify-content: space-evenly;
    width: 100%;

   
    }

@media screen and (max-width: 1000px) {

    header {
        width: 100%;
        justify-content: center;
        height: 82px;
    }

    .header p {
        display: none;
    }
}

.home {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    position: relative;
    font-size: 2rem; 
    width: 170px;
}

@media screen and (max-width: 1000px) {
    .home {
        font-size: 2.3rem;
        padding: 1rem;
    }
}

.title {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    left: 35px;
    justify-content: center;
    align-content: center;
    position: relative;
    height: 100px;
    text-shadow: 2px 2px 5px whitesmoke;
 

}

button:hover {
    background-color: aquamarine;
    transition: background-color .15s, font-size .15s;
    /*font-size: 1.7rem;*/
}

button:active {
    border-color: #fff;
}

button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 2.4rem;
    padding: 10px 20px;
    color: #000925;
    border-radius: 5px;
    margin: 0 auto;
    background-color: limegreen;
    border: none;
    cursor: pointer;
    position: relative;
    box-shadow: 0 0 1px black;
    text-rendering: optimizeLegibility;
}

@media screen and (max-width: 1000px) {
    button {
        padding: 1rem;
        border-radius: 5px;
        width: 100%;
        position: relative;
        top: -4px;
        opacity: 0.9;  
        font-size: 2rem;
    }
}

@media screen and (max-width: 660px) {
    button {
        padding: 0.8rem;
        border-radius: 5px;
        font-size: 1.4rem;
    }
}

/* Learn More */

.learn-more-checkbox {
    display: none; /* Hide the checkbox */
}

.hidden-content {
    display: none;
    /* Additional styling for your content */
}

.learn-more-checkbox:checked + .learn-more-btn + .hidden-content {
    display: inline; /* or 'block', depending on your layout needs */
}

.learn-more-checkbox:checked + .learn-more-btn {
    display: none;
}


/* Optional: Style for the label to make it look like a clickable link */
.learn-more-btn {
    cursor: pointer;
    color: silver;
    font-size: 1rem;
}

.collapse-btn { 
    cursor: pointer;    
    color: silver;
    font-size: 1rem;    
    display: block; /* Optional: to put it on a new line */    
    margin-top: 10px; /* Optional: for some spacing */
}     

.textbox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
}

/* footer */

footer {
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    align-self: center;
    width: 100%;
    background-color: black;
    flex-wrap: wrap;
    z-index: 0;
    position: relative;
    top: 4rem;
    padding: 55px 0px;
}
@media (max-width: 867px){
    footer{
        display: block !important;
    }
    .ftbox{
        width: 100% !important;
  text-align: center !important;
  padding:1rem !important;
    }

}

.ftcontainer {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-evenly; 
    align-items: center;
    min-width: 100%;
}

.ftbox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-shrink: 2;
    line-height: 1.8;
    flex-wrap: wrap;
    width: 33.33%;
    min-height: 360px;
}

.bottom-footer{
     background-color: black;
     border-top: 1px solid gray;
     padding: 50px 0px;
     text-align: center;
     position: relative;
     top: 0px;
}

.bottom-footer p {
    font-size: 1rem;
}

.bottompad {
    background-color: black; 
    height: 125px;
}

.weak {
    font-weight: lighter;
    font-size: large;
}


/*Fareharbour*/

.fareharbour {
    position: fixed;
    bottom: 12px;
    right: 15px;
    z-index: 3;
}

@media screen and (max-width: 1000px) {
    .fareharbour {
        display: flex;
        align-self: center;
        right: auto;
    }

}

/*Mobile screen Generic*/

@media screen and (max-width: 1000px) {

    .mobilehide {
        display: none;
    }
} 

/*Desktopscreen Generic*/

@media screen and (min-width: 1000px) {

    .desktophide {
        display: none;
    }
}

/* info pages */

.abox {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    padding: 4rem 0;
}

@media screen and (max-width: 1000px) {

    .abox p {
        font-size: 1,5rem;
    }
}


.img {
    overflow: hidden;
    border-radius: 15px;
    margin: 1rem;
    opacity: 1;
    box-shadow: 0 0 5px black;
    border: 10px solid white;
    width: 80%; height: auto;
}

.logo {
    width: 50%; 
    height: auto;
    max-width: 275px;
}

.icon {
    width: 15%; 
    max-width: 75px;
    height: auto;
}

.imgportrait {
    border-radius: 100%;
    opacity: 0.9;
    box-shadow: 0 0 5px black;
}

.profile {
    display: flex;
    justify-content: center;
    width: 80%;
    padding-bottom: 2rem;
}

@media  screen and (max-width: 1000px){
    .profile {
    flex-direction: column;
    }
}

.profiledescription {
    display: flex; 
    flex-direction: column;
    padding: 1rem;
}

.profileimg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.lml {
    padding: 2rem;
}

.ataglance {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    margin: 0 20px;
}

.ataglance p {
    max-width: 40%;
    margin-top: 2rem;
}
  
.ataglance img {
    max-height: 15rem;
    overflow: hidden;
     border-radius: 10px;
     margin: 1rem;
     opacity: 0.9;
     width: 15rem;
}

@media  screen and (max-width: 1000px) {
    .ataglance {
        flex-direction: column;
        max-width: 100%;
        padding: 1rem;
    }

    .ataglance p {
        max-width: 100%;
    }
}

.price {
    max-height: 35rem;
   overflow: hidden;
    border-radius: 15px;
    margin: 1rem;
    opacity: 0.9;
    width: 35rem;
    filter: drop-shadow(2px 2px 3px darkgray);
    font-size: 1rem;
}

@media  screen and (max-width: 1000px) {
    .price {
        width: 90%;
    }
    
}

.pathway {
    display: flex; 
    align-items: center; 
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
}

@media  screen and (max-width: 1000px) {
    .pathway {
        flex-direction: column;
    }
}

.lts { 
    
    display: flex; 
    flex-direction: column; 
    justify-content: space-evenly;
    width: 80%;
    padding-bottom: 4rem;
}

.gallery {
    position: relative; 
    top: 64px
}

@media  screen and (max-width: 1000px) {
    .gallery {
        top: 17px;
    }
}



/*--------------------*/
/*Enquire now*/

.whatsappbutton {
    display: flex; 
    justify-content: center; 
    position: relative; 
    top: 100px; 
    z-index: 2;
}

@media screen and (max-width: 1000px) {
    .whatsappbutton {
        top: 90px;
    }
}

.formcontainer {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1000px) {
    .formcontainer {
        position: relative;
        top: 90px;
    }
}

.form {
    position: relative;
    z-index: 0;
}

@media screen and (max-width: 1000px) {
    .form {
        top: -50px;
    }
}

/*map*/

.map {
    display: flex;
    z-index: 1;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    
        position: relative;
        padding-bottom: 322px;
        height: 0;
        overflow: hidden;
        margin-bottom: 50px;
    }
   
.map iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        
    }

.overlay {
        background: transparent; 
        position: relative; 
        width: 1152px;
        height: 373px; /* your iframe height */
        top: 420px;  /* your iframe height */
        margin-top: -568px;  /* your iframe height */
        z-index: 20;
     }


     



 



