body {
    display: flexbox;
    margin: 2rem;
}

h1 {
    margin-left: 8rem;
}

h2 {
    align-content: center;
}
    


h3 {
    display: flex;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    text-align: center;
}

h4 {
    font-size: 2rem;
    font-family: a;
}

a {
    color: #140d4f;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

/*Class's*/

.title {
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 120px;
    z-index: 100;
    width: 100%;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    left: 14px;
    top: 5px;
}

.link {
    padding-right: 2rem;
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif
    ;
}

.linksbox {
    position: relative;
    display: flex;
    align-items: flex-end;
    padding-right: 2rem;
}

.bigbox {
    display: flex;
    flex-shrink: 2;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    background-color: whitesmoke;
}

.dark2 {
    background-color: lightgray;
    height: 730px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 98%;
    height: 90%;
    position: relative;
    padding: 3rem;
}

@media screen and (max-width: 1000px) {
    .container {
        flex-direction: column;
        overflow: hidden;
        align-items: center;
    }

    #buttonmob {
        width: 450px;
    }
    
    #infoboxmob {
        width: 375px;
        padding: 15px;
        align-items: center;
        background-color: darkgray;
        border-radius: 30px;
    }

    #infoboxmob2 {
        width: 482px;
        padding-left: 15px;
        padding-top: 15px;
    }

    #imgboxmob {
        width: 450px;
    }

    #imgboxmob2 {
        width: 450px;
        padding-bottom: 15px;
    }

    #vidboxmob {
        width: 450px;
    }

    #box4 {
        height: 300px;
    }

    #colmar {
        display: none;
    }
} 

.container2 {
    width: 98%;
    height: 90%;
    position: relative;
}

.imgbox {
    height: 100%;
    width: 50%;
    min-width: 300px;
    flex-shrink: 2;
    display: flex;
    flex-direction: column;
    margin: 2rem;
    align-items: center;
    justify-content: center;
}

.infobox {
    height: 100%;
    width: 60%;
    display: flex;
    flex-shrink: 2;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 1rem;
} 

.infobox2 {
    height: 90%;
    width: 52rem;
    display: flex;
    padding-right: 6rem;
} 

.infobox button {
    width: 85%;
    height: 3rem;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-size: large;
    background-color: #140d4f;
    color: whitesmoke;
    border-radius: 15px;
    margin: 0 auto;
}

.bigimg {
    width: 98%;
    border-radius: 15px;
}

.thumbox {
    width: 60%;
    height: 300px;
    display: flex;
    align-content: center;
    align-items: center;
}
    
.info {
    padding: 1rem;
    text-align: center;
    width: 275px;
    min-width: 200px;
}

.smlimgbox {
    width: 180px;
}

.smlimg {
    display: flex;
    flex-shrink: 2;
    border-radius: 30px;
    width: 100%;
    min-height: 20rem;
    min-width: 15rem;
    padding: 1rem;
}

.campus {
    background-color: lightgray;
    border-radius: 30px;
}

.wrapbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 85%;
    max-height: 600px;
    margin: 2rem auto;
    position: relative;
    overflow: scroll;
    background-color: whitesmoke;
    border-radius: 30px;

}

.wrapimg {
    flex-shrink: 2;
    width: 260px;
    height: 250px;
    background-color: white;
    text-align: center;
    margin: 10px 10px;
    border-radius: 15px
}

.wrapimg img {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

/*ID's*/

#bigimg2 {
    height: 100%;
}

#urban {
    font-weight: 501;
}
