@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);
* {
    box-sizing: border-box;
  }
html,
body {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   outline-style: hidden;
   border-style: hidden;
}

body {
    margin: 6rem;
}

footer {
    border-radius: 15px;
}

h1 {
text-align: center;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin-bottom: 1rem;
font-weight: 600;
}

h2 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
}

h3 {
    display: none;
    font-size: 2.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

h4 {
    font-size: 2.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;

}


a {
    color: #140d4f;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

video {
    width: 100%;
    min-width: 600px;
    border-radius: 15px;
    margin-top: 2.5rem;
}

button:hover {
    background-color: #043904f0;
    transition: background-color .15s, font-size .15s, width .30s;
    font-size: 18px;
    width: 300px;
}

button:active {
    border-color: #fff;
}

button {
    width: 10rem;
    height: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-size: large;
    color: whitesmoke;
    border-radius: 10px;
    margin: 0 auto;
    background-color: #140d4fda;
    border: 2px solid #140d4f;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

table, td {
    border: none;
    text-align: center;
}

table, th {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

thead, tfoot {
    background-color: #333;
    color: #fff;
}


/*Class's*/

.logotext {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
    font-weight: 600;

}

.topcontact {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}

.topicon {
    padding-left: 1rem;
}

.spacer {
    margin-left: 2rem;
    margin-right: 2rem;

}

.reset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: small;

}
.events {
    display: flex;
    justify-content: center;
    width: 100%;
}

.store {
    padding: 16px;
}

.holding {
    display: flex;
    flex-direction: column;
}

.holdingimg {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.subheading {
    display: flex; 
    justify-content: space-between;
}

.bold {
    font-weight: 700;
    font-size: 1.5rem;
}

.topbox { 
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    background-image: url("Images/NaturesTemple.JPG");
    margin-bottom: 1rem;
    
}

.img {
    height: 30rem;
    border-radius: 15px;
    margin: 1rem;
}
.title {
    display: flex;
    justify-content: center;
    text-align: center;
}

.header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 40px;
    z-index: 100;
    width: 100%;
    padding: 0.3rem;
}

.header, p {
    margin: 0px;
    padding-left: 0px;
}

.logo {
    display: flex;
    align-items: baseline;
    left: 0;
  padding-top: 1rem;

}

.link {
    padding-left: 1rem;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.linksbox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-right: 0.5rem;
}


.products {
    display: flex;
    justify-content: center;
    align-content: center;
}

.productcontainer {
    padding: 1rem;
}

.powered {
    display: flex;
    font-size: 10px;
    padding-left: 0rem;

}


.bottombox {
    display: flex;
    flex-shrink: 2;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    width: 100%;
    border-radius: 15px;
    background-color: white;
    overflow: hidden;
    flex-direction: column;
    margin-top: 4rem;
}

.gallery {
    display: flex;
    flex-shrink: 2;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    border-radius: 15px;
    background-color: white;
    overflow: hidden;
    
}

.gifbox {
    display: inline-flex;
    flex-shrink: 2;
}

.gif {
    border-radius: 15px;
    max-height:300px;
    margin: 2rem;
} 

.photo {
    border-radius: 15px;
    max-height: 300px;
    margin: 2rem;
} 


.gifs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.your {
    padding-bottom: 1rem;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    position: relative;
}
  
.bigimg {
    width: 100%;
    border-radius: 15px;
    min-width: 580px;
}

.imgbox {
    height: 100%;
    width: 50%;
    min-width: 100%;
    flex-shrink: 2;
    display: flex;
    flex-direction: column;
    margin: 2rem;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
    z-index: 100;
}

.vidbox {
    height: 100%;
    width: 80%;
    min-width: 300px;
    flex-shrink: 2;
    display: flex;
    flex-direction: column;
    margin: 2rem;
    align-items: center;
    justify-content: center;

}

.thumbox {
    width: 100%;
    height: 300px;
    display: flex;
    align-content: center;
    align-items: center;
}
    
.info {
    padding: 3rem;
    text-align: center;
    min-width: 200px;
}

.smlimgbox {
    width: 180px;
}

.smlimg {
    display: flex;
    flex-shrink: 2;
    border-radius: 15px;
    max-width: 4rem;
    max-height: 6rem;
    width: 100%;
    }

.campus {
    background-color: lightgray;
    border-radius: 30px;
}

.wrapbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 85%;
    max-height: 600px;
    margin: 2rem auto;
    position: relative;
    overflow: scroll;
    background-color: whitesmoke;
    border-radius: 30px;

}

.wrapimg {
    flex-shrink: 2;
    width: 260px;
    height: 250px;
    background-color: white;
    text-align: center;
    margin: 10px 10px;
    border-radius: 15px
}



.wrapimg img {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.contact {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.fa, .fas {
    padding-top: 1rem;
}

.whatsapp {
    padding-top: 1rem;
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

.inline {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background-color: whitesmoke;
    margin-top: 2rem;
}



.footer p {
    margin: 0mm;
}

.findthe {
    padding-top: 1rem;
}

.rights {
    display: flex;
    justify-content: center;
    padding-bottom: 2.5rem;
}

.terms {
    display: flex;
    flex-direction: column;

}


/*ID's*/

#bigimg2 {
    height: 100%;
}

#urban {
    font-weight: 501;
}

#dismore {
    margin-bottom: 1rem;
}

.ecsp {
    min-width: 1000px;
    font-size: 2rem;
}
  

/*Mobile screen*/

@media screen and (max-width: 1000px) {

    h1 {
        font-size: 3rem;
    }

    #reset {
        font-size: medium;
    }



    p {
        font-size: 1.5rem;
        font-weight: 600;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }


    .header p {
        display: none;
    }

    h2 {
        font-size: 4rem;
    }
    
    h3 { display: none;
        
    }

    h4 {display: block;}

    a {
        font-size: 2rem;
        font-weight: 600;
        padding-top: 1rem;
    }

    .gallery {
        flex-wrap: wrap;
    }

    .gif {
        max-height: 600px;
    }

    .topcontact {
        justify-content: center;
    }
    
    .subtitle {
    padding-bottom: 2rem;
}

    .events {
      
        display: flex;
        justify-content: center;
        width: 200px;
    }

    .questions {
        display: none;
    }
    .container {
        flex-direction: column;
        overflow: hidden;
        align-items: center;
    }

   

    .topbox {
       
        
        flex-direction: column;
        overflow: hidden;
        align-items: center;
    }

    .link {
        padding-bottom: 0;
        font-size: 2rem;
    }

    button {
        width: 300px;
        font-size: xx-large;
    }

    .footer p {
    font-size: medium;
    padding-top: 1.7rem;
    }

    .your {
        font-size: 2rem;
    }

    .mobilehide {
        display: none;
    }

    .inline {
        display: flex;
        flex-direction: column;
    }

    .ecsp {

        min-width: 1000px;

    }

    #buttonmob {
        width: 450px;
    }

    #bng {
        display: none;
    }

    #info {
        padding: 0rem;
        margin-bottom: 3rem;
    }

    #infoboxmob2 {
        width: 482px;
        padding-left: 15px;
        padding-top: 15px;
    }

    #imgboxmob {
        width: 100%;
        margin: 0;
        padding-top: 0;
    }

    #imgboxmob2 {
        width: 450px;
        padding-bottom: 15px;
    }

    #vidboxmob {
        width: 450px;
    }

   #gif3 {
       display: none;
   }

    #colmar {
        display: none;
    }
} 

@media screen and (min-width: 1000px) {

    .desktophide {
        display: none;
    }
    .abox p {
        width: 60%;
    }
}


/*Index2*/

.bbox {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 15px;
}
.abox {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.faqs {
    padding: 2rem;
    text-align: center;
}

.faq {
    padding: 0.2rem;
}

.question {
    padding: 1rem;
    text-align: center;
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 2rem;
    max-width: 17rem;
    min-width: 17rem;

}


/*booknow*/

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 30px;
    height: 80%;
    overflow: auto;
  }

input {
    align-content: center;
    width: 400px;
    cursor: pointer;
  }


.radio {
    text-align: center;
    width: 300px;
}

#submit {
width: 6rem;
background-color: blue;
color: white;
font-weight: bold;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 1rem;
cursor: pointer;
  }

#number {
    width: 3rem;
}  

label {
    margin-bottom: 00.5rem;
    padding: 0.5rem;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }


  /*calendar*/

  #calendar {
      display: flex;
      justify-content: center;
  }
  

/*Basket*/



