@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);
* {
    box-sizing: border-box;
  }
html,
body {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   outline-style: hidden;
   border-style: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 6rem;
}


/* header */

header {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
    width: 100%;
    padding: 0.3rem;
    background-color: rgba(255,255,255,0.6);
    
}


.header, p {
    margin: 0px;
    padding-left: 0px;
}


@media screen and (max-width: 1000px) {

    header {
        position: relative;
        top: -35px;
    }

    .header p {
        display: none;
    }
}

.logo {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    left: 0;
    justify-content: center;
    align-content: center;
    position: relative;
    padding: 0.5rem;

}

.logosize {
    height: 100px;
}

@media screen and (max-width: 1000px) {
    .logo {
        position: relative;
        top: 25px;
    }

    .logosize {
        height: 120px;
    }
}


button:hover {
    background-color: green;
    transition: background-color .15s, font-size .15s;
    font-size: 20px;
    
}

button:active {
    border-color: #fff;
}

button {
    width: 10rem;
    height: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-size: large;
    color: whitesmoke;
    border-radius: 10px;
    margin: 0 auto;
    background-color: #140d4fda;
    border: none;
    cursor: pointer;
}

.cart {
    position: relative;
    top: 20px;
}


    

 
.home {
    position: relative;
    top: 20px;
    font-size: 24px;
}

.enquirenow { 
    position: relative;
    top: 16px;
}

.enquiremob {
    width: 100%;
    position: fixed;
    z-index: 1002;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    left: 0px;
    }

    

.topcontact {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    position: relative;
    top: 20px;
    font-size: 1.4rem;
    }

    @media screen and (max-width: 1000px) {
        .topcontact {
            justify-content: center;
            
        }
    
    }

.contact {
    line-height: 1.4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
        

    }
    @media screen and (max-width: 1000px) {
    .contact {
    padding: 0 3.2rem;
    }

    .contact a {
        font-size: 4rem;
    }
}

    .topicon:hover {
        padding: 0;
        color: #043904f0;
        transition: background-color .15s, font-size .15s;
        font-size: 25px;
    }


/*Banner*/

.topbox { 
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    margin-bottom: 6rem;
    top: 2.5rem;   
}

.eye:hover {
    color: white;
    font-size: 4rem;
    transition: background-color .15s, font-size .15s;

}


.imgbox {
    height: 100%;
    width: 50%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    margin: 2rem;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;

}
 .dismore {
     font-size: medium;
 }
 @media screen and (max-width: 1000px) {
 .dismore {
    font-size: 2.2rem;
}

 }

/*Product*/

#snipcart {
    z-index: 1020;
}

#snipcart button:hover {
    transition: none;

}

.productcontainer {
    position: relative;
    top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    }

.imagecontainer {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    

}

.productimage {
    border-radius: 15px;
    width: 800px;
    flex-grow: 2;
    opacity: 0.8;
}

.imagetitle {
    font-size: 2.5rem;
    color: white;
    font-weight: 700;
    text-shadow: black 0 0 1px ;
}

.imagedescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 250px;
    position: absolute;
}

.white {
    color: white;
    text-shadow: black 0 0 3px ;
}


.price {
    font-weight: 600; 
    font-size: 2rem; 
    margin-bottom: 10px;
}


.description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    position: relative;
    top: -20px;
    max-width: 80%;


}

#bookbutton {

    display: flex;
    justify-content: center;
    position: relative;
    top: 40px;

}






/**/



/* whyus */


.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    position: relative;
    padding-bottom: 3rem;
    top: 40px;
}

.whyus {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.whyus div {
    flex-basis: 40px;
}

.shrink {
    display: flex;
    flex-shrink: 2;
    justify-content: center;
    flex-wrap: wrap;
}

/**/




/* footer */


footer {
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    background-color: whitesmoke;
    margin-top: 2rem;
    flex-wrap: wrap;
    margin-bottom: 35px;
}

.ftbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 4rem;
    max-width: 17rem;
    flex-shrink: 2;
    line-height: 1.4;
    flex-wrap: wrap;
}

@media screen and (max-width: 1000px) {
    .ftbox {
        max-width: 30rem;
    }
}

.weak {
    font-weight: lighter;
    font-size: large;
}

.smlimg {
    display: flex;
    flex-shrink: 2;
    max-width: 8rem;
    height: 8rem;
    padding-bottom: 1rem;
    }

    @media screen and (max-width: 1000px) {
        #map {
            max-width: 12rem;
            height: 12rem;
        }
    }




/**/


/*Mobile enquire now banner*/

@media screen and (max-width: 1000px) {
#stickyhome {
    font-size: 50px;
}

.home {
    font-size: 4rem;
    padding: 2rem;
}

}

/**/


h1 {
text-align: center;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin-bottom: 1rem;
font-weight: 600;
}

h2 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

h3 {
    display: none;
    font-size: 2.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

h4 {
    font-size: 2.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;

}




p {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
}

video {
    width: 100%;
    min-width: 600px;
    border-radius: 15px;
    margin-top: 2.5rem;
}








/*link*/

a {
    color: #140d4f;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a:hover {
    color: green;
    text-shadow: none;
}
/**/




/*Class's*/

.stickyhome {
    width: 100%;
    position: fixed;
    z-index: 1002;
    bottom: 10px;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    left: -20px;
    font-size: xx-large;
}


.center {
    display: flex;
    justify-content: center;
}


.large {
    font-weight: bolder;
    font-size: 3rem;
    padding: 1rem;

}

.icon {
    display: flex;
    justify-content: space-evenly;
} 

.spacer {
    margin-left: 2rem;
    margin-right: 2rem;

}

.reset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: small;

}
.events {
    display: flex;
    justify-content: center;
    width: 100%;
}

.store {
    padding: 16px;
}

.holding {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50px;
}

.holdingimg {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.subheading {
    display: flex; 
    justify-content: space-between;
}

.bold {
    font-weight: 700;
    font-size: 1.5rem;
}



.title {
    display: flex;
    justify-content: center;
    text-align: center;
}


.link {
    padding-left: 1rem;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.linksbox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-right: 0.5rem;
}


.products {
    display: flex;
    justify-content: center;
    align-content: center;
}

.productcontainer {
    padding: 1rem;
}

.powered {
    display: flex;
    font-size: 10px;
    padding-left: 0rem;

}


.bottombox {
    display: flex;
    flex-shrink: 2;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    width: 100%;
    border-radius: 15px;
    background-color: white;
    overflow: hidden;
    flex-direction: column;
    margin-top: 4rem;
}

.gallery {
    display: flex;
    flex-shrink: 2;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    border-radius: 15px;
    background-color: white;
    overflow: hidden;
}

.gifbox {
    display: inline-flex;
    flex-shrink: 2;
}

.gif {
    border-radius: 15px;
    max-height:300px;
    margin: 2rem;
} 

.photo {
    border-radius: 15px;
    max-height: 300px;
    margin: 2rem;
} 


.gifs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.your {
    padding-bottom: 1rem;
}

  
.bigimg {
    width: 100%;
    border-radius: 15px;
    min-width: 580px;
}

    
.info {
    padding: 3rem;
    text-align: center;
    min-width: 200px;
}

.campus {
    background-color: lightgray;
    border-radius: 30px;
}

.wrapbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 85%;
    max-height: 600px;
    margin: 2rem auto;
    position: relative;
    overflow: scroll;
    background-color: whitesmoke;
    border-radius: 30px;
}

.wrapimg {
    flex-shrink: 2;
    width: 260px;
    height: 250px;
    background-color: white;
    text-align: center;
    margin: 10px 10px;
    border-radius: 15px
}

.wrapimg img {
    width: 100%;
    border-radius: 15px 15px 0 0;
}







/*ID's*/



#bigimg2 {
    height: 100%;
}

#urban {
    font-weight: 501;
}

#dismore {
    margin-bottom: 1rem;
}

.ecsp {
    min-width: 1000px;
    font-size: 2rem;
}

.justifycenter {
    display: flex;
    justify-content: center;
}
  

/*Mobile screen Generic*/

@media screen and (max-width: 1000px) {

    h1 {
        font-size: 3rem;
    }

    #reset {
        font-size: medium;
    }

    #three {
        font-size: 3em;
    }


   
    .tworem {

        font-size: 2rem;

    }

    .imagetitle {
        font-size: 4rem;
    }

    
  
    .shrink p {
        padding-bottom: 1rem;
        font-size: 2.2rem;
    }


  

    h2 {
        font-size: 4rem;
    }
    
    h3 { display: none;
        
    }

    h4 {display: block;}

   

  .ftbox p {
font-size: 2rem;
  }

    .gallery {
        flex-wrap: wrap;
    }

    .gif {
        max-height: 600px;
    }

  
   
    
    .subtitle {
    padding-bottom: 2rem;
    font-size: 2.5rem;
}

    .events {
      
        display: flex;
        justify-content: center;
        width: 200px;
    }

    .questions {
        display: none;
    }
    .container {
        flex-direction: column;
        overflow: hidden;
        align-items: center;
    }

    .topbox {
       
        
        flex-direction: column;
        overflow: hidden;
        align-items: center;
    }

    .link {
        padding-bottom: 0;
        font-size: 2rem;
    }

    .your {
        font-size: 2rem;
    }

    .mobilehide {
        display: none;
    }

    .inline {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .ecsp {

        min-width: 1000px;

    }

    #buttonmob {
        width: 450px;
    }

    #bng {
        display: none;
    }

    #info {
        padding: 0rem;
        margin-bottom: 3rem;
    }

    #infoboxmob2 {
        width: 482px;
        padding-left: 15px;
        padding-top: 15px;
    }

    #imgboxmob {
        width: 100%;
        margin: 0;
        padding-top: 0;
    }

    #imgboxmob2 {
        width: 450px;
        padding-bottom: 15px;
    }

   
  
    
} 



@media screen and (min-width: 1000px) {

    .desktophide {
        display: none;
    }
    
    .abox p {
        width: 80%;
    }
    .ftbox p {
        font-size: medium;
    }
}
    

/*Index2*/

.bbox {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 15px;
    align-items: center;
    margin-bottom: 2rem;
}
.abox {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

.abox, p {
    padding-bottom: 2rem;
}

.img {
    height: 40rem;
    border-radius: 15px;
    margin: 1rem;
    opacity: 0.9;
    max-width: 100%;
}

@media screen and (max-width: 1000px) {
    .abox p {
font-size: 2rem;
    }
}



.faqs {
    padding: 2rem;
    text-align: center;
}

.faq {
    padding: 0.2rem;
}

.question {
    padding: 1rem;
    text-align: center;
}


/*booknow*/



form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 30px;
    height: 80%;
    overflow: auto;
  }

input {
    align-content: center;
    width: 400px;
    cursor: pointer;
  }


.radio {
    text-align: center;
    width: 300px;
}

#submit {
width: 6rem;
background-color: blue;
color: white;
font-weight: bold;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 1rem;
cursor: pointer;
  }

#number {
    width: 3rem;
}  

label {
    margin-bottom: 00.5rem;
    padding: 0.5rem;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }





