---
layout: blogpost
title: "Three of Scotland's Best Canyoning Descents: West Coast"
scripts: 
  - map
  - fh
permalink: /three-epic-west-coast-canyoning-descents
featured: false
canonical_url: https://www.scotlandscanyons.com/three-epic-west-coast-canyoning-descents
priority: 0.8
changefreq: monthly 
context: "https://schema.org"
type: "Organization"
name: "Scotland's Canyons"
url: "https://www.scotlandscanyons.com"
logo: "https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/8c86e5da-8b2c-48bf-302d-617f6d0afd00/w=800,fit=scale-down"
sameAs:
  - "https://www.youtube.com/@scotlandscanyons"
  - "https://www.facebook.com/scotlandscanyons/"
  - "https://www.instagram.com/scotlandscanyons/"
  - "https://www.tiktok.com/@scotlandscanyons"
  - "https://www.visitscotland.com/info/see-do/scotlands-canyons-p2831561" #home
  - "https://business.google.com/n/5753756304371722257/searchprofile?hl=en-GB" #home
contactPoint:
  type: "ContactPoint"
  telephone: "+44 7868 367180"
  contactType: "customer service"
address:
  type: "PostalAddress"
  addressCountry: "Scotland"
schema_image:
  context: "http://schema.org"
  type: "ImageObject"
  contentUrl: "https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/d3af2863-b3dc-43d3-d5f8-752ee75f2b00/w=1200,fit=scale-down"
  description: "Epic abseil at Grey Mare's Tail Canyoning adventure in Scotland"
  name: "canyoning-in-scotland-best-small-group-adventure-activity"
  author:
    type: "Person"
    name: "Ross Murray"
  copyrightHolder:
    type: "Organization"
    name: "Scotland's Canyons"
  uploadDate: "2023-12-15"  
image: "https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/d3af2863-b3dc-43d3-d5f8-752ee75f2b00/w=1000,fit=scale-down"
imagewidth: 2880
imageheight: 3600 
description: "Epic Canyoning in Scotland: Explore three of Scotland's best and most adventurous descents on the West coast. Sax, Grey Mare's Tail and Eagles canyons."
meta_description: "Canyoning in Scotland: Explore three of the best and most adventurous canyons on the West coast. Stunning adventure in Sax, Grey Mare's Tail and Eagles."
---



<main>
  
 
    
    <div class="textbox">
    {% include _images/logo.html %}
    <p>Scotland's canyoning scene boasts a spectacular and diverse array of canyons, each with its own unique features and challenges. These canyons are not only stunningly beautiful but also offer heart-pumping wild adventures in precious landscapes that need to be treasured and protected. We are excited to showcase three extraordinary canyons on the West Coast, each ideal for more daring adventurers for very different reasons. Ready for the next level of adventure? All are available to book with Scotland's Canyons. Perhaps one of these incredible locations will be your next canyoning adventure?</p>
    </div>
    <br><br><br><br>

    <div class="icon"></div>
<h2>Eagles Canyon and the Black Linn at Glen Fyne</h2>
<p>Embrace the excitement of Eagles Canyon, where on a clear day, you'll feel as if you're soaring over the hills. After a long, steep hike, the adventure begins with a thrilling descent of the Eas an Tuirc, a narrow slot that drops into the main chasm. The breathtaking views from this narrow slot provide a magnificent start to an epic day filled with exhilarating abseil challenges. The intricate rock formations on either side of the deep and narrow canyon occasionally provide just enough space to pass through. This adventure is ideal for our guests who are confident in the basic skills and ready for a big and challenging day of canyoning adventure.</p>
{% include _gallery/eagles.html %}
<br><br>
<h3>At A Glance</h3>
<p class="list"><span class="headline">Duration:</span> Full Day
<br>
<span class="headline">Hike in:</span> Steep and challenging, 1-2 hours
<br>
<span class="headline">Experience Required:</span> Suitable for those who are confident and well-practiced in the basic skills and ready to take on the next level. High fitness level required!
<br>
<span class="headline">Highlights:</span> Exhilarating abseils in a dramatic chasm</p>
<br><br><br><br>

<div class="icon"></div>
<h2>Sax Canyon at Kinloch Hourn</h2>
<p>Dive into the wild beauty of Sax Canyon. The Allt a' Choire Reidh, flowing into the secluded Loch Hourn, presents an off-the-beaten-path adventure, unveiling Scotland's epic natural wonders at every turn. On clear days, the jaw-dropping views add an extra thrill to this adventure, with a mix of abseils, jumps, and stunning scenery making it a total package. Perfect for a full-day trip or an adventurous overnight camping mission, this special canyon is a true hidden gem</p>
<div class="elfsight-app-6ceb6087-57ce-402d-b8b5-e77f66d1bd28" data-elfsight-app-lazy></div>
<br><br>
<h3>At A Glance</h3>
<p class="list"><span class="headline">Duration:</span>Full Day
<br>
<span class="headline">Experience Required:</span> This canyon is suitable for strong swimmers only, where confident abseilers will relish the action of a sporty descent. High fitness levels are required.
<br>
<span class="headline">Hike in:</span> Steep, 1 - 1.5 hours
<br>
<span class="headline">Highlights:</span> Breathtaking views in a wild and wonderful setting</p>

<br><br><br><br>
<div class="icon"></div>
<h2>Grey Mare's Tail at Kinlochleven</h2>
<p>The Grey Mare's Tail in Kinlochleven offers non-stop excitement, kicking off with one of our all-time favorites, a pulse-racing slide. On an action-packed descent, you will discover more blood-pumping slides, fun jumps, and majestic waterfalls. The grand finale is an adrenaline-spiking 50-meter abseil down the magnificent Grey Mare's Waterfall, capping off an exhilarating canyon descent.</p>
<div class="elfsight-app-472f8b58-cb25-47cd-a957-0474964d4d14" data-elfsight-app-lazy></div>
<br><br>
<h3>At A Glance</h3>
<p class="list"><span class="headline">Duration:</span> Half Day
<br>
<span class="headline">Experience Required:</span> To truly enjoy all the featiure on this magnificent descent guests should be confident with more advanced abseiling challenges and have a strong head for heights.
<br>
<span class="headline">Hike in:</span> Easy, 30 minutes
<br>
<span class="headline">Highlights:</span> Action-packed adventure with an epic waterfall</p>


<br><br><br><br>
<div class="icon"></div>
<h3>Summary</h3>
<p>These three canyons are recommended for experienced adventurers who have a good grasp of canyoning skills and understand what to expect from long adventurous descents. If you're unsure whether you're ready, we'll support you in taking the first step on this adventurous path. Learn new skills and master your mindset on our Adventure Pathway! We'll teach you the skills through fun and real adventures, building your experience to help you reach your adventure goals. <a href="https://scotlandscanyons.com/adventure-pathway" title="Learn more about the pathway to adventure">Learn&nbsp;More&nbsp;About The&nbsp;Adventure&nbsp;Pathway</a></p>

<br><br><br><br>
<div class="icon"></div>
<h2>Discover these three incredible canyons and others on our interactive map</h2>
<br>
{% include map-button.html %}
{% include back-to-blog.html %}
<br><br><br><br>
 
</main>

