---
layout: default
featured: false
title: "Brucefield Estate: Recommended Stay Near Dollar or Alva"
excerpt: "Just a short drive from Dollar and Alva Glen, Schenbothies offer a wild and idyllic retreat near some of our favourite canyoning spots. These eco-friendly cabins, styled in a blend of Scandinavian and Scottish design, are our premier accommodation recommendation for couples seeking both serenity and excitement. After a day of wild adventures in the ancient volcanic glens of the Ochils, retreat to your cosy bothy, nestled amidst ancient woodlands and less than an hour from Edinburgh or Glasgow. The perfect fusion of romance and adventure awaits you at Brucefield Estate."
permalink: /recommended-accommodation-near-dollar-glen-or-alva-glen
canonical_url: https://www.scotlandscanyons.com/recommended-accommodation-near-dollar-glen-or-alva-glen
priority: 0.8
changefreq: monthly 
context: "https://schema.org"

name: "Scotland's Canyons"
url: "https://www.scotlandscanyons.com"
logo: "https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/50831c67-d2a1-40c5-9678-8edad89c1000/w=800,fit=scale-down"
sameAs:
  - "https://www.youtube.com/@scotlandscanyons"
  - "https://www.facebook.com/scotlandscanyons/"
  - "https://www.instagram.com/scotlandscanyons/"
  - "https://www.tiktok.com/@scotlandscanyons"
  - "https://www.visitscotland.com/info/see-do/scotlands-canyons-p2831561"
  - "https://business.google.com/n/5753756304371722257/searchprofile?hl=en-GB"
  - "https://business.google.com/n/14575729591246117293/searchprofile?hl=en-GB" #dollar
  - "https://www.visitscotland.com/info/see-do/scotlands-canyons-p2831561" #dollar
  - "https://www.visitscotland.com/info/see-do/discover-canyoning-p2542171"
  - "https://www.visitscotland.com/info/tours/discover-canyoning-in-dollar-glen-bd8c6112"
  - "https://www.visitscotland.com/info/see-do/scotlands-canyons-p2838501" #alva
  - "https://www.visitscotland.com/info/tours/the-ultimate-canyoning-experience-9b13b3c4"
  - "https://www.visitscotland.com/info/tours/private-canyoning-in-alva-glen-561884a9"
contactPoint:
  type: "ContactPoint"
  telephone: "+44 7868 367180"
  contactType: "customer service"
address:
  type: "PostalAddress"
  streetAddress: "Glen"
  addressLocality: "Dollar"
  addressRegion: "Clackmannanshire"
  postalCode: "FK14 7PP"
  addressCountry: "Scotland"
schema_image:
  context: "http://schema.org"
  type: "ImageObject"
  name: "Brucfield Estate"
  author:
    type: "Person"
    name: "Brucefield Estate"
  copyrightHolder:
    type: "Organization"
    name: "Brucefield Estate"
  uploadDate: "2023-01-05"  
image: "https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/131ec36b-e2cb-4d9f-eef8-c48d95204800/w=1200,fit=scale-down" 
imagewidth: 1353
imageheight: 900
description: "Brucefield Estate has stunning accommodation near Dollar and Alva Glen canyoning locations. The best option for comfort, that is also wild and adventurous."
meta_description: "Brucefield Estate has stunning accommodation near Dollar and Alva Glen canyoning locations. The best option for comfort, that is also wild and adventurous."
---
  {% include topbox.html %}

<main>


  
  <section class="textbox">
    <div style="background-color: whitesmoke; border-radius: 15px; display: flex; justify-content: center;">
    {% include _images/logo.html %}
    </div>
    <br><br>
    <h2>Schenbothies: A Romantic Hideaway Near Adventure</h2> 
    <br>
    <p>Just a short drive from Dollar and Alva Glen, Schenbothies offer a wild and idyllic retreat near some of our favourite canyoning spots. These eco-friendly cabins, styled in a blend of Scandinavian and Scottish design, are our premier accommodation recommendation for couples seeking both serenity and excitement. After a day of wild adventures in the ancient volcanic glens of the Ochils, retreat to your cosy bothy, nestled amidst ancient woodlands and less than an hour from Edinburgh or Glasgow. The perfect fusion of romance and adventure awaits you at Brucefield Estate.</p>
    <br>
  </section>
  <div class="elfsight-app-4b167d92-b93a-4ba6-9904-d7a6ac5a1698" data-elfsight-app-lazy></div>
  <br>
  <div class="buttonbox">
  <a href="https://www.brucefieldestate.scot/schenbothies" target="_blank" rel="noopener noreferrer"><button>Book your Stay</button></a>
</div>
  <section class="textbox">
    <div class="icon"></div>
    <h2>Slackbrae: A Cosy Cottage with a Touch of Magic.</h2>
    <br>
    <p>Nestled in the charming woodlands of Brucefield Estate, Slackbrae Cottage is a beautifully refurbished 18th-century haven, ideal for those seeking both comfort and adventure. With its sustainable design, underfloor heating, and a charming ceramic wood-burning stove, Slackbrae offers a cosy stay brimming with modern conveniences. An exemplary base for exploring the nearby Dollar and Alva Glen, Slackbrae is perfect for couples, families, or small groups (sleeps 4 + 1) embarking on our canyoning adventures, providing a magical, restful retreat with scenic views of ancient trees and local wildlife right from your window.</p>
    <br>
  </section>
  <div class="elfsight-app-ad08d876-c268-403e-98c8-a4079fec1955" data-elfsight-app-lazy></div>
  <br>
  <div class="buttonbox">
  <a href="https://www.brucefieldestate.scot/slackbrae" target="_blank" rel="noopener noreferrer"><button>Book your Stay</button></a>
</div>
<section class="textbox">
<div class="icon"></div>  
<h2>Transfers and multi day canyoning</h2>
<p>For any private canyoning booking we'll pick you up and drop you off right from outside your accommodation at Brucefield Estate ensuring a seamless holiday of enchanting adventure.</p>
{% include back-to-blog.html %}
</section>
  <br><br>
 

</main>
