---
layout: blogpost
featured: true
scripts:
  - fh
  - gtm
title: "Scotlands Best Canyoning Adventures: Clackmannanshire"
permalink: /scotlands-best-canyoning-adventures-clackmannanshire
date: 2023-12-21
canonical_url: https://www.scotlandscanyons.com/scotlands-best-canyoning-adventures-clackmannanshire
priority: 0.8
changefreq: monthly
context: "https://schema.org"
type: "Organization"
name: "Scotland's Canyons"
url: "https://www.scotlandscanyons.com"
logo: "https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/8c86e5da-8b2c-48bf-302d-617f6d0afd00/w=300,fit=scale-down"
sameAs:
  - "https://www.youtube.com/@scotlandscanyons"
  - "https://www.facebook.com/scotlandscanyons/"
  - "https://www.instagram.com/scotlandscanyons/"
  - "https://www.tiktok.com/@scotlandscanyons"
  - "https://www.visitscotland.com/info/see-do/scotlands-canyons-p2831561" #home
  - "https://business.google.com/n/5753756304371722257/searchprofile?hl=en-GB" #home
  - "https://business.google.com/n/14575729591246117293/searchprofile?hl=en-GB" #dollar
  - "https://www.visitscotland.com/info/see-do/scotlands-canyons-p2831561" #dollar
  - "https://www.visitscotland.com/info/see-do/scotlands-canyons-p2838501" #alva
  - "https://www.visitscotland.com/info/see-do/discover-canyoning-p2542171"
  - "https://www.visitscotland.com/info/tours/the-ultimate-canyoning-experience-9b13b3c4"
  - "https://www.visitscotland.com/info/tours/private-canyoning-in-alva-glen-561884a9"
  - "https://www.visitscotland.com/info/tours/discover-canyoning-in-dollar-glen-bd8c6112"
contactPoint:
  type: "ContactPoint"
  telephone: "+44 7868 367180"
  contactType: "customer service"
address:
  type: "PostalAddress"
  streetAddress: "Glen"
  addressLocality: "Dollar"
  addressRegion: "Clackmannanshire"
  postalCode: "FK14 7PP"
  addressCountry: "Scotland"
schema_image:
  context: "http://schema.org"
  type: "ImageObject"
  contentUrl: "https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/69901d0c-8a29-478b-28e9-56a859138900/w=1200,fit=scale-down"
  description: "Canyoning adventure in Alva Glen, Clackmannanshire near Edinburhg and Glasgow"
  name: "ALva Glen Waterfall Canyoning"
  author:
    type: "Person"
    name: "Ross Murray"
  copyrightHolder:
    type: "Organization"
    name: "Scotland's Canyons"
  uploadDate: "2023-12-15"  
image: "https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/42dbff6a-5dbb-4eb8-26d7-44fa4e571f00/w=1200,fit=scale-down"
imagewidth: 1200
imageheight: 1500 
description: "Experience the thrill of canyoning near Edinburgh and Glansgow with our small-group tours. Led by experienced guides, you'll explore waterfalls, gorges, and rapids in a safe and fun environment."
meta_description: "Two of the Best Canyoning experiences in Scotland: Near Edinburgh and Glasgow these Unique and tailor-made adventures are perfect for couples and families."

---

<main>
    <section class="textbox">
        <div class="icon"></div>
        <h2>Dollar Glen</h2>
        <br>
        <p>This magical glen offers an enchanting outdoor activity suitable for couples, families, or small groups. Set against the majestic backdrop of Castle Campbell, this ancient chasm of volcanic rock is one of Scotland's finest and most accessible canyoning adventures. Its appeal lies in the variety of jumps, slides, and abseils, all accessible from a well-maintained footpath. This makes it suitable not only for experienced canyoneers but also for beginners, families, and adventure seekers alike. Within an hour from Edinburgh, Glasgow, or Fife, Dollar Glen provides a fantastic half-day experience or, when combined with Alva Glen, a truly epic adventure weekend. <a href="/locations/dollar-glen">go to Dollar Glen location page to find out more</a></p>
        <br><br>
    </section>
            <div class="elfsight-app-8515b55c-38ed-4744-a837-6a45749ba2b6" data-elfsight-app-lazy></div>
            <br>
            <div class="buttonbox bookNowLink">
           <a href="https://fareharbor.com/embeds/book/scotlandscanyons/?full-items=yes&flow=939034"><button>Book Dollar Now!</button></a>
    </div>
    <section class="textbox">
        <div class="icon"></div>
        <h2>Alva Glen</h2>
        <br>
        <p>Alva Glen is deep, steep, and wild. The adventure begins in the upper section, descending through Smuggler's Cave into a magnificent chasm and a series of spectacular waterfall challenges. Often described as the next level, you'll appreciate the skills learned and experience gained from a descent in Dollar Glen to conquer the thundering challenges of Alva Burn. <a href="/locations/alva-glen">go to Alva Glen location page to find out more</a></p>
        <br><br> 
    </section>

    <div class="elfsight-app-a6b32dac-d837-48f9-ae23-6c6c6dc22bcb" data-elfsight-app-lazy></div>
    <br>
    <div class="buttonbox bookNowLink">
        <a href="https://fareharbor.com/embeds/book/scotlandscanyons/?full-items=yes&flow=939040"><button>Book Alva Now!</button></a>
    </div>

  {% include brucefield.html %}
  {% include why-scot-can.html %}
  {% include back-to-blog.html %}
    
<br><br>
</main>