---
layout: blogpost
featured: true
scripts:
  - fh
  - gtm
lightgal: true
title: "County of The Stone: Short Adventure Breaks in Scotland"
permalink: /canyoning-adventure-holidays-clackmannanshire-scotland
canonical_url: https://www.scotlandscanyons.com/canyoning-adventure-holidays-clackmannanshire-scotland
css_file: gallery.css
priority: 0.8
changefreq: monthly
context: "https://schema.org"
type: "LocalBusiness"
name: "Scotland's Canyons"
logo: "https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/8c86e5da-8b2c-48bf-302d-617f6d0afd00/w=300,fit=scale-down"
sameAs:
  - "https://www.youtube.com/@scotlandscanyons"
  - "https://www.facebook.com/scotlandscanyons/"
  - "https://www.instagram.com/scotlandscanyons/"
  - "https://www.tiktok.com/@scotlandscanyons"
  - "https://business.google.com/n/5753756304371722257/searchprofile?hl=en-GB" #home
  - "https://business.google.com/n/14575729591246117293/searchprofile?hl=en-GB" #dollar
  - "https://www.visitscotland.com/info/see-do/scotlands-canyons-p2831561" #dollar
  - "https://www.visitscotland.com/info/see-do/scotlands-canyons-p2838501" #alva
  - "https://www.visitscotland.com/info/see-do/discover-canyoning-p2542171"
  - "https://www.visitscotland.com/info/tours/the-ultimate-canyoning-experience-9b13b3c4"
  - "https://www.visitscotland.com/info/tours/private-canyoning-in-alva-glen-561884a9"
  - "https://www.visitscotland.com/info/tours/discover-canyoning-in-dollar-glen-bd8c6112"
contactPoint:
  type: "ContactPoint"
  telephone: "+44 7868 367180"
  contactType: "customer service"
address:
  type: "PostalAddress"
  streetAddress: "Glen"
  addressLocality: "Dollar"
  addressRegion: "Clackmannanshire"
  postalCode: "FK14 7PP"
  addressCountry: "Scotland"
schema_image:
  context: "http://schema.org"
  type: "ImageObject"
  name: "ALva and Dollar Glen Canyoning Adventure"
  author:
    type: "Person"
    name: "Ross Murray"
  copyrightHolder:
    type: "Organization"
    name: "Scotland's Canyons"
  uploadDate: "2023-12-15"  
image: "https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/a21160c8-a795-414b-fa13-b57435f5ca00/w=1200,fit=cover"
imagewidth: 1200
imageheight: 1500 
description: "Canyoning adventure holiday in Clackmannanshire, Scotland, near Edinburhg and Glasgow"
meta_description: "Two of the Best Canyoning experiences in Scotland: Near Edinburgh and Glasgow these Unique and tailor-made adventures are perfect for couples and families."

---

{% include topbox.html %}

<main>
   
  <article class="textbox">
    {% include _images/logo.html %}
    <h2>Wild Clackmannanshire<br><span class="subtitle">True adventure is closer than you think</span></h2>
    
    <p>Discover a hidden gem for ourdoor activities in central Scotland and unleash your spirit of Adventure. Enjoy Some of Scotlands best and most accessible canyoning adventurs, 
      revel in the range of trails for mountain bikers of all levels and take in a spectacular array of waterfalls, rushing burns and beautiful glens.</p>
    <br><br>

    <div id="lightgallery" class="gallery-container">
      <div class="gallery-img-container">
        <img src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/a21160c8-a795-414b-fa13-b57435f5ca00/w=800,fit=cover" alt="Description of image 1">
      </div>
      <div class="gallery-img-container">
        <img src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/131ec36b-e2cb-4d9f-eef8-c48d95204800/w=800,fit=cover" alt="Description of image 1">
      </div>
      <div class="gallery-img-container">
        <img src="/resources/images/ImageBikeExample.webp" alt="Description of image 1">
      </div>
    </div>
    <br><br>
    <p>Just an hour from Edinburgh or Glasgow, near Stirling, lie the ancient Ochil Hills in Clackmannanshire. 
    Formed around 400 million years ago, these hills are a spectacular wedge of volcanic rock towering over the Forth Valley. 
    The steep, south-facing slopes are home to cascading burns carving deep chasms between spectacular peaks. Emerging from the last Ice Age, 
    the Ochils unveiled themselves as a haven for the present-day adventure seeker.
    </p>
    <br><br>
    <div class="icon"></div>
    <h2>Short Adventure Breaks in Scotland<br><span class="subtitle">Our top recommendations</span></h2>  
    <br><br>
    <div class="icon"></div>
    <h2 class="sub-heading">Accommodation<br><span class="subtitle">At Brucefield Estate you'll find a luxurious yet adventurous escape</span></h2>  
    <p>From the high ground of the Ochils, looking over the Forth Valley towards the mighty River Forth, one can spot a vibrant patch of dark green: 
        the tranquil oasis of Brucefield Estate. Its wild and enchanting forest is where we start our adventure and our eventual retreat after exhilarating descents through the glens by wheel and water. 
        This is more than your average adventure holiday in the UK; it's a journey into the wild, remarkably accessible yet untamed.
    </p>
    
    <div id="lightgallery" class="gallery-container">
        <div class="gallery-img-container">
      <img src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/070b5721-485b-4033-caa3-38f1be0fb100/w=800,fit=cover" 
           srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/070b5721-485b-4033-caa3-38f1be0fb100/w=320,fit=cover 320w,
                   https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/070b5721-485b-4033-caa3-38f1be0fb100/w=480,fit=cover 480w,
                   https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/070b5721-485b-4033-caa3-38f1be0fb100/w=800,fit=cover 800w"
           sizes="(max-width: 320px) 280px,
                  (max-width: 480px) 440px,
                  800px"
           alt="Description of image 1">
        </div>
        <div class="gallery-img-container">
      <img src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/803d80cf-a455-448c-e906-ca21f7837000/w=800,fit=cover" 
           srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/803d80cf-a455-448c-e906-ca21f7837000/w=320,fit=cover 320w,
                   https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/803d80cf-a455-448c-e906-ca21f7837000/w=480,fit=cover 480w,
                   https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/803d80cf-a455-448c-e906-ca21f7837000/w=800,fit=cover 800w"
           sizes="(max-width: 320px) 280px,
                  (max-width: 480px) 440px,
                  800px"
           alt="Description of image 2">
        </div>
        <div class="gallery-img-container">
      <img src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/e4878526-9a95-4ca2-256c-339ac5f3db00/w=800,fit=cover" 
           srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/e4878526-9a95-4ca2-256c-339ac5f3db00/w=320,fit=cover 320w,
                   https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/e4878526-9a95-4ca2-256c-339ac5f3db00/w=480,fit=cover 480w,
                   https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/e4878526-9a95-4ca2-256c-339ac5f3db00/w=800,fit=cover 800w"
           sizes="(max-width: 320px) 280px,
                  (max-width: 480px) 440px,
                  800px"
           alt="Description of image 3">
        </div>
    </div>
   <br><br>
    <h2>{ heading from Victoria }</h2>
    <p>{ pargraph text from Vicotria max max 55words }</p>  
    <a href="/recommended-accommodation-near-dollar-glen-or-alva-glen">{ link to brucefield article or guest blog}</a>
    <br><br>
    <a class="button" href="https://www.brucefieldestate.scot/schenbothies" >Book Your Stay Now</a>
 <br><br>
    <div class="icon"></div>
    <h2 class="sub-heading">Dollar Glen Canyoning<br><span class="subtitle">A fun outdoor adventure activity for all</span></h2>
    <p>Slicing deep into the backdrop of Castle Campbell is the enchanting chasm of basalt rock known as Dollar Glen. 
    This adventure is packed with fun features, making it the perfect introduction to canyoning and an ideal outdoor activity for couples and families. Dollar Glen offers action to suit every level of adventure seeker, 
    providing an enchanted journey through an ancient, hidden world.
    </p> 

    <div id="lightgallery" class="gallery-container">
        <div class="gallery-img-container">
      <img src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/e6b89f5a-35ea-4f54-9ace-1b18be37f700/w=800,fit=cover" 
           srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/e6b89f5a-35ea-4f54-9ace-1b18be37f700/w=320,fit=cover 320w,
                   https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/e6b89f5a-35ea-4f54-9ace-1b18be37f700/w=480,fit=cover 480w,
                   https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/e6b89f5a-35ea-4f54-9ace-1b18be37f700/w=800,fit=cover 800w"
           sizes="(max-width: 320px) 280px,
                  (max-width: 480px) 440px,
                  800px"
           alt="Description of image 1">
        </div>
        <div class="gallery-img-container">
      <img src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/8a0e598a-b9cf-4ec2-584e-e18621715500/w=800,fit=cover" 
           srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/8a0e598a-b9cf-4ec2-584e-e18621715500/w=320,fit=cover 320w,
                   https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/8a0e598a-b9cf-4ec2-584e-e18621715500/w=480,fit=cover 480w,
                   https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/8a0e598a-b9cf-4ec2-584e-e18621715500/w=800,fit=cover 800w"
           sizes="(max-width: 320px) 280px,
                  (max-width: 480px) 440px,
                  800px"
           alt="Description of image 2">
        </div>
        <div class="gallery-img-container">
      <img src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/bb0f053f-25f8-4369-0c70-1811eb960000/w=800,fit=cover" 
           srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/bb0f053f-25f8-4369-0c70-1811eb960000/w=320,fit=cover 320w,
                   https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/bb0f053f-25f8-4369-0c70-1811eb960000/w=480,fit=cover 480w,
                   https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/bb0f053f-25f8-4369-0c70-1811eb960000/w=800,fit=cover 800w"
           sizes="(max-width: 320px) 280px,
                  (max-width: 480px) 440px,
                  800px"
           alt="Description of image 3">
        </div>
    </div>
    <br><br>
    <a href="/locations/dollar-glen.html">Learn more about Canyoning in Dollar Glen<br><span class="subtitle">Scotland's ideal adventure for couples and families</span></a>
    <br><br>
   
      <a class="button" href="https://fareharbor.com/embeds/book/scotlandscanyons/?full-items=yes&flow=939034"><button>Book Dollar Now</button></a>
  
  <br><br>
    <div class="icon"></div>
    <h2>{Heading from Steve}</h2>
    <p>{ paragraph text from steve (max 55 words) }<p>

      <h2>{ Photo's from steve }</h2>
    <a href="#">{ link to guest blog from steve }</a>
    <br><br>
    <div class="buttonbox bookNowLink">
    <a href="https://realworldriding.co.uk/" ><button>Book Mountian Biking</button></a>
    </div>
  <br><br>
    <div class="icon"></div>
    <h2 class="sub-heading">Alva Glen Canyoning<br><span class="subtitle">A unique adventure experience in Scotland</span></h2>
    <p>Following a Dollar Glen experience, the next level is Alva Glen. A deep, steep, and committing canyoning descent through an inaccessible gorge awaits. Take on exhilarating waterfall abseils and swim through magnificent pools only seen by canyoners on a thrilling adventure.</p>  
    <div id="lightgallery" class="gallery-container">
    <div class="gallery-img-container">
      <img src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/c2906b65-0178-4dcf-5916-2d4754d6e800/w=800,fit=cover" 
       srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/c2906b65-0178-4dcf-5916-2d4754d6e800/w=320,fit=cover 320w,
               https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/c2906b65-0178-4dcf-5916-2d4754d6e800/w=480,fit=cover 480w,
               https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/c2906b65-0178-4dcf-5916-2d4754d6e800/w=800,fit=cover 800w"
       sizes="(max-width: 320px) 280px,
              (max-width: 480px) 440px,
              800px"
       alt="Description of image 1">
    </div>

    <div class="gallery-img-container">
        <img src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/9e265ecc-5388-40e2-32c7-0a901314ae00/w=800,fit=cover" 
       srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/9e265ecc-5388-40e2-32c7-0a901314ae00/w=320,fit=cover 320w,
               https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/9e265ecc-5388-40e2-32c7-0a901314ae00/w=480,fit=cover 480w,
               https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/9e265ecc-5388-40e2-32c7-0a901314ae00/w=800,fit=cover 800w"
       sizes="(max-width: 320px) 280px,
              (max-width: 480px) 440px,
              800px"
       alt="Description of image 2">  
    </div>

    <div class="gallery-img-container">
        <img src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/fc875885-aeb3-4cc7-a21c-67af9220cf00/w=800,fit=cover" 
       srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/fc875885-aeb3-4cc7-a21c-67af9220cf00/w=320,fit=cover 320w,
               https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/fc875885-aeb3-4cc7-a21c-67af9220cf00/w=480,fit=cover 480w,
               https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/fc875885-aeb3-4cc7-a21c-67af9220cf00/w=800,fit=cover 800w"
       sizes="(max-width: 320px) 280px,
              (max-width: 480px) 440px,
              800px"
       alt="Description of image 3">
    </div>
    </div>
<br><br>
    <a href="/locations/alva-glen.html">Learn more about Canyoning in Alva Glen<br><span class="subtitle">Scotland's next-level canyoning adventure</span></a>
    <br><br>
    
    <div class="buttonbox bookNowLink">
      <a href="https://fareharbor.com/embeds/book/scotlandscanyons/?full-items=yes&flow=939040"><button>Book Alva Now</button></a>
  </div>

  </article>

<br><br><br><br>

</main>

