---
layout: default 
title: "Terms and Conditions: Adventure Logic Ltd"
date: 2024-01-19
permalink: information/terms-and-conditions
css_file: "page-nav.css"
canonical_url: https://www.scotlandscanyons.com/information/terms-and-conditions
url: "https://www.scotlandscanyons.com/information/terms-and-conditions"
logo: "https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/8c86e5da-8b2c-48bf-302d-617f6d0afd00/w=300,fit=scale-down"
priority: 0.1
changefreq: monthly 
meta_description: "Terms and Conditions for Adventure Logic Ltd, operator of scotlandscanyons.com"
---

<style>
    #pdfIframe {
    max-width: 100%;
}

</style>
<main class="textbox">
    {% include _images/logo.html %}
    <h1>{{ page.title }}</h1>
    <br><br>
    <iframe src="https://www.scotlandscanyons.com/terms-and-conditions.pdf" width="600px" height="500px" frameborder="0" id="pdfIframe"></iframe>
    <br><br>
    
            <ul>
                <li><a href="/privacy-policy">Privacy Policy</a></li>
                <br>
                <li><a href="/cookie-policy">Cookie Policy</a></li>
            </ul>
    
{% include page-nav.html %}

</main>

