---
layout: default
scripts:
  - fh
  - gtm
title: "Alva Glen: A Next-Level Canyoning Adventure in Scotland"
date: 2024-26-01
permalink: locations/alva-glen
canonical_url: https://www.scotlandscanyons.com/locations/alva-glen
priority: 0.8
changefreq: weekly
schema_organization:
context: "https://schema.org"
type: "Organization"
name: "Scotland's Canyons"
logo: "https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/8c86e5da-8b2c-48bf-302d-617f6d0afd00/w=300,fit=scale-down"
sameAs:
  - "https://www.youtube.com/playlist?list=PLdIf-OQl_8hGOCVfGYLEYpgOJtICIlwkg"
  - "https://www.facebook.com/scotlandscanyons/"
  - "https://www.instagram.com/scotlandscanyons/"
  - "https://www.tiktok.com/@scotlandscanyons"
  - "https://business.google.com/n/5753756304371722257/searchprofile?hl=en-GB" #home
  - "https://www.visitscotland.com/info/see-do/scotlands-canyons-p2831561" #home
  - "https://www.visitscotland.com/info/see-do/scotlands-canyons-p2838501" #alva
contactPoint:
  type: "ContactPoint"
  telephone: "+44 7868 367180"
  contactType: "customer service"
address:
  type: "PostalAddress"
  streetAddress: "Alva Glen, Brook St"
  addressLocality: "Alva"
  addressRegion: "Clackmannanshire"
  postalCode: "5JP"
  addressCountry: "Scotland"
schema_image:
  context: "http://schema.org"
  type: "ImageObject"
  author:
    type: "Person"
    name: "Ross Murray"
  copyrightHolder:
    Organization: "Adventure Logic Ltd"
  uploadDate: "2023-01-23"
image: "https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/69901d0c-8a29-478b-28e9-56a859138900/w=1200,fit=scale-down"
imagewidth: 624
imageheight: 370
description: "canyoning-guide-abseils-down-epic-corkscrew-waterfall-decent-in-alva-glen"
meta_description: “Next Level canyoning adventure near Edinburgh and Glasgow. Alva Glen, Clackmannanshire offers a thrilling challenge in epic wild Scotland. Book Online Now!”
---

{% include topbox-top.html %}

<main>
  
  

    <section class="textbox">
        {% include _images/logo.html %}
        <h2>Next-Level Canyoning: Explore Alva Glen</h2>
        <p>Join us for an exhilarating adventure as we explore the deep and ancient volcanic landscape of Alva Glen. Encounter steep waterfalls within a narrow chasm, accessible exclusively to canyoneers. Descend from Smugglers Cave, journeying through the hidden wonders of Alva Burn. Each waterfall presents a new challenge, beckoning those ready to elevate their canyoning experience to the next level.</p>        <article class="abox">
            
            <div class="icon"></div>
            <h2>Who Will Love Canyoning in Alva Glen?</h2>   
            <p>
                <span class="star">&#9734;</span><strong class="headline"> Adventure Seekers:</strong> Seasoned adventurers with practiced abseiling skills.
                <br>
                <span class="star">&#9734;</span><strong class="headline"> Couples and Small Groups:</strong> Those who have been canyoning with us before and enjoyed waterfall abseiling.
   
                <br><br>
                <span style="font-style: italic;">Note: Guests must be over 18 years of age or accompanied by a parent or legal guardian.</span> 
            </p>

            
        </article>
    </section>

    <section class="textbox">

      <h2>Photo's from our Alva Glen Canyoning Adventures</h2>
       <p>Explore recent action in Alva Glen through our photo's featuring some of the thrilling abseiling challenges and amgnificent waterfalls deep within this magnificent chasm of volcanic rock.</p>

   </section>
   {% include _gallery/alva.html %}
    
    <section class="textbox nobottompad">
      <div class="icon"></div>
      <h2>Alva Glen: Exhilarating canyoning adventure</h2>   
      <p>Alva Glen in Clackmannanshire is within an hour's drive from Edinburgh, Glasgow, Dundee, Perth, and Fife. It's the perfect destination for adventure seekers looking for a wild and exhilarating experience, abseiling inside and through waterfalls. This is a committing descent, better suited to those with strong abseiling skills who have previous canyoning experience.</p>        <br>
     
  </section>
  <div class="elfsight-app-56ef7083-1c77-45d8-ab03-e23b961c7ec0" data-elfsight-app-lazy></div>

            
    <section class="textbox">
            
        <div class="icon"></div>            
        <h2>Check Live Availability for Alva Canyoning</h2>                             
        <p class="subtitle">For other locations, families and groups with more than 6 people please contact us directly for availability</p>
        <br>
        <button id="loadCalendarButton">Load Calendar</button>
        <br>
        <div style="max-width: 600px;">
            <div id="fareHarborCalendarContainer" style="position: relative">        
            
                <p>Ready to explore? Click a date in the calendar to book your adventure online now!</p>
            
            </div>  
        </div>
    </section>
    
    <!--At a Glance-->
    <section class="textbox nobottompad">
                        
        <div class="icon"></div>
        <h2>Your Adventure at a Glance</h2>               
        <p>Join us for a half-day  adventure that encounters challenging waterfall abseils on an exhilarating decent of the Alva Burn. Anticipate a thrilling and commiting challenge, in a magnificent, deep, steep and narrow slot canyon</p>
      
        <article class="abox"> 
          <div class="icon"></div> 
          <h2>Learning and Exploring Safely</h2>     
          <br>
          <p><span class="star">&#9733;</span><span class="headline">A Warm Welcome:</span> Begin your canyoning adventure at the Alva Glen Car Park. Here, you'll meet your guide and group, and gear up with our quality shoes, harnesses, and helmets.</p>                    
          <br>
          <p><span class="star">&#9733;</span><span class="headline">Smart Preparation:</span> Re-visit and if necessary practice the essential canyoning skills in a safe environment before descending The Alva Burn. Along the way, we will take the time to describe the challenges ahead and revisit the skills required preparing you to enjoy the action.</p> 
          <br>
          <p><span class="star">&#9733;</span><span class="headline">The Action:</span> We'll descend the canyon at your pace. Private canyoning means that we can focus our attention on leading an adventure that's uniquely yours. We'll be clear about the challenges ahead and if possible offer a choice of action. Alva Glen has commiting sections that are inaccessible, this mean there is no way out other than down and through. We’ll take this into consideration when planning and preparing for a fun and fulfilling adventure</p>        
          <br>
          <p><span class="star">&#9733;</span><span class="headline"> Relax and Reflect:</span> Conclude your journey with a delightful touch. After the descent, we gather back at the meeting point for home-baked snacks and drinks. It's a chance to relax, share stories, and enjoy the camaraderie of fellow canyoners.</p>       
        </article> 
         
        <article class="abox">
            <div class="icon"></div>
            <h2>Staying Safe</h2>
            <br>
            <div class="container">
            <p><span class="star">&#9733;</span><span class="headline">Our Commitment to Safety:</span> If it isn't safe, we won't do it. We practise regularly to maintain the highest standards. We understand that every adventure is unique, and our approach to safety reflects that.
                <input type="checkbox" id="learn-more-toggle-1" class="learn-more-checkbox">
                <label for="learn-more-toggle-1" class="learn-more-btn">Learn&nbsp;More&nbsp;&darr;</label>
                <span class="hidden-content"><br><br>Heightened awareness and skillful observations are fundamental to our operations, skills honed through years of experience. We prioritize constant vigilance, as safety is a non-negotiable aspect of all our activities. To ensure the highest safety standards, our guides regularly undergo specialised training, tailored to both the specific location and activity. This commitment to safety is grounded in up-to-date and relevant expertise, ensuring the best possible experience for our guests.
                <label for="learn-more-toggle-1" class="collapse-btn">Show Less &uarr;</label></span>
            </p>
            </div>
        </article>
        <article class="abox">       
            <div class="icon"></div>
            <h2>Before You Book</h2>
            <br>   
            <div class="container">
                <p class="content">
                    <span class="star">&#9733;</span>&nbsp;<span class="headline">Personalised Advice and Support:</span>&nbsp;Before you book, we like to offer personalised advice and answer any questions you may have. Our information and booking office can be contacted every day for any request. We want to make sure that you are going to book the experience that is right for you.
                    <input type="checkbox" id="learn-more-toggle-2" class="learn-more-checkbox">
                    <label for="learn-more-toggle-2" class="learn-more-btn">Contact&nbsp;Us&nbsp;&darr;</label>
                    <span class="hidden-content">We'd love to hear from you! Give us a <a href="tel:07868367180">call</a>, send us an <a href="mailto:info@scotlandscanyons.com">email</a> or message us on <a href="https://wa.me/447868367180?text=My%20Question%20is" rel="noopener" target="_blank">WhatsApp.</a>
                    <label for="learn-more-toggle-2" class="collapse-btn">Show Less &uarr;</label></span>
                </p>
            </div>    
        </article>    

                
    </section> 
    {% include brucefield.html %}
     
<br><br>
</main>
<script>
  document.getElementById('loadCalendarButton').addEventListener('click', function() {
      var container = document.getElementById('fareHarborCalendarContainer');
      var button = this;
      
      
      if (container.getElementsByTagName('iframe').length === 0) {
          var iframe = document.createElement('iframe');
          iframe.src = "https://fareharbor.com/embeds/calendar/scotlandscanyons/2024/01/?flow=939040&full-items=yes";
          iframe.width = "100%";
          iframe.height = "500px"; 
          iframe.frameBorder = "0";
          container.appendChild(iframe);

         
          button.style.display = 'none';
      }
  });
</script>