---
layout: default
scripts:
  - fh
  - gtm
  - bc
title: "Bruar: Exciting Outdoor Adventure Canyoning In Scotland"
date: 2024-01-26
permalink: locations/bruar
canonical_url: https://www.scotlandscanyons.com/locations/bruar
priority: 0.8
changefreq: weekly
schema_organization:
context: "https://schema.org"
type: "LocalBusiness"
name: "Scotland's Canyons"
logo: "https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/8c86e5da-8b2c-48bf-302d-617f6d0afd00/w=300,fit=scale-down"
sameAs:
  - "https://www.youtube.com/playlist?list=PLdIf-OQl_8hFtUypPpG7l4tEEmtV-HfOL"
  - "https://www.facebook.com/scotlandscanyons/"
  - "https://www.instagram.com/scotlandscanyons/"
  - "https://www.tiktok.com/@scotlandscanyons"
  - "https://business.google.com/n/5753756304371722257/searchprofile?hl=en-GB" #home
  - "https://www.visitscotland.com/info/see-do/scotlands-canyons-p2831561"
  - "https://www.visitscotland.com/info/see-do/private-canyoning-the-bruar-water-p2838531"
  - "https://www.visitscotland.com/info/tours/private-canyoning-bruar-ac6cc74d"
contactPoint:
  type: "ContactPoint"
  telephone: "+44 7868 367180"
  contactType: "customer service"
address:
  type: "PostalAddress"
  streetAddress: "House of Bruar Car Park"
  addressLocality: "Pitlochry"
  addressRegion: "Perthshire"
  postalCode: "PH18 5TW"
  addressCountry: "Scotland"  
schema_image:
  context: "http://schema.org"
  type: "ImageObject"
  name: "beginner-canyoning-gorgewalking-scotland-uk-edinburgh-glasgow"
  author:
    type: "Person"
    name: "Ross Murray"
  copyrightHolder:
    Organization: "Adventure Logic Ltd"
  uploadDate: "2023-01-23"
image: "https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/dd3e455e-f871-473b-14e3-5ad580728100/w=1200,fit=scale-down"
imagewidth: 624
imageheight: 370
description: "Jumping cannoneer in all action adventure, Bruar canyoning near Pitlochry in Scotland"
meta_description: “Exclusive Falls of Bruar, An epic canyoning adventure near Pitlochry in Scotland. This fun and thrilling outdoor activity is an unforgettable experience!”
---

{% include topbox.html %}

<main>
  
  

    <section class="textbox">
        {% include _images/logo.html %}
        <h2>Exclusive Canyoning: Explore the Bruar Water</h2>
        <p>Join us for a thrilling adventure exploring the beautiful wild swimming pools and majestic waterfalls of The Bruar Water. Each pool offers fun-filled action with jumping, sliding, and abseiling through the rugged, glaciated landscape. Experience canyoning in an exhilarating adventure set against a landscape that blends wild beauty with joyful excitement.</p>
        <article class="abox">
            
            <div class="icon"></div>
            <h2>Who Will Love Canyoning at Bruar?</h2>   
            <p>
                <span class="star">&#9734;</span><strong class="headline"> Families:</strong> An exciting family adventure, ideal for families with older children aged 12+.
                <br>
                <span class="star">&#9734;</span><strong class="headline"> Couples and Groups:</strong> An epic full day of adventure to share with friends.
                <br>
                <span class="star">&#9734;</span><strong class="headline"> Solo Adventurers:</strong> An immersive experience to enjoy one-on-one with an expert guide.
                <br>
                <span style="font-style: italic;">Note: Guests must be over 18 years of age or accompanied by a parent or legal guardian.</span> 
            </p>
            
        </article>
    </section>

    <section class="textbox">

      <h2>Photo's from our Bruar Canyoning Adventures</h2>
      <p>Explore recent action in Bruar Canyon through our photo's featuring some of the best jumps, slides, abseils and beautiful views from one of our favourite canyons. Perfect for first-timers and thrill seekers alike, these images showcase the accessible yet exhilarating world of canyoning.</p>

    </section>
    {% include _gallery/bruar.html %}
    
    <section class="textbox">
        <h2>Read our latest review from Bruar Canyon</h2>
        <div class="elfsight-app-360f1388-99e8-48bd-b7ca-191b097310c2" data-elfsight-app-lazy></div>
    </section>

    <section class="textbox nobottompad">
      <div class="icon"></div>
      <h2>The Bruar Water: Scotland's All Action Canyoning Paradise</h2>   
      <p>Bruar Canyon in Perthshire is easily accessible from the A9 and lies near Pitlochry, Blair Atholl, and Aberfeldy. It's the perfect destination for adventure seekers looking for a wild, action-packed experience full of jumps and slides. With its easy access and the flexibility to tailor your experience along the way, it caters to all levels of adventure enthusiasts.</p>
      <br>
     
  </section>
  <div class="elfsight-app-2c872160-009d-4a24-a719-bbd8c361ec0d" data-elfsight-app-lazy></div>

    
            
    <section class="textbox">
            
        <div class="icon"></div>            
        <h2>Check Live Availability for Bruar Canyoning</h2>                             
        <p class="subtitle">For other locations, families and groups with more than 6 people please contact us directly for availability</p>
        <br>
        <button id="loadCalendarButton">Load Calendar</button>
        <br>
        <div style="max-width: 600px;">
            <div id="fareHarborCalendarContainer" style="position: relative">        
            
                <p>Ready to explore? Click a date in the calendar to book your adventure online now!</p>
            
            </div>  
        </div>
    </section>
    
    <!--At a Glance-->
    <section class="textbox nobottompad">
                        
        <div class="icon"></div>
        <h2>Your Adventure at a Glance</h2>               
        <p>Join us for a full-day adventure that encompasses everything from waterfall abseils and exhilarating jumps to natural slides and serene wild swimming pools. Anticipate a thrilling descent, filled with action-packed moments both before and after a delightful picnic lunch.</p>
        
        <article class="abox"> 
            <div class="icon"></div> 
            <h2>Learning and Exploring Safely</h2>     
            <br>
            <p><span class="star">&#9733;</span><span class="headline">A Warm Welcome:</span> Begin your canyoning adventure at the House of Bruar Car Park. Here, you'll meet your guide and group, and gear up with quality shoes, harnesses, and helmets.</p>                    
            <br>
            <p><span class="star">&#9733;</span><span class="headline">Smart Preparation:</span> Learn and practise essential canyoning skills in a safe environment before descending The Bruar Water. Along the way, we will take the time to learn basic skills that will boost confidence and help us enjoy the action.</p> 
            <br>
            <p><span class="star">&#9733;</span><span class="headline">The Action:</span> We'll descend the canyon at your pace. Private canyoning means that we can focus our attention on leading an adventure that's uniquely yours. We'll be clear about the challenges ahead and, when appropriate, offer a choice of action. Bruar is a great location for beginners because you can get in and out along the way.</p>        
            <br>
            <p><span class="star">&#9733;</span><span class="headline">Lunch:</span> We'll carry a hearty picnic lunch with us to enjoy in a magnificent setting along the way.</p>       
            <br>
            <p><span class="star">&#9733;</span><span class="headline"> Relax and Reflect:</span> Conclude your journey with a delightful touch. After the descent, we gather back at the meeting point for home-baked snacks and drinks. It's a chance to relax, share stories, and enjoy the camaraderie of fellow canyoners.</p>       
        </article> 
         
            <article class="abox">
            <div class="icon"></div>
            <h2>Staying Safe</h2>
            <br>
            <div class="container">
            <p><span class="star">&#9733;</span><span class="headline">Our Commitment to Safety:</span> If it isn't safe, we won't do it. We practise regularly to maintain the highest standards. We understand that every adventure is unique, and our approach to safety reflects that.
                <input type="checkbox" id="learn-more-toggle-1" class="learn-more-checkbox">
                <label for="learn-more-toggle-1" class="learn-more-btn">Learn&nbsp;More&nbsp;&darr;</label>
                <span class="hidden-content"><br><br>Heightened awareness and skillful observations are fundamental to our operations, skills honed through years of experience. We prioritize constant vigilance, as safety is a non-negotiable aspect of all our activities. To ensure the highest safety standards, our guides regularly undergo specialised training, tailored to both the specific location and activity. This commitment to safety is grounded in up-to-date and relevant expertise, ensuring the best possible experience for our guests.
                <label for="learn-more-toggle-1" class="collapse-btn">Show Less &uarr;</label></span>
            </p>
            </div>
          </article>
            <article class="abox">       
            <div class="icon"></div>
            <h2>Before You Book</h2>
            <br>   
            <div class="container">
                <p class="content">
                    <span class="star">&#9733;</span>&nbsp;<span class="headline">Personalised Advice and Support:</span>&nbsp;Before you book, we like to offer personalised advice and answer any questions you may have. Our information and booking office can be contacted every day for any request. We want to make sure that you are going to book the experience that is right for you.
                    <input type="checkbox" id="learn-more-toggle-2" class="learn-more-checkbox">
                    <label for="learn-more-toggle-2" class="learn-more-btn">Contact&nbsp;Us&nbsp;&darr;</label>
                    <span class="hidden-content">We'd love to hear from you! Give us a <a href="tel:07868367180">call</a>, send us an <a href="mailto:info@scotlandscanyons.com">email</a> or message us on <a href="https://wa.me/447868367180?text=My%20Question%20is" rel="noopener" target="_blank">WhatsApp.</a>
                    <label for="learn-more-toggle-2" class="collapse-btn">Show Less &uarr;</label></span>
                </p>
            </div>    
        </article>   
        <br><br>
        <a href="/map#canyon-menu-full">Go to full locations menu</a>

                
    </section> 
     
<br><br>
</main>