---
layout: default
scripts:
  - fh
  - gtm
title: "Grey Mares Tail: Epic Canyoning Adventure in Scotland"
date: 2024-01-26
permalink: locations/grey-mares-tail
canonical_url: https://www.scotlandscanyons.com/locations/grey-mares-tail
priority: 0.8
changefreq: weekly
schema_organization:
context: "https://schema.org"
type: "Organization"
name: "Scotland's Canyons"
logo: "https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/8c86e5da-8b2c-48bf-302d-617f6d0afd00/w=300,fit=scale-down"
sameAs:
  - "https://www.youtube.com/playlist?list=PLdIf-OQl_8hGOCVfGYLEYpgOJtICIlwkg"
  - "https://www.facebook.com/scotlandscanyons/"
  - "https://www.instagram.com/scotlandscanyons/"
  - "https://www.tiktok.com/@scotlandscanyons"
  - "https://business.google.com/n/5753756304371722257/searchprofile?hl=en-GB" #home
  - "https://www.visitscotland.com/info/see-do/scotlands-canyons-p2831561" #home
  - "https://www.visitscotland.com/info/see-do/scotlands-canyons-p2838501" #alva
contactPoint:
  type: "ContactPoint"
  telephone: "+44 7868 367180"
  contactType: "customer service"
address:
  type: "PostalAddress"
  streetAddress: "Grey Mare's Waterfall, Wades Rd"
  addressLocality: "Kinlochleven"
  addressRegion: "Lochaber"
  postalCode: "PH50 4QT"
  addressCountry: "Scotland"
schema_image:
  context: "http://schema.org"
  type: "ImageObject"
  author:
    type: "Person"
    name: "Ross Murray"
  copyrightHolder:
    Organization: "Adventure Logic Ltd"
  uploadDate: "2023-01-23"
image: "https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/d3af2863-b3dc-43d3-d5f8-752ee75f2b00/w=1200,fit=scale-down"
imagewidth: 2880
imageheight: 3600
description: "Guide decends the Epic gGrey Mare's Waterfall in Scotland on a canyoning adventure"
meta_description: “Adrenaline spiking canyoning adventure in the Scottish Highlands. The Grey Mares Tail, Kinlochleven is the ultimate thrill and exhilarating experience day!”
---

{% include topbox-top.html %}

<main>

    <section class="textbox">
        {% include _images/logo.html %}
        <h2>The Grey Mare's Tail: Thrilling Adventure Experience</h2>
  
        <div class="container">
          <p class="content">An absolute classic, The Grey Mare's Tail is packed full of mind-blowing features. This canyon is better suited to those with practised skills. If you've been with us a few times before, or if you've started your journey on our <a href="/adventure-pathway">Adventure Pathway</a>, your skills and experience will enable you to fully appreciate and enjoy the spectacular challenges of this magnificent canyon. Along the way, you'll encounter some of our all-time favourite slides, exhilarating jumps, and an awe-inspiring descent of the 70-metre high Grey Mare's Waterfall. The final abseil is 50 metres high, making it one of Scotland's most thrilling waterfall abseils.
              <input type="checkbox" id="learn-more-toggle-1" class="learn-more-checkbox">
              <label for="learn-more-toggle-1" class="learn-more-btn">Contact&nbsp;us&nbsp;to&nbsp;book&darr;</label>
              <span class="hidden-content"><br><br>Click the enquire now button at the top of this page or give us a <a href="tel:07868367180">call</a>, send us an <a href="mailto:info@scotlandscanyons.com">email</a> or message us on <a href="https://wa.me/447868367180?text=My%20Question%20is" rel="noopener" target="_blank">WhatsApp</a>.
              <label for="learn-more-toggle-1" class="collapse-btn">Show Less &uarr;</label></span>
          </p>
      </div>    
        
        <article class="abox">
        <div class="icon"></div>
        <h2>Who Will Love Canyoning the Grey Mare's Tail?</h2>   
        <p>
            <span class="star">&#9734;</span><strong class="headline"> Adventure Seekers:</strong> Seasoned adventurers with practiced abseiling skills and looking for a thrilling descent full of adrenaline spiking action!
            <br>
            <span class="star">&#9734;</span><strong class="headline"> Couples and Small Groups:</strong> Those who have been canyoning with us before and enjoyed the waterfall abseiling, big jumps and slides. 
    
            <br><br>
            <span style="font-style: italic;">Note: Ask our advice before booking, guests should have a strong head for heights and be over 18 years of age or accompanied by a parent or legal guardian.</span> 
        </p>
 </article>
        
    </section>
    
    <section class="textbox">
        <div class="icon"></div>
        <h2>Photos from the Grey Mare's Tail</h2>
        <p>Check out these moments from some of our favourite actions on the Grey Mare's Tail descent. These photos capture why experienced adventurers love the adrenaline-spiking action in this exhilarating canyoning adventure.</p>
    </section>
    {% include _gallery/gmt.html %}
    <div class="textbox">
    <div class="icon"></div>
    <h2>Get Directions to Grey Mare's Tail Waterfall, Kinlochleven</h2>
    <p>This canyoning adventure at Kinlochleven, in Lochaber, the Scottish Highlands, is near Fort William, Glencoe, and Ben Nevis. It's an incredible addition to any adventure holiday in Scotland and a must-do experience for thrill-seekers and canyoning enthusiasts alike.</p>
    </div>
    <div class="elfsight-app-fdc93063-472f-4b9e-a616-f211b63b7659" data-elfsight-app-lazy></div>

    <section class="textbox nobottompad">
                        
        <div class="icon"></div>
        <h2>Your Adventure at a Glance</h2>
        <p>Join us for a full-day adventure that includes massive waterfall abseils, wild slides, and exhilarating jumps in the Grey Mare's Tail canyon. Anticipate a thrilling and committing challenge with significant exposure to heights.</p>               
    
        <article class="abox"> 
          <div class="icon"></div> 
          <h2>Learning and Exploring Safely</h2>     
          <br>
          <p><span class="star">&#9733;</span><span class="headline"> A Warm Welcome:</span> Begin your canyoning adventure at the Grey Mare'e Waterfall Car Park. Here, you'll meet your guide, and gear up with our quality shoes, harnesses, and helmets.</p>                    
          <br>
          <p><span class="star">&#9733;</span><span class="headline"> Smart Preparation:</span> Re-visit and if necessary practice the essential canyoning skills in a safe environment before descending The Grey Mare's Tail. Along the way, we will take the time to describe the challenges ahead and revisit the skills required preparing you to enjoy the action.</p> 
          <br>
          <p><span class="star">&#9733;</span><span class="headline"> The Action:</span> We'll descend the canyon at your pace. Private canyoning means that we can focus our attention on leading an adventure that's uniquely yours. We'll be clear about the challenges ahead and if possible offer a choice of action. The Grey Mares tail has commiting sections that are inaccessible, this mean there is no way out other than down and through. We'll take this into consideration when planning and preparing for a fun and fulfilling adventure</p>        
          <br>
          <p><span class="star">&#9733;</span><span class="headline"> The Lunch:</span> We'll prepair a hearty picnic lunch to enjoy in a scenic spot along the way.</p>
          <br>
          <p><span class="star">&#9733;</span><span class="headline"> Relax and Reflect:</span> Conclude your journey with a delightful touch. After the descent, we gather back at the meeting point for home-baked snacks and drinks. It's a chance to relax, share stories, and enjoy the camaraderie of fellow canyoners.</p>       
        </article> 
      </section>  
       <div class="iframe-vid textbox">
        <div class="icon"></div>
        <h2>Check out some action from the Grey Mare's Tail</h2>
        <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/Hy8HAqMKE2w?si=Jo4BKoZAzIN0bO76" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <br>
        <a href="https://www.youtube.com/@scotlandscanyons" target="_blank">Visit Scotland's Canyons on Youtube</a> 
      </div>  
       <section class="textbox">
        <article class="abox">
            <div class="icon"></div>
            <h2>Staying Safe</h2>
            <br>
            <div class="container">
            <p><span class="star">&#9733;</span><span class="headline"> Our Commitment to Safety:</span> If it isn't safe, we won't do it. We practise regularly to maintain the highest standards. We understand that every adventure is unique, and our approach to safety reflects that.
                <input type="checkbox" id="learn-more-toggle-1" class="learn-more-checkbox">
                <label for="learn-more-toggle-1" class="learn-more-btn">Learn&nbsp;More&nbsp;&darr;</label>
                <span class="hidden-content"><br><br>Heightened awareness and skillful observations are fundamental to our operations, skills honed through years of experience. We prioritize constant vigilance, as safety is a non-negotiable aspect of all our activities. To ensure the highest safety standards, our guides regularly undergo specialised training, tailored to both the specific location and activity. This commitment to safety is grounded in up-to-date and relevant expertise, ensuring the best possible experience for our guests.
                <label for="learn-more-toggle-1" class="collapse-btn">Show Less &uarr;</label></span>
            </p>
            </div>
        </article>
        <article class="abox">       
            <div class="icon"></div>
            <h2>Before You Book</h2>
            <br>   
            <div class="container">
                <p class="content">
                    <span class="star">&#9733;</span>&nbsp;<span class="headline">Personalised Advice and Support:</span>&nbsp;Before you book, we like to offer personalised advice and answer any questions you may have. Our information and booking office can be contacted every day for any request. We want to make sure that you are going to book the experience that is right for you.
                    <input type="checkbox" id="learn-more-toggle-2" class="learn-more-checkbox">
                    <label for="learn-more-toggle-2" class="learn-more-btn">Contact&nbsp;Us&nbsp;&darr;</label>
                    <span class="hidden-content">We'd love to hear from you! Give us a <a href="tel:07868367180">call</a>, send us an <a href="mailto:info@scotlandscanyons.com">email</a> or message us on <a href="https://wa.me/447868367180?text=My%20Question%20is" rel="noopener" target="_blank">WhatsApp.</a>
                    <label for="learn-more-toggle-2" class="collapse-btn">Show Less &uarr;</label></span>
                </p>
            </div>    
        </article>    
<br><br>
<a href="/map#canyon-menu-full">Go to full locations menu</a>                
    </section> 
    <br><br>
    
    <br><br>

    


</main>
