
<div class="social-proof">
    <a class="lnt-link" href="https://lnt.org/" target="_blank">
        <img  class="lnt-pp"
            srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/1b264fb7-8a34-4a33-9150-93bd347c6b00/w=200 200w,
                    https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/1b264fb7-8a34-4a33-9150-93bd347c6b00/w=100 100w,
                    https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/1b264fb7-8a34-4a33-9150-93bd347c6b00/w=150 150w"
            sizes="(max-width: 600px) 100px,
                   (max-width: 900px) 150px,
                   200px"
            src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/1b264fb7-8a34-4a33-9150-93bd347c6b00/w=200"
            alt="Leave No Trace proud partner badge and logo"
            width="200"
            height="186"
            >
            

    </a> 
</div>