<img class="logok" width="175"
  height="42"
  src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/247f5557-4afe-4c37-91c2-8c1973f49d00/w=175,fit=scale-down"
  srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/247f5557-4afe-4c37-91c2-8c1973f49d00/w=175,fit=scale-down 175w,
    https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/247f5557-4afe-4c37-91c2-8c1973f49d00/w=350,fit=scale-down 350w,
    https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/247f5557-4afe-4c37-91c2-8c1973f49d00/w=525,fit=scale-down 525w,
    https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/247f5557-4afe-4c37-91c2-8c1973f49d00/w=700,fit=scale-down 700w"
  sizes="(max-width: 480px) 100vw,
         (max-width: 768px) 50vw,
         (max-width: 1024px) 33.3vw,
         25vw"
  alt="Scotland's Canyons Logo Portrait White">
