---
layout: default
lightgal: true
title: "A Big Day Of Action: Outdoor Adventure Clackmannanshire"
excerpt: "Imagine there surprise as we emerge from this magnificent natural wonder and continue down the Alva Burn to the hidden wonders below. "
permalink: "_itineraries/a-big-adventure-day"
canonical_url: "https://www.scotlandscanyons.com/_itineraries/all-action-adventure-break"
css_file: gallery.css
css_file2: page-nav-2.css
priority: 0.8
changefreq: monthly
context: "https://schema.org"
type: "LocalBusiness"
name: "Scotland's Canyons"
logo: "https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/8c86e5da-8b2c-48bf-302d-617f6d0afd00/w=300,fit=scale-down"
logo2: "https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/50831c67-d2a1-40c5-9678-8edad89c1000/w=300,fit=scale-down"
logo3: "https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/0d5290d7-792d-49af-88fb-76cf13f89800/w=300,fit=scale-down"
sameAs:
  - "https://www.youtube.com/@scotlandscanyons"
  - "https://www.facebook.com/scotlandscanyons/"
  - "https://www.instagram.com/scotlandscanyons/"
  - "https://www.tiktok.com/@scotlandscanyons"
  - "https://business.google.com/n/5753756304371722257/searchprofile?hl=en-GB" #home
  - "https://business.google.com/n/14575729591246117293/searchprofile?hl=en-GB" #dollar
  - "https://www.visitscotland.com/info/see-do/scotlands-canyons-p2831561" #dollar
  - "https://www.visitscotland.com/info/see-do/scotlands-canyons-p2838501" #alva
  - "https://www.visitscotland.com/info/see-do/discover-canyoning-p2542171"
  - "https://www.visitscotland.com/info/tours/the-ultimate-canyoning-experience-9b13b3c4"
  - "https://www.visitscotland.com/info/tours/private-canyoning-in-alva-glen-561884a9"
  - "https://www.visitscotland.com/info/tours/discover-canyoning-in-dollar-glen-bd8c6112"
contactPoint:
  type: "ContactPoint"
  telephone: "+44 7868 367180"
  contactType: "customer service"
address:
  type: "PostalAddress"
  streetAddress: "Glen"
  addressLocality: "Dollar"
  addressRegion: "Clackmannanshire"
  postalCode: "FK14 7PP"
  addressCountry: "Scotland"
schema_image:
  context: "http://schema.org"
  type: "ImageObject"
  name: "ALva Glen View on Canyoning Adventures"
  author:
    type: "Organization"
    name: "Adventure Logic Ltd"
  copyrightHolder:
    type: "Organization"
    name: "Adventure Logic Ltd"  
  uploadDate: "2024-02-09"
  page.acquireLicensePage: scotlandscanyons.com
  page.license: scotlandscanyons.com/privacy-policy.pdt  
image: "https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/44a17f5c-43ab-4b8e-6078-7033b2f7a300/w=1200,fit=cover"
imagewidth: 3693
imageheight: 4616 
description: "Alva Glen View on Canyoning and biking adventure holiday in Clackmannanshire, Scotland, near Edinburgh and Glasgow"
meta_description: "Hidden Gem | Discover your incredible mountain biking and canyoning outdoor adventure holiday in Scotland | Under an hours drive from Edinburgh or Glasgow"

---

{% include topbox.html %}

<main>
   
    <div class="textbox">
        {% include _images/logo.html %}
        <div class="itinerary">
      
            <h2>Your Adventure Awaits!</h2>
      
            <div class="day">
              <div class="icon"></div>
                <h2>Morning - A New Thrill</h2>
                    
                    <p class="activity"><strong>&#9733;<br>Dollar Glen</strong> Dive into the <span class="highlight">Enchanting Canyoning Adventure</span> in Dollar Glen, where mystery meets adrenaline.</p>
                    <p class="activity"><strong>&#9733;<br>Lunch:</strong> Enjoy a <span class="highlight">Hearty Picnic Lunch</span> amidst breathtaking scenery, recharging your spirits.</p>
          
            </div>
      
            <div class="day">
              <div class="icon"></div>
                <h2>Afternoon - Embrace the Wilderness</h2>
                
                    <p class="activity"><strong>&#9733;<br>Alva Glen</strong> Experience an <span class="highlight">Exhilarating Alva Glen Canyoning Adventure</span>, take on a magnificent waterfall challenge.</p>
            </div>
        </div>
        <br><br><br>
        <div class="icon"></div>
        <h2>An Enchanting Morning</h2>
        <p><span class="headline">Meet your guide:</span> Begin your adventure from your accommodation or meet us at Dollar Glen where an enchanting morning adventure awaits.</p>
    </div>    
        <div class="elfsight-app-8515b55c-38ed-4744-a837-6a45749ba2b6" data-elfsight-app-lazy></div>
        
        <div class="abox">
            <p><span class="headline">Learn fun new skills:</span> Explore a 400-million-year-old chasm formed from volcanic rock. This ancient glen, blanketed in moss and ferns, brims with magic and wonder. The air is perfumed with the scent of wild garlic, while white-throated dippers, wagtails, and treecreepers observe as you navigate through waterfalls and natural swimming pools. This experience serves as the perfect introduction to canyoning, a pursuit that grants access to some of Scotland's most untouched wilds. <a href="/locations/dollar-glen">Learn more about canyoning in Dollar Glen</a></p>
            <p><span class="headline">Picnic Lunch:</span> Following a morning filled with jumping, sliding, and abseiling into natural pools, relish a hearty picnic lunch in a picturesque setting, preparing you for further adventures in the afternoon.</p>
        </div>
        
        <div class="abox">
            <div class="icon"></div>
            <h2>Afternoon</h2>
            <p><span class="headline">Alva Glen:</span> After the mornings action you'll be ready for a next level experience in Alva Glen. Sculpted from the same ancient basalt, Alva offers a deeper, more narrow, and challenging adventure. Revel in the stunning valley views as we ascend to the Smuggler's Cave and commence an exciting descent by abseiling into it. Those who venture down to the river might catch sight of the waterfall deep within the cave, marvelling at the adventures that lie ahead. Picture their astonishment as we exit this grand natural spectacle and continue on down the Alva Burn to discover the hidden treasures below. <a href="/locations/alva-glen">Laarn more about canyoning in Alva Glen</a></p>
            <div class="icon"></div>
            <h2>Relax and Reflect</h2>
            <p>Conclude an extraordinary day of action with some well deserved home-baked snacks, sharing photos and stories of bravery.</p>
        </div>
        

  {% include _gallery/alva.html %}

  <div class="abox">
  <!--<a class="button" href="">Book This Itinerary Now</a>-->
  </div>
  {% include itineraries-loop-clacks.html %}

</main>      