---
layout: default
lightgal: true
title: "3 Night Adventure Holiday For Couples: Clackmannanshire"
excerpt: "Wake up to a delicious locally-sourced welcome breakfast hamper with sourdough bread, jam & honey, butter, milk and eggs. Start your adventure from your Accommodation and transfer to Dollar Glen where an enchanting mornings adventure awaits."
permalink: "_itineraries/a-couples-adventure-break-clackmannanshire"
canonical_url: "https://www.scotlandscanyons.com/_itineraries/a-couples-adventure-break-clackmannanshire"
css_file: gallery.css
css_file2: page-nav-2.css
priority: 0.8
changefreq: monthly
context: "https://schema.org"
type: "LocalBusiness"
name: "Scotland's Canyons"
logo: "https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/8c86e5da-8b2c-48bf-302d-617f6d0afd00/w=300,fit=scale-down"
logo2: "https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/50831c67-d2a1-40c5-9678-8edad89c1000/w=300,fit=scale-down"
logo3: "https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/0d5290d7-792d-49af-88fb-76cf13f89800/w=300,fit=scale-down"
sameAs:
  - "https://www.youtube.com/@scotlandscanyons"
  - "https://www.facebook.com/scotlandscanyons/"
  - "https://www.instagram.com/scotlandscanyons/"
  - "https://www.tiktok.com/@scotlandscanyons"
  - "https://business.google.com/n/5753756304371722257/searchprofile?hl=en-GB" #home
  - "https://business.google.com/n/14575729591246117293/searchprofile?hl=en-GB" #dollar
  - "https://www.visitscotland.com/info/see-do/scotlands-canyons-p2831561" #dollar
  - "https://www.visitscotland.com/info/see-do/scotlands-canyons-p2838501" #alva
  - "https://www.visitscotland.com/info/see-do/discover-canyoning-p2542171"
  - "https://www.visitscotland.com/info/tours/the-ultimate-canyoning-experience-9b13b3c4"
  - "https://www.visitscotland.com/info/tours/private-canyoning-in-alva-glen-561884a9"
  - "https://www.visitscotland.com/info/tours/discover-canyoning-in-dollar-glen-bd8c6112"
contactPoint:
  type: "ContactPoint"
  telephone: "+44 7868 367180"
  contactType: "customer service"
address:
  type: "PostalAddress"
  streetAddress: "Glen"
  addressLocality: "Dollar"
  addressRegion: "Clackmannanshire"
  postalCode: "FK14 7PP"
  addressCountry: "Scotland"
schema_image:
  context: "http://schema.org"
  type: "ImageObject"
  name: "ALva Glen View on Canyoning Adventures"
  author:
    type: "Organization"
    name: "Adventure Logic Ltd"
  copyrightHolder:
    type: "Organization"
    name: "Adventure Logic Ltd"  
  uploadDate: "2024-02-09"
  page.acquireLicensePage: scotlandscanyons.com
  page.license: scotlandscanyons.com/privacy-policy.pdt  
image: "https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/89a1d014-713e-4c27-a6ab-1aeacc876c00/w=1200,fit=cover"
imagewidth: 3693
imageheight: 4616 
description: "Couple smile as they enjoy a wild swim on canyoning adventure holiday in Clackmannanshire, Scotland, near Edinburgh and Glasgow"
meta_description: "The Perfect Adventure Break for Couples in Scotland I Enchanting mountain biking and canyoning outdoor adventure itinerary, near Edinburgh, Glasgow or Fife"

---

{% include topbox.html %}

<main>


  
   
  <div class="textbox">
    {% include _images/logo.html %}
    <div class="itinerary">
      
      <h2>Magic of Mannan</h2>
      <p>&#9733;<br>The tranquil forest and an enchanting Schenbothie at Brucefield Estate is the perfect base for a magical adventure in Clackmannanshire</p>

      <div class="day">
        <div class="icon"></div>
          <h2>Day One - A Thrilling Start</h2>
          
              <p class="activity"><strong>&#9733;<br>Morning:</strong> Dive into the <span class="highlight">Enchanting Canyoning Adventure</span> in Dollar Glen, where mystery meets adrenaline.</p>
              <p class="activity"><strong>&#9733;<br>Afternoon:</strong> Take on the <span class="highlight">Biking Adventure Trails of Clackmannanshire</span>, a journey through the heart of stunning landscapes.</p>
         
      </div>

      <div class="day">
        <div class="icon"></div>
          <h2>Day Two - Embrace the Wilderness</h2>
          
              <p class="activity"><strong>&#9733;<br>Morning:</strong> Experience the <span class="highlight">Exhilarating Alva Glen Canyoning Adventure</span>, take on a magnificent waterfall challenge.</p>
              <p class="activity"><strong>&#9733;<br>Afternoon/Evening:</strong> Engage in <span class="highlight">Tree Planting</span> and <span class="highlight">Bat Watching</span>, connecting with nature and enjoy in a unique twilight encounter.</p>
          
      </div>
  </div>
  <br><br><br><br>
  
    <div class="dark-logo">
    {% include _images/logo2.html %}
    </div>
    <br><br>
    <h2>Arrival and Accomodation</h2>

    <p><span class="star">&#9733;</span>&nbsp;<span class="headline">Brucefield Estate</span>&nbsp;Surround yourself with the warmth and scent of pure wood: as soon as you walk in the scent is unmistakeable.  

      Leave the world of 9-5 completely behind and escape to a luxurious Scottish getaway in the woodlands that's accessible yet remote.   
      
      An intricate balance between modernity and traditional: the luxuries of nature along with the modern world are what you will find here. <a href="/recommended-accommodation-near-dollar-glen-or-alva-glen"> read more about brucefield schenbothies</a></p>
  
  </div>

  <div class="elfsight-app-4b167d92-b93a-4ba6-9904-d7a6ac5a1698" data-elfsight-app-lazy></div>

  <div class="abox">
    <div class="icon"></div>
   <h2>Day One in Detail</h2>
   
   <p>wake up to a delicious locally-sourced welcome breakfast hamper with sourdough bread, jam & honey, butter, milk and eggs.</p> 

    <h2>{ breakfast hamper Photos ? }</h2>
    <br><br>

    {% include _images/logo.html %}
   <p><span class="headline">Meet you guide:</span> Start your adventure from your Accommodation and transfer to Dollar Glen where an enchanting mornings adventure awaits.
  </p> 
  <div id="lightgallery" class="gallery-container">
    <div class="gallery-img-container">
      
        <img loading="lazy" src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/8a0e598a-b9cf-4ec2-584e-e18621715500/w=800,fit=cover" 
             srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/8a0e598a-b9cf-4ec2-584e-e18621715500/w=320,fit=cover 320w,
                     https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/8a0e598a-b9cf-4ec2-584e-e18621715500/w=480,fit=cover 480w,
                     https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/8a0e598a-b9cf-4ec2-584e-e18621715500/w=800,fit=cover 800w"
             sizes="(max-width: 320px) 280px,
                    (max-width: 480px) 440px,
                    800px"
             alt="Waterfall abseile in Dollar Glen Canyoning advent">
    </div>
          
    <div class="gallery-img-container">
      <img loading="lazy" src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/e6b89f5a-35ea-4f54-9ace-1b18be37f700/w=800,fit=cover" 
       srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/e6b89f5a-35ea-4f54-9ace-1b18be37f700/w=320,fit=cover 320w,
               https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/e6b89f5a-35ea-4f54-9ace-1b18be37f700/w=480,fit=cover 480w,
               https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/e6b89f5a-35ea-4f54-9ace-1b18be37f700/w=800,fit=cover 800w"
       sizes="(max-width: 320px) 280px,
              (max-width: 480px) 440px,
              800px"
       alt="Description of image 1">
    </div>
   
    <div class="gallery-img-container">
  
      <img loading="lazy" src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/bb0f053f-25f8-4369-0c70-1811eb960000/w=800,fit=cover" 
       srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/bb0f053f-25f8-4369-0c70-1811eb960000/w=320,fit=cover 320w,
               https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/bb0f053f-25f8-4369-0c70-1811eb960000/w=480,fit=cover 480w,
               https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/bb0f053f-25f8-4369-0c70-1811eb960000/w=800,fit=cover 800w"
       sizes="(max-width: 320px) 280px,
              (max-width: 480px) 440px,
              800px"
       alt="Description of image 3">
    </div>

</div>
   <p><span class="headline">Learn fun new skills:</span>  in a safe place before exploring a 400 million year old chasm of Volcanic rock. This ancient moss and fern covered glen if full of magic and wonder. Blooms of Wild Garlic fill the air and white throated dippers, wag tails and tree creeper watch on as you take a series of waterfalls and wild swimming pools. This is an ideal introduction to canyoning, an adventure activity that accesses some of Scotlands wildest and locations. 
</p>
   <p><span class="headline">Picnic Lunch</span>After a thrilling morning of jumping, sliding and abseiling into wild swimming pools enjoy a hearty picnic lunch in a scenic spot to set you up for a joyful afternoon exploring Clackmannanshire cycle routes.
</p>

{% include _images/logo3.html %}
  <p><span class="headline">Riding Adventure</span>13:30 { Ride back to Brucefield or Mountain biking adventure options and details }
</p>

<br><br>
<div id="lightgallery" class="gallery-container">
        
  <div class="gallery-img-container">
    <img loading="lazy" src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/a0706f81-4d24-4986-8a22-f7046b9cab00/w=800,fit=cover" 
   srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/a0706f81-4d24-4986-8a22-f7046b9cab00/w=320,fit=cover 320w,
           https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/a0706f81-4d24-4986-8a22-f7046b9cab00/w=480,fit=cover 480w,
           https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/a0706f81-4d24-4986-8a22-f7046b9cab00/w=800,fit=cover 800w"
   sizes="(max-width: 320px) 280px,
          (max-width: 480px) 440px,
          800px"
   alt="Description of image 2">  
  </div>

  <div class="gallery-img-container">
      <img loading="lazy" src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/9490603b-1541-4979-1b98-24f1228ebc00/w=800,fit=cover" 
     srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/9490603b-1541-4979-1b98-24f1228ebc00/w=320,fit=cover 320w,
             https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/9490603b-1541-4979-1b98-24f1228ebc00/w=480,fit=cover 480w,
             https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/9490603b-1541-4979-1b98-24f1228ebc00/w=800,fit=cover 800w"
     sizes="(max-width: 320px) 280px,
            (max-width: 480px) 440px,
            800px"
     alt="Description of image 3">
  </div>

  <div class="gallery-img-container">
    <img loading="lazy" src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/b084b872-f0d5-4eaa-be44-66b26f2feb00/w=800,fit=cover" 
     srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/b084b872-f0d5-4eaa-be44-66b26f2feb00/w=320,fit=cover 320w,
             https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/b084b872-f0d5-4eaa-be44-66b26f2feb00/w=480,fit=cover 480w,
             https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/b084b872-f0d5-4eaa-be44-66b26f2feb00/w=800,fit=cover 800w"
     sizes="(max-width: 320px) 280px,
            (max-width: 480px) 440px,
            800px"
     alt="Description of image 1">
  </div>

  </div>
  <br><br>

  <p><span class="headline">Dinner From PP</span>18:30 Dinner from PP {text from PP}
  </p>

  <p><span class="headline">Evening at Brucefield</span>{ Evening description from Brucefield }
  </p>
  </div>

  <div class="abox">
  <div class="icon"></div>
  <h2>Day Two in Detail</h2>
  
  <p><span class="headline">Alva Glen:</span>This morning we'll take you to Alva Glen. Carved from the same ancient basalt rock Alva forms a deeper, narrower and more commiting challenge. Magnificent views of the valley as we hike up to the Smugglers Cave and begin an exhilarating morning by abseiling into it. Hikers that climb down to the river often glimpse the rushing waterfall deep inside the cave and marvel at the adventure it could be to explore. Imagine there surprise as we emerge from this magnificent natural wonder and continue down the Alva burn to the hidden wonders below. 
  </p>

  <div id="lightgallery" class="gallery-container">
    <div class="gallery-img-container">
      <img loading="lazy" src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/c2906b65-0178-4dcf-5916-2d4754d6e800/w=800,fit=cover" 
       srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/c2906b65-0178-4dcf-5916-2d4754d6e800/w=320,fit=cover 320w,
               https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/c2906b65-0178-4dcf-5916-2d4754d6e800/w=480,fit=cover 480w,
               https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/c2906b65-0178-4dcf-5916-2d4754d6e800/w=800,fit=cover 800w"
       sizes="(max-width: 320px) 280px,
              (max-width: 480px) 440px,
              800px"
       alt="Description of image 1">
    </div>

    <div class="gallery-img-container">
        <img loading="lazy" src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/9e265ecc-5388-40e2-32c7-0a901314ae00/w=800,fit=cover" 
       srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/9e265ecc-5388-40e2-32c7-0a901314ae00/w=320,fit=cover 320w,
               https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/9e265ecc-5388-40e2-32c7-0a901314ae00/w=480,fit=cover 480w,
               https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/9e265ecc-5388-40e2-32c7-0a901314ae00/w=800,fit=cover 800w"
       sizes="(max-width: 320px) 280px,
              (max-width: 480px) 440px,
              800px"
       alt="Description of image 2">  
    </div>

    <div class="gallery-img-container">
        <img loading="lazy" src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/fc875885-aeb3-4cc7-a21c-67af9220cf00/w=800,fit=cover" 
       srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/fc875885-aeb3-4cc7-a21c-67af9220cf00/w=320,fit=cover 320w,
               https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/fc875885-aeb3-4cc7-a21c-67af9220cf00/w=480,fit=cover 480w,
               https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/fc875885-aeb3-4cc7-a21c-67af9220cf00/w=800,fit=cover 800w"
       sizes="(max-width: 320px) 280px,
              (max-width: 480px) 440px,
              800px"
       alt="Description of image 3">
    </div>
    
  
      </div>

  <p><span class="headline">Lunch:</span> We'll transfer you back to Brucefield for a well deserved lunch { PP }</p>

  <p><span class="headline">A relaxing afternoon</span> and evening to enjoy Brucefield { text from brucefield }.</p>
<br><br>
<div id="lightgallery" class="gallery-container">
        
  {% assign Var1 = "https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/e270bb88-77ad-4526-23ca-92cbfcb8a800" %}
  <div class="gallery-img-container">
    <img loading="lazy" 
         src="{{ Var1 }}/w=800,fit=cover" 
         srcset="{{ Var1 }}/w=320,fit=cover 320w,
                 {{ Var1 }}/w=480,fit=cover 480w,
                 {{ Var1 }}/w=800,fit=cover 800w"
         sizes="(max-width: 320px) 280px,
                (max-width: 480px) 440px,
                800px"
         alt="Description of image 2">
  </div>
  
  {% assign Var2 = "https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/e2cb3b97-a0a8-49fb-ebb0-2e8360087e00" %}
  <div class="gallery-img-container">
    <img loading="lazy" 
         src="{{ Var2 }}/w=800,fit=cover" 
         srcset="{{ Var2 }}/w=320,fit=cover 320w,
                 {{ Var2 }}/w=480,fit=cover 480w,
                 {{ Var2 }}/w=800,fit=cover 800w"
         sizes="(max-width: 320px) 280px,
                (max-width: 480px) 440px,
                800px"
         alt="Description of image 2">
  </div>

  {% assign Var3 = "https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/e4878526-9a95-4ca2-256c-339ac5f3db00" %}
  <div class="gallery-img-container">
    <img loading="lazy" 
         src="{{ Var3 }}/w=800,fit=cover" 
         srcset="{{ Var3 }}/w=320,fit=cover 320w,
                 {{ Var3 }}/w=480,fit=cover 480w,
                 {{ Var3 }}/w=800,fit=cover 800w"
         sizes="(max-width: 320px) 280px,
                (max-width: 480px) 440px,
                800px"
         alt="Description of image 2">
  </div>


  </div>

<div class="abox">
  <a class="button" href="mailto:info@scotlandscanyons.com">Enquire about this itinerary Now</a>
  </div>
  </div>


 

  {% include itineraries-loop-clacks.html %}

</main>      