---
layout: default
lightgal: true
title: "Two Day All Action Adventure Itinerary: Clackmannanshire"
excerpt: "Carved from the same ancient basalt rock Alva forms a deeper, narrower and more commiting challenge. Magnificent views of the valley as we hike up to the Smugglers Cave and begin an exhilarating morning by abseiling into it."
permalink: "_itineraries/all-action-adventure-break"
canonical_url: "https://www.scotlandscanyons.com/_itineraries/all-action-adventure-break"
css_file: gallery.css
css_file2: page-nav-2.css
priority: 0.8
changefreq: monthly
context: "https://schema.org"
type: "LocalBusiness"
name: "Scotland's Canyons"
logo: "https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/8c86e5da-8b2c-48bf-302d-617f6d0afd00/w=300,fit=scale-down"
logo2: "https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/50831c67-d2a1-40c5-9678-8edad89c1000/w=300,fit=scale-down"
logo3: "https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/0d5290d7-792d-49af-88fb-76cf13f89800/w=300,fit=scale-down"
sameAs:
  - "https://www.youtube.com/@scotlandscanyons"
  - "https://www.facebook.com/scotlandscanyons/"
  - "https://www.instagram.com/scotlandscanyons/"
  - "https://www.tiktok.com/@scotlandscanyons"
  - "https://business.google.com/n/5753756304371722257/searchprofile?hl=en-GB" #home
  - "https://business.google.com/n/14575729591246117293/searchprofile?hl=en-GB" #dollar
  - "https://www.visitscotland.com/info/see-do/scotlands-canyons-p2831561" #dollar
  - "https://www.visitscotland.com/info/see-do/scotlands-canyons-p2838501" #alva
  - "https://www.visitscotland.com/info/see-do/discover-canyoning-p2542171"
  - "https://www.visitscotland.com/info/tours/the-ultimate-canyoning-experience-9b13b3c4"
  - "https://www.visitscotland.com/info/tours/private-canyoning-in-alva-glen-561884a9"
  - "https://www.visitscotland.com/info/tours/discover-canyoning-in-dollar-glen-bd8c6112"
contactPoint:
  type: "ContactPoint"
  telephone: "+44 7868 367180"
  contactType: "customer service"
address:
  type: "PostalAddress"
  streetAddress: "Glen"
  addressLocality: "Dollar"
  addressRegion: "Clackmannanshire"
  postalCode: "FK14 7PP"
  addressCountry: "Scotland"
schema_image:
  context: "http://schema.org"
  type: "ImageObject"
  name: "ALva Glen View on Canyoning Adventures"
  author:
    type: "Organization"
    name: "Adventure Logic Ltd"
  copyrightHolder:
    type: "Organization"
    name: "Adventure Logic Ltd"  
  uploadDate: "2024-02-09"
  page.acquireLicensePage: scotlandscanyons.com
  page.license: scotlandscanyons.com/privacy-policy.pdt  
image: "https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/298045ca-1fd2-4f4a-8d12-f488dd2e7700/w=1200,fit=cover"
imagewidth: 3693
imageheight: 4616 
description: "Alva Glen View on Canyoning and biking adventure holiday in Clackmannanshire, Scotland, near Edinburgh and Glasgow"
meta_description: "Hidden Gem | Discover your incredible mountain biking and canyoning outdoor adventure holiday in Scotland | Under an hours drive from Edinburgh or Glasgow"

---

{% include topbox.html %}

<main>
   
  <div class="textbox">
    {% include _images/logo.html %}
    <h2>3 night itinerary Clackmannanshire<br><span class="subtitle">Canyoning & Biking</span></h2>
    <br>
    <div class="dark-logo">
    {% include _images/logo2.html %}
    </div>
    <br><br>
    <h2>Arrival and Accomodation</h2>

    <p><span class="star">&#9733;</span>&nbsp;<span class="headline">Brucefield Estate</span>&nbsp;Surround yourself with the warmth and scent of pure wood: as soon as you walk in the scent is unmistakeable.  

      Leave the world of 9-5 completely behind and escape to a luxurious Scottish getaway in the woodlands that's accessible yet remote.   
      
      An intricate balance between modernity and traditional: the luxuries of nature along with the modern world are what you will find here. <a href="/recommended-accommodation-near-dollar-glen-or-alva-glen"> read more about brucefield schenbothies</a></p>
  
    </div>

  <div class="elfsight-app-4b167d92-b93a-4ba6-9904-d7a6ac5a1698" data-elfsight-app-lazy></div>

  <div class="abox">
   <h2>Day One</h2>
   
   <p>wake up to a delicious locally-sourced welcome breakfast hamper with sourdough bread, jam & honey, butter, milk and eggs.</p> 

    <h2>{ breakfast hamper Photos ? }</h2>
    <br><br>

    {% include _images/logo.html %}
   <p><span class="headline">Meet you guide:</span> Start your adventure from your Accommodation and transfer to Dollar Glen where an enchanting mornings adventure awaits.
  </p> 
  </div>
  
  <div class="elfsight-app-8515b55c-38ed-4744-a837-6a45749ba2b6" data-elfsight-app-lazy></div>
   
  <div class="abox">
   <p><span class="headline">Learn fun new skills:</span>  in a safe place before exploring a 400 million year old chasm of Volcanic rock. This ancient moss and fern covered glen if full of magic and wonder. Blooms of Wild Garlic fill the air and white throated dippers, wag tails and tree creeper watch on as you take a series of waterfalls and wild swimming pools. This is an ideal introduction to canyoning, an adventure activity that accesses some of Scotlands wildest and locations. 
</p>
   <p><span class="headline">Picnic Lunch</span>After a thrilling morning of jumping, sliding and abseiling into wild swimming pools enjoy a hearty picnic lunch in a scenic spot to set you up for an exhiarating afternoon exploring a next level Challenge.
</p>
</div>

<div class="abox">

  <h2>Day Two</h2>
  
  <p><span class="headline">Alva Glen:</span>A short transfer in we'll arive at Alva Glen. Carved from the same ancient basalt rock Alva forms a deeper, narrower and more commiting challenge. Magnificent views of the valley as we hike up to the Smugglers Cave and begin an exhilarating morning by abseiling into it. Hikers that climb down to the river often glimpse the rushing waterfall deep inside the cave and marvel at the adventure it could be to explore. Imagine there surprise as we emerge from this magnificent natural wonder and continue down the Alva burn to the hidden wonders below. 
  </p>

  </div>

  {% include _gallery/alva.html %}

  <div class="abox">
    {% include _images/logo2.html %}
    <h2>Back to Brucefield</h2>
    <p>We'll drop you back of at brucefield estate in time to relax and recouperate in the tranquility of the forset. You can order in your shop for a self catering dinner or we recomend a scrumptuous ordered in from Polly's Pantry</p>

  </div>

  <div class="abox">

  <h2>Day 2</h2>

{% include _images/logo3.html %}
  <p><span class="headline">Riding Adventure</span>{ Full Day itinerary from Steve }
</p>

<br><br>
<div id="lightgallery" class="gallery-container">
        
  <div class="gallery-img-container">
    <img loading="lazy" src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/a0706f81-4d24-4986-8a22-f7046b9cab00/w=800,fit=cover" 
   srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/a0706f81-4d24-4986-8a22-f7046b9cab00/w=320,fit=cover 320w,
           https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/a0706f81-4d24-4986-8a22-f7046b9cab00/w=480,fit=cover 480w,
           https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/a0706f81-4d24-4986-8a22-f7046b9cab00/w=800,fit=cover 800w"
   sizes="(max-width: 320px) 280px,
          (max-width: 480px) 440px,
          800px"
   alt="Description of image 2">  
  </div>

  <div class="gallery-img-container">
      <img loading="lazy" src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/9490603b-1541-4979-1b98-24f1228ebc00/w=800,fit=cover" 
     srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/9490603b-1541-4979-1b98-24f1228ebc00/w=320,fit=cover 320w,
             https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/9490603b-1541-4979-1b98-24f1228ebc00/w=480,fit=cover 480w,
             https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/9490603b-1541-4979-1b98-24f1228ebc00/w=800,fit=cover 800w"
     sizes="(max-width: 320px) 280px,
            (max-width: 480px) 440px,
            800px"
     alt="Description of image 3">
  </div>

  <div class="gallery-img-container">
    <img loading="lazy" src="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/b084b872-f0d5-4eaa-be44-66b26f2feb00/w=800,fit=cover" 
     srcset="https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/b084b872-f0d5-4eaa-be44-66b26f2feb00/w=320,fit=cover 320w,
             https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/b084b872-f0d5-4eaa-be44-66b26f2feb00/w=480,fit=cover 480w,
             https://imagedelivery.net/U2IC6mrT6VB6UTYuhB74NA/b084b872-f0d5-4eaa-be44-66b26f2feb00/w=800,fit=cover 800w"
     sizes="(max-width: 320px) 280px,
            (max-width: 480px) 440px,
            800px"
     alt="Description of image 1">
  </div>

  </div>
  <br><br>

  <p><span class="headline">Evening at Brucefield</span>{ Evening description from Brucefield, camp fire? bat watching etc..?  }
  </p>
  </div>

  <a class="button" href="mailto:info@scotlandscanyons.com">Enquire about this itinerary Now</a>

  {% include itineraries-loop-clacks.html %}

</main>      